<empty-page ng-if="!gaom.notEmptySection(gaom.gameAccounts)"></empty-page>
<md-content layout-xs="row" layout-gt-xs="row" layout-wrap>
    <md-card ng-repeat="gameAccount in gaom.gameAccounts"
             flex-xs="100" flex-sm="45" flex-md="45" flex-lg="30" flex-gt-lg="20">
        <md-card-header>
            <md-card-avatar>
                <md-tooltip>
                    <span translate
                          ng-if="gameAccount.status == gaom.statuses.onVerification">
                        В очереди
                    </span>
                    <span translate
                          ng-if="gameAccount.status == gaom.statuses.moderatorIsWorking">
                        Модератор работает
                    </span>
                    <span translate
                          ng-if="gameAccount.status == gaom.statuses.verificationFail">
                        Найдены ошибки
                    </span>
                </md-tooltip>
                <get-icon-by-game-status status="gameAccount.status"></get-icon-by-game-status>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">
					{{gameAccount.category.name}}
				</span>
                <br>
                <span class="md-subhead">{{gameAccount.creator.username}}</span>
            </md-card-header-text>
        </md-card-header>
        <a ng-href="/game/on-moderation/view/{{gameAccount._id}}">
            <img ng-if="gameAccount.images[0]"
                 ng-src="{{gameAccount.images | displayMainImage}}" class="md-card-image" alt="main image">
        </a>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    {{gameAccount.price}} <span class="fa fa-rub"></span>
                </span>
                <span class="md-headline">{{gameAccount.name}}</span>
                <span class="md-subhead">{{gameAccount.description}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</md-content>