<md-card id="game-view" class="md-padding">
    <md-card-title>
		<md-card-avatar>
			<img class="md-user-avatar" src="{{mgav.gameAccount.category.image | displayImage}}" alt="game-category">
		</md-card-avatar>
        <md-card-title-text layout="column">
            <span class="md-title">
				{{mgav.gameAccount.category.name}}
			</span>
            <span class="md-subhead">
                {{mgav.gameAccount.description}}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-title-media layout="row" layout-align="start start" layout-margin>
		<ng-gallery ng-if="mgav.images" images="mgav.images"></ng-gallery>
    </md-card-title-media>
    <md-card-actions ng-if="mgav.allowEdit(mgav.gameAccount.status)" layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-href="/game/edit/{{mgav.gameAccount._id}}">
            <span class="md-grid-text" translate>
                Редактировать игру
            </span>
        </md-button>
    </md-card-actions>
</md-card>

<chat create-method="mgav.chat.createCommentMethodName"
      create-param="mgav.chat.createCommentParam"
      comments-subscribe="mgav.chat.commentsSubscribe"
      subscribe-method="mgav.chat.subscribeMethod"
      comment-key="mgav.chat.commentKey"
></chat>
