<h2 class="md-title" translate>
    Введите данные для входа
</h2>
<md-content layout="column">
    <form name="entranceForm" ng-submit="login.login()" layout="column">
        <md-input-container>
            <label translate>имя пользователя</label>
            <input required name="username" ng-model="login.credentials.email"
                   ng-disabled="query" ng-pattern="emailPattern">

            <div ng-messages="entranceForm.username.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="pattern" translate>Введите email в формате address@domain.ru</div>
                <div ng-message="notFound" translate>Пользователь с таким email не найден</div>
                <div ng-message="userBan" translate>Пользователь заблокирован</div>
                <div ng-message="userNotConfirmedEmail" translate>Вы не подтвердили email</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label translate>пароль</label>
            <input required name="password" ng-minlength="6"
                   ng-disabled="query" type="password" ng-model="login.credentials.password">

            <div ng-messages="entranceForm.password.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="minlength" translate>Не меньше 6 символов</div>
                <div ng-message="notCorrect" translate>Не верный пароль</div>
            </div>
        </md-input-container>
        <md-input-container layout="row">
            <md-button class="md-raised md-primary" type="submit"
                       ng-disabled="query || login.entranceForm.$invalid()"
                       ng-keyup="$event.keyCode == 13 ? login.entranceForm.submit() : null" translate>
                Вход
            </md-button>
            <md-button class="md-raised" type="button" ng-href="/restore-pass" ng-disabled="query" translate>
                Забыли пароль?
            </md-button>
        </md-input-container>
    </form>

</md-content>

<social-auth></social-auth>