<section>
    <h2 class="md-title" translate>
        Добавьте вещь, которую хотите продать
    </h2>
    <md-content layout="column" flex-xs="100" flex-sm="80" flex-md="80" flex-lg="70" flex-gt-lg="60">

        <form name="addThingForm" validator ng-submit="vm.saveThing()" class="md-padding" layout="column">

            <fieldset class="standard" id="common-data" layout="row">
                <legend translate>Общие сведения</legend>
                <md-input-container>
                    <label translate>Добавьте название</label>
                    <input autocomplete="off" required id="name" name="name"
                            ng-disabled="vm.queryProcess"
                            ng-maxlength="{{vm.validateData.nameMax}}"
                            ng-model="vm.thing.name">
                    <div ng-messages="addThingForm.name.$error">
                        <div ng-message="required" translate>Обязательное поле!</div>
                        <div ng-message="maxlength" translate>Не больше {{vm.validateData.nameMax}} символов</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label translate>Добавьте описание</label>
                    <textarea required id="description" name="description"
                                ng-disabled="vm.queryProcess"
                                ng-maxlength="{{vm.validateData.descriptionMax}}"
                                ng-model="vm.thing.description">
                    </textarea>

                    <div ng-messages="addThingForm.description.$error">
                        <div ng-message="required" translate>Обязательное поле!</div>
                        <div ng-message="maxlength" translate>Не больше {{vm.validateData.nameMax}} символов</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label translate>Выберите категорию</label>
                    <md-select required id="category" name="category" ng-model="vm.thing.category">
                        <md-option ng-repeat="ctg in vm.gameCategory" value="{{++$index}}">
                            {{ctg}}
                        </md-option>
                    </md-select>
                    <div ng-messages="addThingForm.category.$error">
                        <div ng-message="required" translate>Обязательное поле!</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label translate>Добавьте цену</label>
                    <input autocomplete="off" id="price" name="price" type="number"
                           max="{{vm.validateData.priceMax}}"
                           ng-disabled="vm.queryProcess"
                           ng-model="vm.thing.price">
                    <div ng-messages="addThingForm.price.$error">
                        <div ng-message="number" translate>Обязательное поле!</div>
                        <div ng-message="max" translate>
                            Не больше {{vm.validateData.priceMax}} <span class="fa fa-rub"></span>
                        </div>
                    </div>
                </md-input-container>
                <div class="md-caption" translate>
                    С учетом комисси {{vm.commission}}%
                    цена {{vm.calcCommission(vm.thing.price)}}
                    <span class="fa fa-rub"></span>
                </div>
            </fieldset>

            <fieldset ng-if="!vm.queryProcess" class="standard" id="image-data">
                <legend translate>Фотогаллерея аккаунта</legend>

                <image-upload-and-crop is-array="true" img-obj="vm.thing"></image-upload-and-crop>

                <div ng-if="vm.images.length > 0" layout="column" class="images-container-title">
                    <div translate class="md-body-1">
                        Нажмите на изображение, чтобы удалить. Первое изображение в списке будет отображаться как главное
                    </div>
                    <div layout="row" layout-wrap>
                        <div class="image-preview">
                            <img draggable="false" ng-repeat="image in vm.images track by $index"
                                 ng-src="{{ image.url({store: 'thumbnail'}) }}"
                                 ng-click="vm.removeImage(image.originalId)">
                        </div>
                    </div>
                </div>

                <input required name="images" class="input-image-file" ng-model="vm.thing.images[0]">

                <div class="validation-messages" ng-messages="addThingForm.images.$error">
                    <div ng-message="required" translate>Обязательное действие! Добавите минимум одно изображение!</div>
                </div>
            </fieldset>

            <md-button type="submit" ng-disabled="vm.queryProcess" class="md-raised md-primary" translate>
                Добавить вещь
            </md-button>

        </form>

    </md-content>
</section>