<empty-page ng-if="!thingSalesList.notEmptySection(thingSalesList.thingSales)"></empty-page>
<md-content ng-if="thingSalesList.notEmptySection(thingSalesList.thingSales)" class="md-padding" layout="row" ng-cloak layout-wrap>
    <md-card ng-repeat="thingSale in thingSalesList.thingSales"
             flex-xs="100" flex-sm="45" flex-md="45" flex-lg="30" flex-gt-lg="20">
        <md-card-header>
            <md-card-avatar>
                <get-category-logo-by-id src-base-64="thingSalesList.getCategoryLogo(thingSale.category)"></get-category-logo-by-id>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title" get-category-name-by-id category="thingSale.category"></span>
            </md-card-header-text>
        </md-card-header>
        <a href="/thing/view/{{thingSale._id}}">
            <md-tooltip>
                <span translate>Просмотр</span>
            </md-tooltip>
            <img ng-src="{{thingSalesList.getImageById(thingSale.images[0])}}" class="md-card-image" alt="main image">
        </a>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    {{thingSale.price}} <span class="fa fa-rub"></span>
                </span>
                <span class="md-headline">{{thingSale.name}}</span>
                <span class="md-subhead">
                    {{thingSale.description | limitTo: 40}}
                    {{thingSale.description.length > 40 ? '...' : ''}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start-center">
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-tooltip>
                    <span translate>Поделиться</span>
                </md-tooltip>
                <md-icon md-svg-icon="social:ic_share_24px"></md-icon>
            </md-button>
            <span class="md-subhead">{{thingSale.createdAt|date:"dd MMMM yyyy"}}</span>
        </md-card-actions>
    </md-card>

</md-content>