<md-card id="thing-view" class="md-padding">
    <md-card-title>
        <md-card-avatar>
            <get-category-logo-by-id image-class="logo-padding"
                                     src-base-64="thingView.getCategoryLogo(thingView.thing.category)"></get-category-logo-by-id>
        </md-card-avatar>
        <md-card-title-text layout="column">
            <span class="md-headline"
                  get-category-name-by-id
                  category="thingView.thing.category">
            </span>
            <span class="md-subhead">
                {{thingView.thing.name}}
            </span>
            <span class="md-subhead">
                {{thingView.thing.description}}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-title-media layout="row" layout-align="start start" layout-margin>
        <div ng-repeat="image in thingView.getImagesLinksById(thingView.thing.images)">
            <img ng-if="$index==0" ng-src="{{image}}" class="md-card-image main-image">
            <div ng-if="$index!=0" id="gallery-container" layout="row" layout-align="start start" layout-margin layout-wrap>
                <img ng-src="{{image}}" class="md-card-image">
            </div>
        </div>
    </md-card-title-media>
    <md-card-actions ng-if="thingView.visibilityActionButton(thingView.thing)" layout="row" layout-align="end center">
        <like object-type="thingView.like.objectType"
              object-id="thingView.thing._id">
        </like>
        <md-button class="md-grid-item-content" ng-click="gameView.createDeal()">
            <md-icon aria-label="profile" md-svg-icon="editor:ic_attach_money_24px"></md-icon>
            <span class="md-grid-text">Купить</span>
        </md-button>
    </md-card-actions>
</md-card>
<chat create-method="thingView.chat.createCommentMethodName"
      create-param="thingView.chat.createCommentParam"
      comments-subscribe="thingView.chat.commentsSubscribe"
      subscribe-method="thingView.chat.subscribeMethod"
      comment-key="thingView.chat.commentKey"
      object-id="thingView.thing._id"
      comment-type="thingView.chat.commentType">
</chat>