<empty-page ng-if="!userThings.notEmptySection(userThings.thingPublic)"></empty-page>
<div ng-if="userThings.notEmptySection(userThings.thingPublic)">
    <md-content layout-xs="row" layout-gt-xs="row" layout-wrap>
        <md-card ng-repeat="thing in userThings.thingPublic" id="thing-view"
                 flex-xs="100" flex-sm="45" flex-md="45" flex-lg="30" flex-gt-lg="20">
            <md-card-header>
                <md-card-avatar>
                    <get-category-logo-by-id src-base-64="userThings.getCategoryLogo(thing.category)"></get-category-logo-by-id>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title" get-category-name-by-id category="thing.category"></span>
                </md-card-header-text>
            </md-card-header>
            <a href="/thing/view/{{thing._id}}">
                <md-tooltip>
                    <span translate>Просмотр</span>
                </md-tooltip>
                <img ng-src="{{userThings.getMainImage(thing.images)}}" class="md-card-image" alt="main image">
            </a>
            <md-card-title>
                <md-card-title-text layout="column">
                <span class="md-headline">
                    {{thing.price}} <span class="fa fa-rub"></span>
                </span>
                <span class="md-headline">
                    {{thing.name}}
                </span>
                <span class="md-subhead">
                    {{thing.description}}
                </span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </md-content>

</div>