<md-dialog aria-label="Alert">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>
                    Упс...
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;">
            <div class="md-dialog-content" translate layout-padding layout-margin>
                Ваш аккаунт заблокирован, вам нужно связаться с техподдержкой сайта.
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                <span translate>Закрыть</span>
            </md-button>
            <md-button ng-click="success()">
                <span translate>Связаться</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>