<md-dialog aria-label="Confirm purchases">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>
                    Выберите тип жалобы
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;">
            <div class="md-dialog-content" translate layout-padding layout-margin>
                <md-radio-group ng-model="types">
                    <md-radio-button value="1" class="md-primary">
                        <span translate>
                            Спам
                        </span>
                    </md-radio-button>
                    <md-radio-button value="2" class="md-primary">
                        <span translate>
                            Оскорбление
                        </span>
                    </md-radio-button>
                    <md-radio-button value="3" class="md-primary">
                        <span translate>
                            Контент 18+
                        </span>
                    </md-radio-button>
                    <md-radio-button value="4" class="md-primary">
                        <span translate>
                            Продвижение наркотиков
                        </span>
                    </md-radio-button>
                    <md-radio-button value="5" class="md-primary">
                        <span translate>
                            Детская порнография
                        </span>
                    </md-radio-button>
                    <md-radio-button value="6" class="md-primary">
                        <span translate>
                            Экстремизм и насилие
                        </span>
                    </md-radio-button>
                </md-radio-group>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                <span translate>Отмена</span>
            </md-button>
            <md-button ng-click="success()">
                <span translate>Подтведить</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>