<md-dialog aria-label="Confirm purchases">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>
                    Подтвердите покупку
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;">
            <div class="md-dialog-content" translate layout-padding layout-margin>
                Вы не можете отменить покупку и принимаете все условия наших правил
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-href="/rules?scrollTo=salePurchase" target="_blank" md-autofocus>
                <span translate>Правила покупки</span>
            </md-button>
            <span flex></span>
            <md-button class="md-raised" ng-click="cancel()">
                <span translate>Отмена</span>
            </md-button>
            <md-button class="md-raised md-primary" ng-click="success()">
                <span translate>Согласен</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>