<md-dialog aria-label="Social-share">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 translate>
					Поделитесь со своими друзьями!
				</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="max-width:800px;max-height:810px;">
			<section layout="row" layout-align="space-around center" layout-wrap style="padding: 10px; margin: 10px;">
				<md-button aria-label="VK"
						   ng-click="cancel()"
						   socialshare
						   socialshare-provider="vk"
						   socialshare-trigger="click"
						   socialshare-text="{{socialshareText}}"
						   socialshare-url="{{socialshareUrl}}">
					<span class="fa fa-vk social-icon-font-size"></span>
				</md-button>
				<md-button aria-label="facebook"
						   ng-click="cancel()"
						   socialshare
						   socialshare-provider="facebook"
						   socialshare-trigger="click"
						   socialshare-text="{{socialshareText}}"
						   socialshare-url="{{socialshareUrl}}">
					<span class="fa fa-facebook social-icon-font-size"></span>
				</md-button>
			</section>
		</md-dialog-content>
	</form>
</md-dialog>