<h1 translate>Связаться с нами</h1>
<section class="md-whiteframe-3dp" layout="column" layout-align="center start" style="padding: 45px">
	<div>
		<span class="fa fa-skype"></span>
		<span>salegame.net</span>
	</div>
	<div>
		<span class="fa fa-envelope"></span>
		<span>support@salegame.net</span>
	</div>
</section>