<div ng-if="pageLoad" id="empty-page" layout="column" layout-align="start center" class="md-title">
    <div class="md-headline" translate>В этом разделе пока ничего нет...</div>
    <div class="fa fa-meh-o"></div>
    <div class="md-subhead" translate>Попробуйте позже, или загляните в другой раздел</div>
</div>
<div ng-if="!pageLoad" layout="column" layout-align="center center" style="width: 100%; height: 80%;">
    <md-progress-circular md-mode="indeterminate" md-diameter="128"></md-progress-circular>
</div>