<section id="contents" layout="column" layout-align="start">
	<md-button class="md-primary" ng-click="vm.scrollTopAction('intro')">
		Приветствие
	</md-button>
	<md-button class="md-primary" ng-click="vm.scrollTopAction('adsType')">
		Типы объявлений
	</md-button>
	<md-button class="md-primary" ng-click="vm.scrollTopAction('startSale')">
		Как разместить аккаунт на продажу, советы по повышению эффективности продаж.
	</md-button>
	<md-button class="md-primary" ng-click="vm.scrollTopAction('howBuy')">
		Как купить аккаунт, способы покупки
	</md-button>
	<md-button class="md-primary" ng-click="vm.scrollTopAction('moneyOperation')">
		Операции со счетом (пополнение/вывод)
	</md-button>
</section>

<div layout="column" layout-align="space-between">
	<section id="intro">
		<div layout="row" layout-align="center center">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Yelbvb5AOPA" frameborder="0" allowfullscreen></iframe>
		</div>
		<h2>Вас приветствует биржа игровых аккаунтов SaleGame!</h2>
		<p>
			SaleGame — это первая международная полностью автоматизированная торговая платформа для покупки и продажи игровых аккаунтов
		</p>
		<p>
			Вам больше не нужны дополнительные мессенджеры — весь процесс сделки осуществляется прямо на сайте.
		</p>
		<p>
			Ключевой особенностью SaleGame является сервис безопасной сделки, который позволяет совершить сделку буквально в пару кликов,
			минуя продолжительную процедуру онлайн проверки
		</p>
		<p>
			Дружелюбный дизайн и интуитивно понятный интерфейс позволят вам легко ориентироваться по сайту и быстрее добиться желаемого результата.
		</p>
		<p>
			Специально для своих клиентов мы запустили поддержку в формате 24/7 — мы всегда на связи и готовы осветить вам любой возникший вопрос.
		</p>
		<p>
			На нашем сайте вы сможете найти аккаунты всех популярных игр на любой вкус и кошелек
		</p>
	</section>
	<section id="adsType">
		<h2>
			Типы объявлений
		</h2>
		<p>
			Если вы хотите продать аккаунт быстрее - можно купить рекламное объявление. Есть два вида таких объявлений.
			Первый - "Цветное в топе" это объявление будет показано в самом верху и выделено цветом.
			Второй - "Цветное за топом" данные объявления идут сразу за "Цветное в топе" а так же выделено цветом.
			Для рекламы своего аккаунта можно выбрать тот вариант, который вам подходит.
		</p>
	</section>
	<section id="startSale">
		<h2>Как разместить аккаунт на продажу, способы продажи (предварительная модерация/с посредником), советы по повышению эффективности продаж.</h2>
		<p>
			Для того чтобы начать продавать игровые аккаунты вам необходимо зарегистрироваться.
			Нажимаем кнопку "Регистрация/Вход" и заполняем необходимые поля, также можно воспользоваться авторизацией через социальные сети.
			Чтобы сделать пользование сайтом максимально комфортным, рекомендуем применить сервис уведомлений по электронной почте.
			Для этого нужно зайти в свой профиль и нажать кнопку "Выслать подтверждение".
			На вашу электронную почту придет письмо с ссылкой для активации сервиса уведомлений.
		</p>
		<p>
			Теперь чтобы разместить аккаунт на продажу нажимаем "Добавить", заполняем поля.
			Особое внимание следует уделить полю "Режим продажи".
			Здесь мы указываем способ продажи.
			Наш сайт поддерживает уникальный максимально упрощенный и автоматизированный способ продажи "С предварительной модерацией",
			выбирая его, вы увидите дополнительные поля, в которых следует указать доступы к аккаунту.
		</p>
		<p>
			Затем мы проверяем аккаунт на соответствие описанию и на отсутствие каких-либо привязок к аккаунту
			(чтобы исключить дальнейшее восстановление доступа к игре продавцом уже после завершения сделки).
			Если проверка прошла успешно, ваш аккаунт размещается в каталоге с измененными логином и паролем,
			и теперь в случае покупки вам не нужно делать абсолютно ничего, кроме как получить свои деньги.
		</p>
		<p>
			Покупатель просто оплачивает стоимость вашего аккаунта, получает к нему доступ, а деньги тут же переходят на ваш счет.
			Стоит попробовать этот способ один раз — и вы уже не вернетесь к обычной процедуре сделки.
			Если же у модератора возникли какие-то вопросы (например, несоответствие аккаунта описанию),
			вы получите письмо для устранения несоответствия.
		</p>
		<p>
			Второй способ сделки — классический, это сделка "С посредником".
			Вы выкладываете аккаунт и точное описание к нему, покупатель находит ваш аккаунт в каталоге и нажимает "Купить",
			после этого каждая сторона получает уведомление и письмо на электронную почту (если электронная почта подтверждена),
			выходит чат сделки, в котором участвуете вы, покупатель и представитель SaleGame,
			который является гарантом и проводит модерацию аккаунта, то есть проверяет его на соответствие описанию и отсутствия
			каких либо привязок к аккаунту (чтобы исключить дальнейшее восстановление доступа продавцом после завершения сделки).
		</p>
		<p>
			Имеется общий чат сделки и приватный чат с представителем сайта, в который вы и предоставляете доступы к аккаунту для проверки.
			Проверка происходит в онлайн режиме, в случае несоответствий или каких-либо текущих вопросов — всё обсуждается в чате сайта.
			В случае успешной модерации покупатель получает доступ к аккаунту (предварительно измененные модератором), а продавец —
			денежные средства за свой аккаунт. Если же у модератора возникли какие-то вопросы (например, несоответствие аккаунта описанию),
			это будет указано в чате для устранения и продолжения процедуры сделки.
			После покупки, модератор спрашивает согласие на закрытие сделки.
		</p>
		<p>
			Чтобы ускорить продажу вашего аккаунта мы предусмотрели простые, но действенные сервисы.
			За символическое вознаграждение вы можете выделить свое предложение ярким цветом и разместить его в топе каталога,
			либо просто выделить его цветом, в этом случае оно будет следовать за предложениями размещенными в топе.
			Как показывает практика, применение данного метода в сочетании с адекватной ценой значительно повышает эффективность продажи.
		</p>
	</section>
	<section id="howBuy">
		<h2>Как купить аккаунт, способы покупки (мгновенная сделка / с посредником)</h2>
		<p>
			Для того чтобы купить игровой аккаунт вам необходимо зарегистрироваться.
			Нажимаем кнопку "Регистрация / Вход" и заполняем необходимые поля, также можно воспользоваться авторизацией через
			социальные сети. Чтобы сделать пользование сайтом максимально комфортным, рекомендуем применить сервис уведомлений
			по электронной почте. Для этого нужно зайти в свой профиль и нажать кнопку "Выслать подтверждение".
			На вашу электронную почту придет письмо с ссылкой для активации сервиса уведомлений.
		</p>
		<p>
			Теперь весь каталог аккаунтов SaleGame доступен вам для покупки.
			Быстро найти подходящий аккаунт поможет поиск "по категории" и "по типу".
			Выбрав интересное предложение и кликнув на него, вы можете просмотреть подробное описание и комментарии других пользователей.
		</p>
		<p>
			Чтобы приобрести аккаунт нажмите "Купить". Если продаваемый аккаунт был добавлен "С предварительной модерацией",
			то сделка произойдет мнгновенно, так как аккаунт уже проверен модератором на соответствие описанию и на отсутствие
			каких-либо привязок (чтобы исключить дальнейшее восстановление доступа к игре продавцом уже после завершения сделки).
			Вы получите доступ к аккаунту (новый логин и пароль), а с вашего счета спишется его стоимость в пользу продавца.
			Это инновационный способ сделки, отличающийся быстротой и удобством при том же уровне безопасности как и
			традиционные сделки с игровыми аккаунтами.
		</p>
		<p>
			Если же аккаунт был добавлен для продажи классическим способом "с посредником", то после нажатия кнопки "Купить"
			каждая сторона получает уведомление и письмо на электронную почту (если электронная почта подтверждена),
			выходит чат сделки, в котором участвуете вы, продавец и представитель SaleGame, который является гарантом,
			и проводит модерацию аккаунта, то есть проверяет его на соответствие описанию и отсутствия каких-либо привязок к аккаунту.
		</p>
		<p>
			Имеется общий чат сделки и приватный чат с представителем сайта.
			Проверка происходит в онлайн режиме, в случае несоответствий или каких-либо текущих вопросов — всё обсуждается в чате сайта.
			В случае успешной модерации покупатель получает доступ к аккаунту (предварительно измененные модератором),
			а продавец — денежные средства за свой аккаунт. Если же у модератора возникли какие-то вопросы
			(например, несоответствие аккаунта описанию), это будет указано в чате для устранения и продолжения процедуры сделки.
		</p>
	</section>
	<section id="moneyOperation">
		<h2>Операции со счетом (пополнение/вывод)</h2>
		<p>
			На сайте SaleGame каждый зарегистрированный пользователь имеет персональный счет для совершения торговых операций,
			пополнения и вывода денежных средств.
		</p>
		<p>
			Для того чтобы вывести денежные средства, полученные с продажи игрового аккаунта, выбираем в меню "Мой счет"
			затем "вывести", заполняем поля и нажимаем "Отправить заявку на вывод денежных средств", здесь же вы можете отслеживать
			статус заявки. По общему правилу заявка на нашем сайте обрабатывается в порядке очереди, но не более чем в течении суток.
			Далее заявка поступает на обработку в банк. Время обработки в банке зависит от особенностей конкретного банка,
			как правило, это занимает от 1го до 5ти рабочих дней.
		</p>
		<p>
			Для того чтобы пополнить счет - выбираем в меню "Мой счет", затем "пополнить", выбираем платежную систему,
			вводим нужную сумму и нажимаем "пополнить". Открывается окно платежной системы,
			в котором нужно ввести личные данные для осуществления финансовой операции.
		</p>
	</section>
</div>

<md-button ng-if="showScrollTop" id="scrollTop" class="md-fab md-primary"
		   ng-click="vm.scrollTopAction('contents')"
		   aria-label="Go-to-head">
	<md-icon md-svg-icon="navigation:ic_arrow_drop_up_24px"></md-icon>
</md-button>