<md-toolbar layout="row">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center" hide-gt-xs>
        <div layout="row" layout-align="start center">
            <md-button ng-click="main.toggleSidenav('left')" class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="navigation:ic_menu_24px"></md-icon>
            </md-button>
			<a ng-href="/public">
				<img src="logo.svg" style="height: 60px;">
			</a>
        </div>
        <div layout="row" layout-align="center center">
            <div ng-if="!main.isLoggedIn()" layout="row" layout-align="center center">
                <md-button class="md-icon-button" ng-href="/login">
                    <md-icon aria-label="login" md-svg-icon="action:ic_input_24px"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-href="/registration">
                    <md-icon aria-label="registration" md-svg-icon="action:ic_assignment_24px"></md-icon>
                </md-button>
            </div>
            <div ng-if="main.isLoggedIn()" layout="row" layout-align="center center">
                <md-button class="md-icon-button" ng-href="/account/edit">
                    <md-icon aria-label="edit-account" md-svg-icon="social:ic_person_24px"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="main.logout()">
                    <md-icon aria-label="exit" md-svg-icon="action:ic_exit_to_app_24px"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center" hide-xs>
        <div layout="row" layout-align="start center">
            <md-button ng-click="main.toggleSidenav('left')" class="md-icon-button" hide-gt-sm>
                <md-icon aria-label="Menu" md-svg-icon="navigation:ic_menu_24px"></md-icon>
            </md-button>
            <a ng-href="/public">
				<img src="logo.svg" style="height: 65px;" hide-gt-sm>
				<img src="logo.svg" style="height: 95px;" hide-sm>
			</a>
        </div>
        <div layout="row" layout-align="center center">
            <div ng-if="!main.isLoggedIn()" layout="row" layout-align="center center">
                <md-button class="md-grid-item-content" ng-href="/login">
                    <md-icon aria-label="login" md-svg-icon="action:ic_input_24px"></md-icon>
                    <span class="md-grid-text" translate>Вход</span>
                </md-button>
                <md-button class="md-grid-item-content" ng-href="/registration">
                    <md-icon aria-label="registration" md-svg-icon="action:ic_assignment_24px"></md-icon>
                    <span class="md-grid-text" translate>Регистрация</span>
                </md-button>
            </div>
            <div ng-if="main.isLoggedIn()" layout="row" layout-align="center center">
                <md-button class="md-grid-item-content" ng-href="/account/edit">
                    <md-icon aria-label="account-edit" md-svg-icon="social:ic_person_24px"></md-icon>
                    <span class="md-grid-text">
                        {{ main.currentUser().profile.name }}
                    </span>
                </md-button>
                <md-button class="md-grid-item-content" ng-click="main.logout()">
                    <md-icon aria-label="logout" md-svg-icon="action:ic_exit_to_app_24px"></md-icon>
                    <span class="md-grid-text" translate>
                        Выход
                    </span>
                </md-button>
            </div>
        </div>
    </div>
</md-toolbar>
<md-progress-linear class="md-warn"
                    http-loader
                    md-mode="indeterminate"
                    style="position: absolute; z-index: 999;">
</md-progress-linear>
<div id="main-app-value" layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-2dp" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">
        <div ng-if="!main.isLoggedIn()">
            <md-subheader translate>Купить</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/public" is-active-link>
                <md-icon aria-label="public" md-svg-icon="social:ic_whatshot_24px"></md-icon>
                <span class="md-grid-text" translate>Каталог</span>
            </md-button>
			<md-subheader translate>Обратная связь</md-subheader>
			<md-button class="md-grid-item-content" ng-href="/contacts" is-active-link>
				<md-icon aria-label="marks-game" md-svg-icon="communication:ic_contacts_24px"></md-icon>
				<span class="md-grid-text" translate>Контакты</span>
			</md-button>
			<md-button class="md-grid-item-content bottom" ng-href="/faq" is-active-link>
				<md-icon aria-label="team" md-svg-icon="action:ic_question_answer_24px"></md-icon>
				<span class="md-grid-text" translate>FAQ</span>
			</md-button>
            <div hide-gt-sm>
                <md-subheader translate>О проекте</md-subheader>
                <md-button class="md-grid-item-content bottom" ng-href="/team" is-active-link>
                    <md-icon aria-label="team" md-svg-icon="social:ic_group_24px"></md-icon>
                    <span class="md-grid-text" translate>Наша команда</span>
                </md-button>
                <md-button class="md-grid-item-content bottom" ng-href="/rules" is-active-link>
                    <md-icon aria-label="team" md-svg-icon="editor:ic_format_list_bulleted_24px"></md-icon>
                    <span class="md-grid-text" translate>Правила</span>
                </md-button>
                <md-button class="md-grid-item-content bottom" ng-href="/partnership" is-active-link>
                    <md-icon aria-label="team" md-svg-icon="action:ic_flight_takeoff_24px"></md-icon>
                    <span class="md-grid-text" translate>Партнерка</span>
                </md-button>
                <md-subheader translate>Мы в соцсетях</md-subheader>
				<md-button ng-href="skype:salegame.net?chat" class="md-grid-item-content bottom" aria-label="skype">
					<div layout="row" layout-align="start center">
						<span class="fa fa-skype"></span>
						<span>Skype</span>
					</div>
				</md-button>
				<md-button ng-href="https://vk.com/public120918027" target="_blank" class="md-grid-item-content bottom" aria-label="vk">
					<div layout="row" layout-align="start center">
						<span class="fa fa-vk"></span>
						<span>VK</span>
					</div>
				</md-button>
				<md-button ng-href="https://www.facebook.com/salegame.net" target="_blank" class="md-grid-item-content bottom" aria-label="facebook">
					<div layout="row" layout-align="start center">
						<span class="fa fa-facebook"></span>
						<span>Facebook</span>
					</div>
				</md-button>
				<!--<md-button ng-href="https://www.instagram.com/sale.game/" target="_blank" class="md-grid-item-content bottom" aria-label="instagram">-->
					<!--<div layout="row" layout-align="start center">-->
						<!--<span class="fa fa-instagram"></span>-->
						<!--<span>Instagram</span>-->
					<!--</div>-->
				<!--</md-button>-->
				<!--<md-button ng-href="https://twitter.com/SaleGameNet" target="_blank" class="md-grid-item-content bottom" aria-label="instagram">-->
					<!--<div layout="row" layout-align="start center">-->
						<!--<span class="fa fa-twitter"></span>-->
						<!--<span>Twitter</span>-->
					<!--</div>-->
				<!--</md-button>-->
				<md-button ng-href="https://www.youtube.com/channel/UCsLKAVqUHZ4SSduCBq5xYYg" target="_blank" class="md-grid-item-content bottom" aria-label="youtube">
					<div layout="row" layout-align="start center">
						<span class="fa fa-youtube-play"></span>
						<span>YouTube</span>
					</div>
				</md-button>
				<!--<md-button ng-href="https://plus.google.com/u/0/communities/106236174784886817385" target="_blank" class="md-grid-item-content bottom" aria-label="google+">-->
					<!--<div layout="row" layout-align="start center">-->
						<!--<span class="fa fa-google-plus"></span>-->
						<!--<span>Google</span>-->
					<!--</div>-->
				<!--</md-button>-->
				<md-subheader translate>Технологии</md-subheader>
                <md-button ng-href="http://www.angular-meteor.com/" class="md-icon-button" aria-label="angular-meteor">
                    <div layout="row" layout-align="start center">
                        <img src="/angular-meteor.ico" alt="angular">
                        <span>
                            Angular-meteor
                        </span>
                    </div>
                </md-button>
            </div>
        </div>
        <div ng-if="main.isUser()">
            <md-subheader translate>Купить</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/public" is-active-link>
                <md-icon aria-label="public" md-svg-icon="social:ic_whatshot_24px"></md-icon>
                <span class="md-grid-text" translate>Каталог</span>
            </md-button>
            <md-button class="md-grid-item-content" ng-href="/game/user-purchases" is-active-link>
                <md-icon aria-label="user-purchases" md-svg-icon="hardware:ic_videogame_asset_24px"></md-icon>
                <span class="md-grid-text" translate>Покупки</span>
            </md-button>
			<md-button class="md-grid-item-content" ng-href="/marks/game" is-active-link>
				<md-icon aria-label="marks-game" md-svg-icon="action:ic_book_24px"></md-icon>
				<span class="md-grid-text" translate>Избранное</span>
			</md-button>
            <md-subheader translate>Мои продажи</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/game/new" is-active-link>
                <md-icon aria-label="game-new" md-svg-icon="content:ic_add_24px"></md-icon>
                <span class="md-grid-text">Добавить</span>
            </md-button>
            <md-button class="md-grid-item-content" ng-href="/game/on-moderation" is-active-link>
                <md-icon aria-label="game-new" md-svg-icon="editor:ic_mode_edit_24px"></md-icon>
                <span class="md-grid-text">Проверяется</span>
            </md-button>
            <md-button class="md-grid-item-content" ng-href="/game/user-sales" is-active-link>
                <md-icon aria-label="user-sales" md-svg-icon="communication:ic_business_24px"></md-icon>
                <span class="md-grid-text" translate>На продаже</span>
            </md-button>
			<md-button class="md-grid-item-content" ng-href="/game/sold" is-active-link>
				<md-icon aria-label="user-sales" md-svg-icon="action:ic_assignment_turned_in_24px"></md-icon>
				<span class="md-grid-text" translate>Проданные</span>
			</md-button>
            <md-button class="md-grid-item-content" ng-href="/game/returned" is-active-link>
                <md-icon aria-label="user-sales" md-svg-icon="action:ic_assignment_return_24px"></md-icon>
                <span class="md-grid-text" translate>Сняты с продажи</span>
            </md-button>
            <md-subheader translate>Мой кошелек</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/money/account/index" is-active-link>
                <md-icon aria-label="money-account-index" md-svg-icon="action:ic_account_balance_wallet_24px"></md-icon>
                <span class="md-grid-text" translate>Мой счет</span>
            </md-button>
            <md-button class="md-grid-item-content" ng-href="/money/account/put-money" is-active-link>
                <md-icon aria-label="money-account-put-money" md-svg-icon="editor:ic_attach_money_24px"></md-icon>
                <span class="md-grid-text" translate>Пополнить</span>
            </md-button>
            <md-subheader translate>Обратная связь</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/ticket" is-active-link>
                <md-icon aria-label="marks-game" md-svg-icon="action:ic_bug_report_24px"></md-icon>
                <span class="md-grid-text" translate>Обращения</span>
            </md-button>
            <md-button class="md-grid-item-content" ng-href="/contacts" is-active-link>
                <md-icon aria-label="marks-game" md-svg-icon="communication:ic_contacts_24px"></md-icon>
                <span class="md-grid-text" translate>Контакты</span>
            </md-button>
			<md-button class="md-grid-item-content bottom" ng-href="/faq" is-active-link>
				<md-icon aria-label="team" md-svg-icon="action:ic_question_answer_24px"></md-icon>
				<span class="md-grid-text" translate>FAQ</span>
			</md-button>
            <div hide-gt-sm>
                <md-subheader translate>О проекте</md-subheader>
                <md-button class="md-grid-item-content bottom" ng-href="/team" is-active-link>
                    <md-icon aria-label="team" md-svg-icon="social:ic_group_24px"></md-icon>
                    <span class="md-grid-text" translate>Наша команда</span>
                </md-button>
                <md-button class="md-grid-item-content bottom" ng-href="/rules" is-active-link>
                    <md-icon aria-label="team" md-svg-icon="editor:ic_format_list_bulleted_24px"></md-icon>
                    <span class="md-grid-text" translate>Правила</span>
                </md-button>
                <md-button class="md-grid-item-content bottom" ng-href="/partnership" is-active-link>
                    <md-icon aria-label="team" md-svg-icon="action:ic_flight_takeoff_24px"></md-icon>
                    <span class="md-grid-text" translate>Партнерка</span>
                </md-button>
                <md-subheader translate>Мы в соцсетях</md-subheader>
                <md-button ng-href="skype:salegame.net?chat" class="md-grid-item-content bottom" aria-label="vk">
                    <div layout="row" layout-align="start center">
                        <span class="fa fa-skype"></span>
                        <span>Skype</span>
                    </div>
                </md-button>
                <md-button ng-href="https://vk.com/public120918027" class="md-grid-item-content bottom" target="_blank" aria-label="vk">
                    <div layout="row" layout-align="start center">
                        <span class="fa fa-vk"></span>
                        <span>VK</span>
                    </div>
                </md-button>
                <md-button ng-href="https://www.facebook.com/salegame.net" target="_blank" class="md-grid-item-content bottom" aria-label="facebook">
                    <div layout="row" layout-align="start center">
                        <span class="fa fa-facebook"></span>
                        <span>Facebook</span>
                    </div>
                </md-button>
                <!--<md-button ng-href="https://www.instagram.com/sale.game/" target="_blank" class="md-grid-item-content bottom" aria-label="instagram">-->
                    <!--<div layout="row" layout-align="start center">-->
                        <!--<span class="fa fa-instagram"></span>-->
                        <!--<span>Instagram</span>-->
                    <!--</div>-->
                <!--</md-button>-->
                <!--<md-button ng-href="https://twitter.com/SaleGameNet" target="_blank" class="md-grid-item-content bottom" aria-label="instagram">-->
                    <!--<div layout="row" layout-align="start center">-->
                        <!--<span class="fa fa-twitter"></span>-->
                        <!--<span>Twitter</span>-->
                    <!--</div>-->
                <!--</md-button>-->
				<md-button ng-href="https://www.youtube.com/channel/UCsLKAVqUHZ4SSduCBq5xYYg" target="_blank" class="md-grid-item-content bottom" aria-label="youtube">
					<div layout="row" layout-align="start center">
						<span class="fa fa-youtube-play"></span>
						<span>YouTube</span>
					</div>
				</md-button>
                <!--<md-button ng-href="https://plus.google.com/u/0/communities/106236174784886817385" target="_blank" class="md-grid-item-content bottom" aria-label="google+">-->
                    <!--<div layout="row" layout-align="start center">-->
                        <!--<span class="fa fa-google-plus"></span>-->
                        <!--<span>Google</span>-->
                    <!--</div>-->
                <!--</md-button>-->
				<md-subheader translate>Технологии</md-subheader>
                <md-button ng-href="http://www.angular-meteor.com/" class="md-icon-button" aria-label="angular-meteor">
                    <div layout="row" layout-align="start center">
                        <img src="/angular-meteor.ico" alt="angular">
                        <span>
                            Angular-meteor
                        </span>
                    </div>
                </md-button>
            </div>
        </div>
        <div ng-if="main.isAdmin()">
            <md-subheader translate>Управление</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/admin/user-management" is-active-link>
                <md-icon aria-label="user-management" md-svg-icon="social:ic_group_24px"></md-icon>
                <span class="md-grid-text" translate>Пользователи</span>
            </md-button>
            <md-button class="md-grid-item-content" ng-href="/admin/game-management" is-active-link>
                <md-icon aria-label="user-management" md-svg-icon="hardware:ic_gamepad_24px"></md-icon>
                <span class="md-grid-text" translate>Игры</span>
            </md-button>
            <md-subheader translate>Отследить</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/admin/deals" is-active-link>
                <md-icon aria-label="admin-deals" md-svg-icon="action:ic_assessment_24px"></md-icon>
                <span class="md-grid-text" translate>Сделки</span>
            </md-button>
            <md-button class="md-grid-item-content" ng-href="/admin/transactions" is-active-link>
                <md-icon aria-label="admin-transactions" md-svg-icon="action:ic_card_travel_24px"></md-icon>
                <span class="md-grid-text" translate>Транзакции</span>
            </md-button>
            <md-button class="md-grid-item-content" ng-href="/admin/free-money" is-active-link>
                <md-icon aria-label="admin-transactions" md-svg-icon="editor:ic_attach_money_24px"></md-icon>
                <span class="md-grid-text" translate>Коммиссии</span>
            </md-button>
			<md-subheader translate>SEO</md-subheader>
			<md-button class="md-grid-item-content" ng-href="/admin/category" is-active-link>
				<md-icon aria-label="admin-money-out" md-svg-icon="action:ic_explore_24px"></md-icon>
				<span class="md-grid-text" translate>Категории</span>
			</md-button>
			<md-button class="md-grid-item-content" ng-href="/admin/tags" is-active-link>
				<md-icon aria-label="admin-money-out" md-svg-icon="action:ic_loyalty_24px"></md-icon>
				<span class="md-grid-text" translate>Типы игр</span>
			</md-button>
            <md-subheader translate>Заявки</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/admin/money-out" is-active-link>
                <md-icon aria-label="admin-money-out" md-svg-icon="editor:ic_attach_money_24px"></md-icon>
                <span class="md-grid-text" translate>Вывод</span>
            </md-button>
            <md-subheader translate>Модерация</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/admin/moderation-game-account" is-active-link>
                <md-icon aria-label="admin-money-out" md-svg-icon="hardware:ic_videogame_asset_24px"></md-icon>
                <span class="md-grid-text" translate>Игры</span>
            </md-button>
            <md-button class="md-grid-item-content" ng-href="/admin/game-deal" is-active-link>
                <md-icon aria-label="admin-money-out" md-svg-icon="action:ic_card_giftcard_24px"></md-icon>
                <span class="md-grid-text" translate>Сделки</span>
            </md-button>
            <md-subheader translate>Техподдержка</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/admin/ticket" is-active-link>
                <md-icon aria-label="marks-game" md-svg-icon="action:ic_bug_report_24px"></md-icon>
                <span class="md-grid-text" translate>Обращения</span>
            </md-button>
        </div>
        <div ng-if="main.isMoneyAdmin()">
			<md-subheader translate>SEO</md-subheader>
			<md-button class="md-grid-item-content" ng-href="/admin/category" is-active-link>
				<md-icon aria-label="admin-money-out" md-svg-icon="action:ic_explore_24px"></md-icon>
				<span class="md-grid-text" translate>Категории</span>
			</md-button>
			<md-button class="md-grid-item-content" ng-href="/admin/tags" is-active-link>
				<md-icon aria-label="admin-money-out" md-svg-icon="action:ic_loyalty_24px"></md-icon>
				<span class="md-grid-text" translate>Типы игры</span>
			</md-button>
            <md-subheader translate>Заявки</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/admin/money-out" is-active-link>
                <md-icon aria-label="admin-money-out" md-svg-icon="editor:ic_attach_money_24px"></md-icon>
                <span class="md-grid-text" translate>Вывод</span>
            </md-button>
            <md-subheader translate>Отследить</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/admin/deals" is-active-link>
                <md-icon aria-label="admin-deals" md-svg-icon="action:ic_assessment_24px"></md-icon>
                <span class="md-grid-text" translate>Сделки</span>
            </md-button>
            <md-button class="md-grid-item-content" ng-href="/admin/transactions" is-active-link>
                <md-icon aria-label="admin-transactions" md-svg-icon="action:ic_card_travel_24px"></md-icon>
                <span class="md-grid-text" translate>Транзакции</span>
            </md-button>
            <md-subheader translate>Модерация</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/admin/moderation-game-account" is-active-link>
                <md-icon aria-label="admin-money-out" md-svg-icon="hardware:ic_videogame_asset_24px"></md-icon>
                <span class="md-grid-text" translate>Игры</span>
            </md-button>
            <md-subheader translate>Техподдержка</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/admin/ticket" is-active-link>
                <md-icon aria-label="marks-game" md-svg-icon="action:ic_bug_report_24px"></md-icon>
                <span class="md-grid-text" translate>Обращения</span>
            </md-button>
        </div>
        <div ng-if="main.isSiteManager()">
			<md-subheader translate>Управление</md-subheader>
			<md-button class="md-grid-item-content" ng-href="/admin/game-management" is-active-link>
				<md-icon aria-label="user-management" md-svg-icon="hardware:ic_gamepad_24px"></md-icon>
				<span class="md-grid-text" translate>Игры</span>
			</md-button>
			<md-subheader translate>SEO</md-subheader>
			<md-button class="md-grid-item-content" ng-href="/admin/category" is-active-link>
				<md-icon aria-label="admin-money-out" md-svg-icon="action:ic_explore_24px"></md-icon>
				<span class="md-grid-text" translate>Категории</span>
			</md-button>
			<md-button class="md-grid-item-content" ng-href="/admin/tags" is-active-link>
				<md-icon aria-label="admin-money-out" md-svg-icon="action:ic_loyalty_24px"></md-icon>
				<span class="md-grid-text" translate>Типы игр</span>
			</md-button>
        </div>
        <div ng-if="main.isModerator()">
			<md-subheader translate>Управление</md-subheader>
			<md-button class="md-grid-item-content" ng-href="/admin/game-management" is-active-link>
				<md-icon aria-label="user-management" md-svg-icon="hardware:ic_gamepad_24px"></md-icon>
				<span class="md-grid-text" translate>Игры</span>
			</md-button>
            <md-subheader translate>Модерация</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/admin/moderation-game-account" is-active-link>
                <md-icon aria-label="admin-money-out" md-svg-icon="hardware:ic_videogame_asset_24px"></md-icon>
                <span class="md-grid-text" translate>Игры</span>
            </md-button>
            <md-subheader translate>Техподдержка</md-subheader>
            <md-button class="md-grid-item-content" ng-href="/admin/ticket" is-active-link>
                <md-icon aria-label="marks-game" md-svg-icon="action:ic_bug_report_24px"></md-icon>
                <span class="md-grid-text" translate>Обращения</span>
            </md-button>
        </div>
    </md-sidenav>
    <div layout="column" flex id="content">
		<md-toolbar class="md-hue-3 breadcrumb-panel">
			<div class="md-toolbar-tools">
				<div ncy-breadcrumb></div>
			</div>
		</md-toolbar>
        <a ng-if="main.currentUser() && !(main.currentUser().profile.sendEmailNotification && main.currentUser().profile.verifyEmail)" ng-href="/account/edit" style="text-decoration: none;">
            <md-toolbar class="md-center md-accent">
                <h2 class="md-toolbar-tools">
                    <span translate>
                        Нужно настроить уведомления на email, иначе мы не сможем оповещать вас о сделках
                    </span>
                </h2>
            </md-toolbar>
        </a>
        <md-content id="main-value" layout="column" flex layout-padding>
            <div ui-view></div>
        </md-content>
    </div>
</div>
<md-toolbar id="footer" style="min-height: 40px;" hide-xs hide-sm>
    <div class="md-toolbar-tools" style="height: 40px" hide-xs>
        <md-button ng-href="http://www.angular-meteor.com/" aria-label="angular-meteor" hide-sm hide-xs>
            <div layout="row" layout-align="center center">
				<img src="angular-meteor.ico" alt="angular-meteor">
                <span>
                    Angular-meteor
                </span>
            </div>
        </md-button>
        <md-button ng-href="/angular-meteor.ico" class="md-icon-button" aria-label="angular-meteor" hide-gt-sm>
            <img src="angular-meteor.ico" alt="angular-meteor">
        </md-button>
        <span flex></span>
        <md-button ng-href="skype:salegame.net?chat" class="md-icon-button" aria-label="skype">
            <span class="fa fa-skype"></span>
        </md-button>
        <md-button ng-href="https://vk.com/salegame_net" target="_blank" class="md-icon-button" aria-label="vk">
            <span class="fa fa-vk"></span>
        </md-button>
		<!--<md-button ng-href="https://www.instagram.com/sale.game/" target="_blank" class="md-icon-button" aria-label="instagram">-->
			<!--<span class="fa fa-instagram"></span>-->
		<!--</md-button>-->
		<!--<md-button ng-href="https://twitter.com/SaleGameNet" target="_blank" class="md-icon-button" aria-label="twitter">-->
			<!--<span class="fa fa-twitter"></span>-->
		<!--</md-button>-->
        <md-button ng-href="https://www.facebook.com/salegame.net" target="_blank" class="md-icon-button" aria-label="facebook">
            <span class="fa fa-facebook"></span>
        </md-button>
		<md-button ng-href="https://www.youtube.com/channel/UCsLKAVqUHZ4SSduCBq5xYYg" target="_blank" class="md-icon-button" aria-label="youtube">
			<span class="fa fa-youtube-play"></span>
		</md-button>
        <!--<md-button ng-href="https://plus.google.com/u/0/communities/106236174784886817385" target="_blank" class="md-icon-button" aria-label="google+">-->
            <!--<span class="fa fa-google-plus"></span>-->
        <!--</md-button>-->
        <md-button class="md-grid-item-content bottom" ng-href="/team">
            <md-icon aria-label="team" md-svg-icon="social:ic_group_24px"></md-icon>
            <span class="md-grid-text" translate>Наша команда</span>
        </md-button>
        <md-button class="md-grid-item-content bottom" ng-href="/rules">
            <md-icon aria-label="team" md-svg-icon="editor:ic_format_list_bulleted_24px"></md-icon>
            <span class="md-grid-text" translate>Правила</span>
        </md-button>
        <md-button class="md-grid-item-content bottom" ng-href="/partnership">
            <md-icon aria-label="team" md-svg-icon="action:ic_flight_takeoff_24px"></md-icon>
            <span class="md-grid-text" translate>Партнерка</span>
        </md-button>
    </div>
</md-toolbar>
<user-tracker>
    <div ng-repeat="eventData in ut.userTracker">
        {{ut.showNotification(eventData)}}
    </div>
</user-tracker>
