<section id="contents" layout="column" layout-align="start">
    <md-button class="md-primary" ng-click="vm.scrollTopAction('partnership-gamer')">
        Сотрудничество для геймеров
    </md-button>
    <md-button class="md-primary" ng-click="vm.scrollTopAction('partnership-blogger')">
        Сотрудничество для партнеров в средствах массовой информации:
    </md-button>
</section>
<div layout="column" layout-align="space-between">
    <section id="partnership-gamer">
        <h2>Сотрудничество для геймеров</h2>
        <ol>
            <li>
                <p>
                    Администрация SaleGame принимает заявки по сотрудничеству с опытными геймерами.
                    Нам нужны партнеры, способные быстро и качественно выполнять поручения по прокачке различных игровых аккаунтов.
                </p>
            </li>
            <li>
                <p>
                    Для подачи заявки вам необходимо составить обращение в
                    <a ng-href="{{vm.linkOnSupport}}">тех. поддержку</a> выберите категорию "сотрудничество",
                    с пометкой "Сотрудничество для геймеров". После рассмотрения заявки, вам будет отправлен подробный ответ.
                    Так же можете написать нам на admin@salegame.net
                </p>
            </li>
            <li>
                <p>
                    Преимущества партнера состоят в следующих пунктах:
                    <ul>
                        <li>
                            администрация будет продвигать ваши аккаунты в топ;
                        </li>
                        <li>
                            поручения будут выдаваться на основе анализа последних тенденций, что позволит максимизировать прибыль;
                        </li>
                        <li>
                            проведение конкурсов между партнерами.
                        </li>
                    </ul>
                </p>
            </li>
            <li>
                <p>
                    Администрация SaleGame вправе прервать сотрудничество, если были нарушены правила, предусмотренные SaleGame, или за иные неправомерные действия.
                </p>
            </li>
        </ol>
    </section>

    <section id="partnership-blogger">
        <h2>Сотрудничество для партнеров в средствах массовой информации</h2>
        <ol>
            <li>
                <p>
                    Администрация SaleGame принимает заявки по сотрудничеству с лицами, имеющими аккаунты на видеохостингах
                    (Twich, Youtube, RuTube и т.д.) блоггерами и иными лицами, относящимися к СМИ.
                </p>
            </li>
            <li>
                <p>
                    Напишите нам в <a ng-href="{{vm.linkOnSupport}}">тех. поддержку</a> выберите категорию "сотрудничество",
                    с пометкой "Сотрудничество для партнеров в средствах массовой информации".
                    Мы рассмотрим заявку и пришлем вам подробный ответ.
                    Так же можете написать нам на admin@salegame.net
                </p>
            </li>
            <li>
                <p>
                    К каждому партнеру реализуется индивидуальный подход и уровень вознаграждения,
                    исходя из конкретных параметров предоставляемого ресурса и степени вовлеченности в сотрудничество.
                </p>
            </li>
            <li>
                <p>
                    За партнером закрепляется менеджер, который ответит на интересующие вопросы,
                    а также будет вести расчет и выплату вознаграждения.
                </p>
            </li>
            <li>
                <p>
                    Администрация SaleGame вправе расторгнуть договор в случае несоблюдения его условий или нарушения правил,
                    предусмотренных SaleGame.
                </p>
            </li>
        </ol>
    </section>
</div>

<md-button ng-if="showScrollTop" id="scrollTop" class="md-fab md-primary"
           ng-click="vm.scrollTopAction('contents')"
           aria-label="Go-to-head">
    <md-icon md-svg-icon="navigation:ic_arrow_drop_up_24px"></md-icon>
</md-button>