<section id="contents" layout="column" layout-align="start">
    <md-button class="md-primary" ng-click="vm.scrollTopAction('common')">
        Общие правила
    </md-button>
    <md-button class="md-primary" ng-click="vm.scrollTopAction('salePurchase')">
        Правила продажи и покупки
    </md-button>
    <md-button class="md-primary" ng-click="vm.scrollTopAction('moderation')">
        Правила модерации аккаунта
    </md-button>
    <md-button class="md-primary" ng-click="vm.scrollTopAction('return')">
        Правила возврата аккаунта
    </md-button>
    <md-button class="md-primary" ng-click="vm.scrollTopAction('moneyOut')">
        Правила вывода средств
    </md-button>
</section>
<div layout="column" layout-align="space-between">
    <section id="common">
        <h2>Общие правила</h2>
        <ol>
            <li>
                <p>Общие условия</p>
                <p>
                    Настоящие "Правила пользования" регулируют пользование веб-сайтом интернет-маркета "SaleGame" ("SaleGame.Net").
                    Условия пользования программами для ЭВМ определены в соответствующих пользовательских лицензионных соглашениях, предоставляемых правообладателями. Передача неисключительных прав на программы для ЭВМ определяется условиями сублицензионных договоров.
                </p>
                <p>
                    Веб-сайт принадлежит и администрируется "SaleGame". Доступ к веб-сайту и пользование его ресурсами предоставляется "SaleGame" пользователю при условии принятия настоящих правил. Если пользователь по какой-либо причине не согласен принять правила, он должен прекратить пользоваться веб-сайтом, в случае продолжения пользования услугами сайта действия пользователя расценивается как автоматическое принятие правил.
                </p>
                <p>
                    Администрация "SaleGame" вправе пересматривать и вносить изменения в настоящие правила в любое время. Поправки публикуются на сайте в момент их вступления в силу. Если после публикации изменений пользователь продолжит пользоваться веб-сайтом, это будет означать принятие им всех изменений.
                </p>
            </li>
            <li>
                <p>
                    Регистрационные данные и безопасность учетной записи.
                </p>
                <p>
                    Пользователь соглашается:
                    <ul>
                        <li>
                            предоставлять точную, полную и действительную информацию о себе по запросу регистрационных форм веб-сайта;
                        </li>
                        <li>
                            поддерживать состояние и своевременно обновлять регистрационные данные и любую другую информацию, вносимую пользователем, поддерживать ее точность, полноту и действительность;
                        </li>
                        <li>
                            обеспечивать безопасность хранения логина и пароля к своей учетной записи, незамедлительно информировать администрацию "SaleGame" о несанкционированном использовании своей учетной записи и прочих случаях нарушения безопасности;
                        </li>
                        <li>
                            нести полную ответственность за все без исключения действия со своей учетной записью;
                        </li>
                        <li>
                            принимать на себя все риски, связанные с несанкционированным доступом к регистрационным данным и любой другой информации, которую пользователь предоставляет "SaleGame".
                        </li>
                    </ul>
                </p>
            </li>
            <li>
                <p>Возраст и ответственность</p>
                <p>
                    Пользователь заявляет и гарантирует, что достиг достаточного возраста для пользования веб-сайтом и исполнения обязательств по устранению задолженности, которая может возникнуть в результате пользования веб-сайтом. Пользователь несет ответственность за свои действия на веб-сайте, а также предоставление своих данных (логин и пароль аккаунта) третьим лицам.
                </p>
            </li>
            <li>
                <p>Контент</p>
                <p>
                    Вся информация, которая размещена на веб-сайте, является собственностью "SaleGame" и других правообладателей и может быть защищена законами об интеллектуальной собственности, включая законодательные акты, относящиеся к исключительным правам, товарным знакам, торговым маркам, доменным именам и прочим подобным правам. За исключением присоединившихся к "Партнерской программе", любое использование пользователями Контента в коммерческих целях без письменного разрешения со стороны "SaleGame" категорически запрещается.
                </p>
                <p>
                    Контент может использоваться и копироваться исключительно в некоммерческих, личных или образовательных целях при условии, что в контент не будут внесены изменения и из него не будут удалены упоминания об исключительных или авторских правах. Пользователь не вправе создавать производные работы или любым другим образом использовать контент.
                </p>
            </li>
            <li>
                <p>Заказ, оплата, доставка и возврат покупок</p>
                <p>
                    Пользователь оплачивает, получает и может вернуть свои покупки в соответствии с опубликованными на Веб-сайте "Правилами продажи", "Правилами доставки" и "Правилами возврата".
                </p>
            </li>
            <li>
                <p>Правила поведения</p>
                <p>
                    Пользователь обязуется не использовать веб-сайт незаконным или не разрешенным настоящими Правилами образом, в том числе во время общения в группах или приватных чатах и не совершать следующие действия:
                </p>
                <ul>
                    <li>
                        Нарушать право на честь и достоинство других пользователей, угрожать или каким-либо другим образом нарушать иные права (например, право на конфиденциальность) других пользователей
                    </li>
                    <li>
                        публиковать, размещать, порнографические, сексуального характера, вульгарные или запрещенные законами материалы или информацию
                    </li>
                    <li>
                        загружать или передавать другим способом файлы, которые содержат программное обеспечение или другие материалы, защищенные законами об интеллектуальной собственности (или правами о конфиденциальности), за исключением случаев, когда пользователь владеет соответствующими правами на них, или получил все необходимые разрешения
                    </li>
                    <li>
                        загружать или передавать другим способом файлы, содержащие вирусы, поврежденные файлы или любое другое подобное программное обеспечение, которое может повредить или мешать работе другого компьютера
                    </li>
                    <li>
                        фальсифицировать оригинальный источник программного обеспечения или другого материала, содержащегося в загружаемом файле,
                    </li>
                    <li>
                        рекламировать или продавать любые товары или услуги; проводить или пересылать опросы, конкурсы
                    </li>
                    <li>
                        скачивать любые файлы, размещенные другим пользователем, которые не могут правомерно распространяться подобным образом
                    </li>
                    <li>
                        использовать любое общение, контент или другую информацию, полученную на веб-сайте, для того, чтобы конкурировать с "каталогом программ"
                    </li>
                </ul>
                <p>
                    Пользователь признает, что группы по интересам являются публичными, а не приватными каналами общения. Никакое общение с третьими лицами не является рекомендуемым, проверенным, просмотренным или одобренным "SaleGame".
                </p>
                <p>
                    "SaleGame" оставляет за собой право удалять по любой причине, без оповещения любую переписку или другие размещенные пользователями материалы.
                </p>
                <p>
                    Пользователь не должен использовать веб-сайт таким образом, чтобы это могло повредить, вывести из строя, перегрузить, ухудшить веб-сайт или препятствовать использованию веб-сайта другими пользователями. Пользователь соглашается не пытаться получить несанкционированный доступ к учетным записям других пользователей веб-сайта, компьютерным системам или компьютерным сетям, связанным с веб-сайтом.
                </p>
            </li>
            <li>
                <p>Конфиденциальность</p>
                <p>
                    "SaleGame" заявляет о соблюдении конфиденциальности персональных данных всех лиц, с которыми мы взаимодействуем. Мы разработали "Политику конфиденциальности" для описания наших правил в отношении конфиденциальности, в каких случаях мы собираем, используем и можем раскрыть персональные данные посетителей веб-сайта.
                </p>
            </li>
            <li>
                <p>Ссылки на другие сайты</p>
                <p>
                    Веб-сайт содержит ссылки на сайты третьих лиц. Размещение этих ссылок не означает, что "SaleGame" рекомендует другие сайты или следит за их состоянием. "SaleGame" не несет ответственность перед пользователем за такие ссылки, сайты или убытки, связанные с доступом на них, или их использованием, или доверием к любой информации, материалам, товарам или услугам, представленным на сайтах третьих лиц и связанных с ними ресурсах.
                </p>
            </li>
        </ol>
    </section>

    <section id="salePurchase">
        <h2>Правила продажи и покупки</h2>
        <ol>
            <li>
                <p>
                    Под покупателем понимается лицо, имеющее намерение заказать или приобрести, либо заказывающее, приобретающее или использующее товары исключительно для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности.
                </p>
                <p>
                    Под продавцом понимается организация независимо от организационно-правовой формы, а также индивидуальный предприниматель, осуществляющие продажу товаров по договору розничной купли-продажи (далее именуется - договор).
                </p>
            </li>
            <li>
                <p>Режим работы SaleGame - организации иной организационно-правовой формы устанавливается ими самостоятельно.</p>
                <p>В случае временного приостановления своей деятельности (для проведения плановых, ремонта и в других случаях) SaleGame обязан своевременно предоставить покупателю информацию о дате и сроках приостановления деятельности.</p>
            </li>
            <li>
                Режим работы SaleGame устанавливается администрацией ресурса самостоятельно. В случае временного приостановления своей деятельности (для проведения плановых и внеплановых работ, ремонта и в других случаях) SaleGame обязан своевременно предоставить пользователю информацию о дате и сроках приостановления деятельности.            </li>
            <li>
                Ассортимент предлагаемых к продаже товаров, перечень оказываемых услуг, а также формы обслуживания определяются продавцом самостоятельно в соответствии с профилем и специализацией своей деятельности.
            </li>
            <li>
                Продавец при осуществлении своей деятельности обязан соблюдать обязательные требования к SaleGame и осуществлению торговой деятельности, установленные нормативными правовыми актами Российской Федерации.
            </li>
            <li>
                Продавец обязан иметь и содержать в исправном состоянии игровой аккаунт до момента продажи или же возврата.
            </li>
            <li>
                Продавец имеет личную стену сообщений, на которой изображен его рейтинг и отзывы других участников.
            </li>
            <li>
                Настоящие Правила в наглядной и доступной форме доводятся продавцом до сведения покупателей.
            </li>
            <li>
                Продавец обязан довести до сведения покупателя наименование игровой области продаж, краткую характеристику аккаунта доказательства владения им.
            </li>
            <li>
                <p>
                    SaleGame - является посредником между покупателем и продавцом, обеспечивает между ними связь и продажи. SaleGame несет ответственность только за проверенные ими аккаунты и за сбережения всех участников
                </p>
                <p>
                    Указанная информация размещается в удобных для ознакомления покупателя местах. Аналогичная информация также должна быть доведена до сведения покупателей при осуществлении торговли.
                </p>
            </li>
            <li>
                <p>
                    Продавец обязан своевременно в наглядной и доступной форме довести до сведения покупателя необходимую и достоверную информацию о товарах и их изготовителях, обеспечивающую возможность правильного выбора товаров.
                </p>
                <p>Информация в обязательном порядке должна содержать:</p>
                <ul>
                    <li>наименование товара</li>
                    <li>игровая площадка</li>
                    <li>цену в рублях</li>
                    <li>краткое описание</li>
                </ul>
                <p>
                    Если приобретаемый покупателем товар был в употреблении или в нем устранялся недостаток (недостатки), покупателю должна быть предоставлена информация об этом. Об имеющихся в товаре недостатках продавец должен предупредить покупателя в письменной форме.
                </p>
            </li>
            <li>
                <p>
                    Информация о товаре и продавце должна доводиться до сведения покупателя способами, установленными SaleGame, а именно объявление, а также личный рейтинг продавца. Информация о продавце, товарах и их изготовителях доводится до сведения покупателей на русском языке.
                </p>
            </li>
            <li>
                Потребителю также должна быть предоставлена наглядная и достоверная информация об оказываемых услугах, ценах на них и условиях оказания услуг, а также о применяемых формах обслуживания при продаже товаров.
            </li>
            <li>
                При продаже товаров покупателю предоставляется возможность самостоятельно ознакомиться с необходимыми товарами. Покупатель вправе осмотреть игровой аккаунт, сразу после приобретения, если возникнут неполадки или же другие замечания, ему необходимо обратиться в тех. поддержку, для выяснения ситуации. Покупателю дается 2 часа на рассмотрение товара, если же потребуется больше времени он обязан сообщить об этом в тех. поддержку. Продавец, получивший денежные средства, не может ими распоряжаться до конца проведения сделки.
            </li>
            <li>
                Продавец имеет полное право самостоятельно оценить свой аккаунт, а также воспользоваться источниками и инструментами, способствующими в этом.
            </li>
            <li>
                Сделка является действительной, если она отвечает всем требования участвующих сторон.
            </li>
        </ol>
    </section>

    <section id="moderation">
        <h2>Правила модерации аккаунта</h2>
        <ol>
            <li>
                Выставляя аккаунт на продажу, вы автоматически соглашаетесь со всеми правилами. Правила могут быть измены в любой момент администрацией SaleGame. Администрация сайта рекомендует следить за обновлениями политики правил.
            </li>
            <li>
                Продавец, оставляя заявку на продажу аккаунта, обязуется убрать все привязки, с игрового аккаунта и почтового адреса.
            </li>
            <li>
                При создании заявки продавец сам оформляет заявку и описывает игровой аккаунт, добавляя изображение или видео аккаунта.
            </li>
            <li>
                Модераторы SaleGame по мере продвижения очереди обрабатывают заявку, изменяя пароли на аккаунте и почтовом адресе во избежании изменений аккаунта первоначальным владельцем.
            </li>
            <li>
                SaleGame является в первую очередь гарантом сделок, а поэтому обязуется проводить их безопасно.
            </li>
            <li>
                После модерации аккаунт появляется в списке аккаунтов и доступен для покупки.
            </li>
            <li>
                Продавец вправе вернуть свой аккаунт. (см. Правила возврата).
            </li>
            <li>
                Сайт взимает комиссию в размере 10% (не менее 100 рублей) от суммы сделки, комиссия оплачивается покупателем. Данная ставка может изменятся, что будет своевременно опубликовано.
            </li>
            <li>
                После успешной продажи продавец получает денежные средства, которые может вывести посредством любой платежной системы, поддерживаемой сайтом.
            </li>
            <li>
                В процессе модерации клиент может наблюдать статус обрабатываемой заявки.
            </li>
            <li>
                В случае не прохождения процедуры модерации, модератор сообщает клиенту о причине отказа, в случае разрешения которой, клиент может вновь подать аккаунт на рассмотрение.
            </li>
        </ol>
    </section>

    <section id="return">
        <h2>Правила возврата аккаунта</h2>
        <ol>
            <li>
                Подать заявку на возврат аккаунта можно через одну неделю (в карточке аккаунта будет отображаться таймер).
            </li>
            <li>
                Продавец, аккаунт которого продается без предварительно модерации может вернуть свой аккаунт  в любое время.
            </li>
            <li>
                Продавец становится в списках на возврат аккаунта, и по мере продвижения списка, он получает свой аккаунт с новыми паролями.
            </li>
            <li>
                Модератор в свою очередь обязан в кратчайшие сроки выполнить запрос клиента.
            </li>
            <li>
                SaleGame вправе изменить политику этих правил, поэтому убедительно просим вас следить за изменениями.
            </li>
        </ol>
    </section>

    <section id="moneyOut">
        <h2>Правила вывода средств</h2>
        <ol>
            <li>
                Пользователь сайта вправе вывести средства с сайта, в любое время, через любую платежную систему, доступную на сайте.
            </li>
            <li>
                После создания заявки на вывод, пользователь видит свою очередь и примерное время ожидания.
            </li>
            <li>
                Комиссия за перевод средств взимается с клиента. Размер комиссии зависит от используемой платежной системы.
            </li>
            <li>
                Пользователь вправе отменить вывод в любой момент.
            </li>
            <li>
                Максимальное количество выводов в день - одни.
            </li>
            <li>
                Максимальная сумма вывода составляет 50 000 рублей за одну заявку.
            </li>
        </ol>
    </section>
</div>

<md-button ng-if="showScrollTop" id="scrollTop" class="md-fab md-primary"
           ng-click="vm.scrollTopAction('contents')"
           aria-label="Go-to-head">
    <md-icon md-svg-icon="navigation:ic_arrow_drop_up_24px"></md-icon>
</md-button>