<h1 translate>Наша команда</h1>
<div flex layout-xs="row" layout-gt-xs="row" layout-wrap layout-align="space-between center">
    <md-card flex-xs="100" flex-sm="60" flex-md="60" flex-lg="45" flex-gt-lg="20">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" translate>
                    Никита Овчинников
                </span>
                <span class="md-subhead" translate>
                    Технический директор
                </span>
                <span class="md-subhead" translate>
                    Волгоград
                </span>
            </md-card-title-text>
            <md-card-title-media>
                <img src="/images/L_6WkaPTwhA.jpg" class="md-avatar-team" alt="Washed Out">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <like object-type="vm.like.objectType"
                  object-id="vm.like['_dr.evil']"
                  is-favorites="vm.like.isFavorites">
            </like>
        </md-card-actions>
    </md-card>
    <md-card flex-xs="100" flex-sm="60" flex-md="60" flex-lg="45" flex-gt-lg="20">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" translate>
                    Сергей Митюгов
                </span>
                <span class="md-subhead" translate>
                    Веб-разработчик
                </span>
                <span class="md-subhead" translate>
                    Санкт-Петербург
                </span>
            </md-card-title-text>
            <md-card-title-media>
                <img src="/images/OYw7CT54nMw.jpg" class="md-avatar-team" alt="Washed Out">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <like object-type="vm.like.objectType"
                  object-id="vm.like._sergmit"
                  is-favorites="vm.like.isFavorites">
            </like>
        </md-card-actions>
    </md-card>
    <md-card flex-xs="100" flex-sm="60" flex-md="60" flex-lg="45" flex-gt-lg="20">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" translate>
                    Александр Георгадзе
                </span>
                <span class="md-subhead" translate>
                    Веб-разработчик
                </span>
                <span class="md-subhead" translate>
                    Москва
                </span>
            </md-card-title-text>
            <md-card-title-media>
                <img src="/images/160667-Crazy-Kitten.jpg" class="md-avatar-team" alt="Washed Out">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <like object-type="vm.like.objectType"
                  object-id="vm.like._afederigo"
                  is-favorites="vm.like.isFavorites">
            </like>
        </md-card-actions>
    </md-card>
    <md-card flex-xs="100" flex-sm="60" flex-md="60" flex-lg="45" flex-gt-lg="20">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" translate>
                    Анзор Дауров
                </span>
                <span class="md-subhead" translate>
                    Веб-разработчик
                </span>
                <span class="md-subhead" translate>
                    Москва
                </span>
            </md-card-title-text>
            <md-card-title-media>
                <img src="/images/Tc_Aqedwo1M.jpg" class="md-avatar-team" alt="Washed Out">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <like object-type="vm.like.objectType"
                  object-id="vm.like._anzor"
                  is-favorites="vm.like.isFavorites">
            </like>
        </md-card-actions>
    </md-card>
    <md-card flex-xs="100" flex-sm="60" flex-md="60" flex-lg="45" flex-gt-lg="20">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" translate>
                    Юлия Красавина
                </span>
                <span class="md-subhead" translate>
                    SEO-специалист
                </span>
                <span class="md-subhead" translate>
                    Москва
                </span>
            </md-card-title-text>
            <md-card-title-media>
                <img src="/images/cyrRYNIGW3E.jpg" class="md-avatar-team" alt="Washed Out">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <like object-type="vm.like.objectType"
                  object-id="vm.like._julia"
                  is-favorites="vm.like.isFavorites">
            </like>
        </md-card-actions>
    </md-card>
    <md-card flex-xs="100" flex-sm="60" flex-md="60" flex-lg="45" flex-gt-lg="20">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" translate>
                    Мурад Гаджиисаев
                </span>
                <span class="md-subhead" translate>
                    SEO-специалист
                </span>
                <span class="md-subhead" translate>
                    Москва
                </span>
            </md-card-title-text>
            <md-card-title-media>
                <img src="/images/photo_2016-05-10_23-07-56.jpg" class="md-avatar-team" alt="Washed Out">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <like object-type="vm.like.objectType"
                  object-id="vm.like._murad"
                  is-favorites="vm.like.isFavorites">
            </like>
        </md-card-actions>
    </md-card>
    <md-card flex-xs="100" flex-sm="60" flex-md="60" flex-lg="45" flex-gt-lg="20">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" translate>
                    Артем Макаров
                </span>
                <span class="md-subhead" translate>
                    Аналитик проекта
                </span>
                <span class="md-subhead" translate>
                    Волгоград
                </span>
            </md-card-title-text>
            <md-card-title-media>
                <img src="/images/imgpsh_fullsize.jpg" class="md-avatar-team" alt="Washed Out">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <like object-type="vm.like.objectType"
                  object-id="vm.like._artem"
                  is-favorites="vm.like.isFavorites">
            </like>
        </md-card-actions>
    </md-card>
</div>