<h2 class="md-title" translate>
    Изменить заявку
</h2>
<md-content layout="column">

    <form name="editTicketForm" ng-submit="vm.editTicketAction()" class="md-padding" layout="column">

        <fieldset class="standard" layout="column">
            <legend translate>Обращение</legend>

            <md-input-container>
                <label translate>Добавьте название</label>
                <input autocomplete="off" required id="subject" name="subject"
                       ng-disabled="vm.queryProcess"
                       ng-maxlength="{{vm.validateData.subjectMax}}"
                       ng-model="vm.editTicket.subject">

                <div ng-messages="editTicketForm.subject.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="maxlength" translate>Не больше {{vm.validateData.subjectMax}} символов</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label translate>Добавьте описание</label>
                <textarea required id="description" name="description"
                          ng-disabled="vm.queryProcess"
                          ng-maxlength="{{vm.validateData.descriptionMax}}"
                          ng-model="vm.editTicket.description"></textarea>

                <div ng-messages="editTicketForm.description.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="maxlength" translate>Не больше {{vm.validateData.descriptionMax}} символов!</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label translate>Выберите категорию</label>
                <md-select required id="category" name="category" ng-model="vm.editTicket.category">
                    <md-option ng-repeat="(key, ctg) in vm.ticketCategory" ng-value="ctg"
                               get-ticket-category-name-by-id category="ctg">
                    </md-option>
                </md-select>
                <div ng-messages="editTicketForm.category.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                </div>
            </md-input-container>
        </fieldset>

        <fieldset class="standard" id="image-data" ng-if="!vm.queryProcess">
            <legend translate>Скрин экрана</legend>

            <image-upload-and-crop is-array="true" img-obj="vm.editTicket"></image-upload-and-crop>

            <div ng-if="vm.images.length > 0" layout="column" class="images-container-title">
                <div translate class="md-body-1">
                    Нажмите на изображение, чтобы удалить. Первое изображение в списке будет отображаться как главное
                </div>
                <div layout="row" layout-wrap>
                    <div class="image-preview">
                        <img draggable="false" ng-repeat="image in vm.images track by $index"
                             ng-src="{{ image.url }}"
                             ng-click="vm.removeImage(image.originalId)">
                    </div>
                </div>
            </div>

            <input name="images" class="input-image-file" ng-model="vm.editTicket.images[0]">

        </fieldset>

        <md-button type="submit" ng-disabled="vm.queryProcess" class="md-raised md-primary" translate>
            Изменить заявку
        </md-button>

    </form>

</md-content>