<md-button ng-href="/ticket/create" class="md-raised md-primary" translate>
    Создать заявку
</md-button>
<empty-page ng-if="!vm.notEmptySection(vm.tickets)"></empty-page>
<md-content layout-xs="row" layout-gt-xs="row" layout-wrap scrolling>
    <md-card ng-repeat="ticket in vm.tickets"
             flex-xs="100" flex-sm="45" flex-md="45" flex-lg="30" flex-gt-lg="20">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title" get-ticket-category-name-by-id category="ticket.category"></span>
            </md-card-header-text>
        </md-card-header>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" get-ticket-status-name-by-id status="ticket.status"></span>
                <span class="md-headline">
                    <span translate>Тема: </span>
                    {{ticket.subject}}
                </span>
                <span class="md-subhead">
                    <span translate>Описание: </span>
                    {{ticket.description | cutWithEllipsis: 40}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <md-button ng-href="/ticket/view/{{ticket._id}}?scrollTo=chat-form">
                <md-tooltip>
                    <span translate>Перейти к тикету</span>
                </md-tooltip>
                <md-icon aria-label="admin-deals" md-svg-icon="communication:ic_comment_24px"></md-icon>
            </md-button>
        </md-card-actions>
        <md-card-content></md-card-content>
    </md-card>
</md-content>
