<md-content>
    <div layout="row" layout-align="start center">
        <avatar image-class="md-avatar-team"
                user-id="userProfile.userId" image-id="userProfile.userData.profile.avatar" style="margin-right: 10px;"></avatar>
        <div class="md-list-item-text">
            <p>
                {{userProfile.userData.profile.name + ' ' + userProfile.userData.profile.surname}}
            </p>
        </div>
    </div>
    <user-games></user-games>
</md-content>