<md-content layout-padding layout="row">
    <div id="social-auth" class="md-actions" layout="column">
        <h2 class="md-title" translate>
            <span ng-if="!vm.error">Или авторизуйтесь через соцсеть</span>
            <span ng-if="vm.error">Ошибка авторизации, введите данные для входа!</span>
        </h2>
        <md-content layout-padding layout="row" layout-wrap>
            <md-button ng-disabled="vm.queryProcess" ng-click="vm.loginWithGoogle()" aria-label="Google">
                <span class="fa fa-google-plus"></span>
            </md-button>
            <md-button ng-disabled="vm.queryProcess" ng-click="vm.loginWithVK()" aria-label="VK">
                <span class="fa fa-vk"></span>
            </md-button>
            <md-button ng-disabled="vm.queryProcess" ng-click="vm.loginWithFacebook()" aria-label="Facebook">
                <span class="fa fa-facebook"></span>
            </md-button>
        </md-content>
    </div>
</md-content>