<section itemscope itemtype="http://schema.org/Product">
    <div>
        <div>
            {{additionOfNumber game.price game.commission}}
        </div>
        <div itemprop="name">
            {{game.name}}
        </div>
        <div itemprop="description">
            {{game.description}}
        </div>
    </div>
    <div>
        {{#each game.images}}
            <img class="img-card" src="{{getImageURL this}}">
        {{/each}}
    </div>
    <div>
        <like></like>
		<button>купить за
			<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
				<span itemprop="price">{{additionOfNumber game.price game.commission}}</span>
				<span itemprop="priceCurrency">RUB</span>
			</div>
        </button>
    </div>
</section>

<header>
    Комментарии
</header>

{{#if chatExist game.comments}}
    <section>
        <form id="chat-form" name="createCommentForm" onsubmit="#">
            <md-input-container class="md-icon-float md-block">
                <label translate>Сообщение</label>
                <textarea required
                          name="msg"></textarea>
            </md-input-container>
            <button type="submit">
                Написать комментарий
            </button>
        </form>
    </section>
    <section id="chat">
    {{#each game.comments}}
        <div id="comment-{{this._id._str}}">
            <md-list-item class="md-2-line">
                <img class="img-card" src="/cfs/files/images/{{getUserAvatar this.author}}">
                <div class="md-list-item-text">
                    <h3>{{getUserFullName this.author}}</h3>
                    <p>{{this.msg}}</p>
                </div>
                <button>
                    Ответить
                </button>
                <button>
                    Пожаловаться
                </button>
            </md-list-item>
            <form name="createSubcommentForm">
                <md-input-container>
                    <label>Сообщение</label>
                    <textarea required
                              name="msg"></textarea>
                </md-input-container>
                <div layout="row">
                    <button>
                        Ответить
                    </button>
                    <button>
                        Закрыть
                    </button>
                </div>
            </form>
        </div>
    {{/each}}
    </section>
{{else}}
    <header>
        Пока нет комментариев...
    </header>
{{/if}}