{{{getDocType}}}
<html lang="en">
    <head>
        <style type="text/css">{{css}}</style>
        <meta charset="utf-8">
        {{{meta}}}
    </head>
    <body>
        <header>
            <div>
                <a href="/public">SG</a>
            </div>
            <div>
                <a href="/login">
                    <svg width="24px" height="5%" viewBox="0 0 24 24" id="ic_input_24px" x="216" y="192" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet"><path d="M21 3.01H3c-1.1 0-2 .9-2 2V9h2V4.99h18v14.03H3V15H1v4.01c0 1.1.9 1.98 2 1.98h18c1.1 0 2-.88 2-1.98v-14a2 2 0 0 0-2-2zM11 16l4-4-4-4v3H1v2h10v3z"></path></svg>
                </a>
                <a href="/registration">
                    <svg width="24px" height="5%" viewBox="0 0 24 24" id="ic_assignment_24px" x="96" y="24" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet"><path d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm2 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z"></path></svg>
                </a>
            </div>
        </header>

        <section itemscope itemtype="http://schema.org/SiteNavigationElement">
            <menu itemprop="about" itemscope itemtype="http://schema.org/ItemList">
                <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                    <div>Купить</div>
                    <a href="/public" itemprop="itemListElement">
                        <svg width="24px" height="5%" viewBox="0 0 24 24" id="ic_whatshot_24px" x="120" y="96" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04a4.8 4.8 0 0 1-4.8 4.8z"></path></svg>
                        <span>Каталог</span>
                    </a>
					<div>Вход / регистрация</div>
					<a href="/login" itemprop="itemListElement">
						<svg width="24px" height="5%" viewBox="0 0 24 24" id="ic_input_24px" x="216" y="192" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet"><path d="M21 3.01H3c-1.1 0-2 .9-2 2V9h2V4.99h18v14.03H3V15H1v4.01c0 1.1.9 1.98 2 1.98h18c1.1 0 2-.88 2-1.98v-14a2 2 0 0 0-2-2zM11 16l4-4-4-4v3H1v2h10v3z"></path></svg>
						<span>Вход</span>
					</a>
					<br>
					<a href="/registration" itemprop="itemListElement">
						<svg width="24px" height="5%" viewBox="0 0 24 24" id="ic_assignment_24px" x="96" y="24" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet"><path d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm2 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z"></path></svg>
						<span>Регистрация</span>
					</a>
                    <div>О проекте</div>
                    <a href="/team" itemprop="itemListElement">
                        <svg width="24px" height="5%" viewBox="0 0 24 24" id="ic_group_24px" y="24" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet"><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"></path></svg>
                        <span>Наша команда</span>
                    </a>
					<br>
                    <a href="/rules" itemprop="itemListElement">
						<svg width="24px" height="100%" viewBox="0 0 24 24" id="ic_format_list_bulleted_24px" x="120" y="96" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet"><path d="M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5S3.17 7.5 4 7.5 5.5 6.83 5.5 6 4.83 4.5 4 4.5zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5 1.5-.68 1.5-1.5-.67-1.5-1.5-1.5zM7 19h14v-2H7v2zm0-6h14v-2H7v2zm0-8v2h14V5H7z"></path></svg>
						<span>Правила</span>
                    </a>
					<br>
                    <a href="/partnership" itemprop="itemListElement">
						<svg width="24px" height="100%" viewBox="0 0 24 24" id="ic_flight_takeoff_24px" x="192" y="96" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet"><path d="M2.5 19h19v2h-19zm19.57-9.36c-.21-.8-1.04-1.28-1.84-1.06L14.92 10l-6.9-6.43-1.93.51 4.14 7.17-4.97 1.33-1.97-1.54-1.45.39 1.82 3.16.77 1.33 1.6-.43 5.31-1.42 4.35-1.16L21 11.49c.81-.23 1.28-1.05 1.07-1.85z"></path></svg>
						<span>Партнерка</span>
                    </a>
                </div>
            </menu>
            <div layout="column" flex id="content">
                <div id="main-value">
                    {{> Template.dynamic template=template data=data}}
                </div>
            </div>
        </section>
    </body>
</html>