<p>
    Введите данные для входа
</p>
<md-content layout-padding layout="column">
    <form name="entranceForm">
        <md-input-container>
            <label>Имя пользователя</label>
            <input required name="username">
        </md-input-container>
        <md-input-container>
            <label>пароль</label>
            <input required name="password" type="password">
        </md-input-container>
        <md-checkbox id="remember-me">
            Запомнить меня
        </md-checkbox>
        <md-input-container>
            <button>
                Вход
            </button>
            <button>
                Забыли пароль?
            </button>
        </md-input-container>
    </form>

</md-content>

<md-content>
    <div id="social-auth">
        <p>
            <span>Или авторизуйтесь через соцсеть</span>
        </p>
        <md-content>
            <button aria-label="Google">
                Google
            </button>
            <button aria-label="VK">
                VK
            </button>
            <button aria-label="Facebook">
                Facebook
            </button>
        </md-content>
    </div>
</md-content>