<nav id="contents">
    <button>
        Сотрудничество для геймеров
    </button>
    <button>
        Сотрудничество для блогеров
    </button>
</nav>
<div layout="column" layout-align="space-between">
    <section id="partnership-gamer">
        <p>Сотрудничество для геймеров</p>
        <ol>
            <li>
                <p>
                    Мы сотрудничаем с людьми, которые умеют быстро и
                    качественно выполнять поручения по прокачке игр.
                </p>
            </li>
            <li>
                <p>
                    Для подачи заявки вам необходимо создать обращение в
                    <a href="{{ticketLink}}">службу поддержки</a>
                    с пометкой "Сотрудничество для геймеров". Мы рассмотрим заявку и пришлем ответ.
                    Так же можете написать нам на admin@salegame.net
                </p>
            </li>
            <li>
                <p>
                    Преимущества партнера - мы будем продвигать ваши аккаунты в топ, предоставлять возможность реального заработка,
                    а также устраивать конкурсы между нашими партнерами.
                </p>
            </li>
            <li>
                <p>
                    Администрация SaleGame вправе без объяснений прервать сотрудничество,
                    если были нарушены правила или иные неправомерные действия.
                </p>
            </li>
        </ol>
    </section>

    <section id="partnership-blogger">
        <p>Сотрудничество для блогеров</p>
        <ol>
            <li>
                <p>
                    Принимаются заявки о сотрудничестве партнеров имеющих аккаунты ( Twich, Youtube, RuTube и т.д. ).
                </p>
                <p>
                    Так же принимаем заявки от блоггеров и иных средств массовой информации.
                </p>
            </li>
            <li>
                <p>
                    Напишите нам в <a href="{{ticketLink}}">службу поддержки</a> выберите категорию "сотрудничество",
                    с пометкой "партнерка для блоггеров". Мы рассмотрим заявку и пришлем ответ.
                    Так же можете написать нам на admin@salegame.net
                </p>
            </li>
            <li>
                <p>
                    Аккаунт должен иметь не менее 2500 просморов для блога, 5 000 подписчиков ( Twich, Youtube, RuTube и т.д. )
                    и не менее 3 000 для иных средств массовой информации.
                </p>
            </li>
            <li>
                <p>
                    Мы платим вам за показы рекламы, в размере 15 рублей за 1000 просмотров.
                    Выплаты начинаются с 10 000 просмотров на одной статье, блоге, видео или иных средств массовой информации.
                </p>
            </li>
            <li>
                <p>
                    После принятия вас в партнеры сайта, за вами будет закреплен менеджер,
                    который будет вести расчет средств с вами (раз в 2 недели) и помогать решать проблемы
                </p>
            </li>
            <li>
                <p>
                    Администрация SaleGame вправе расторгнуть договор если были нарушены правила
                    или выявлен факт мошенничества
                </p>
            </li>
        </ol>
    </section>
</div>

<button id="scrollTop" aria-label="Go-to-head"></button>