{{{keys}}}
<div>
{{#each games}}
    <div itemscope itemtype="http://schema.org/Product">
        <a href="/game/view/{{_id}}">
            <img class="img-card" src="{{getMainImageURL images}}" itemprop="image">
        </a>
        <md-card-title>
            <md-card-title-text>
                <div itemprop="name">{{name}}</div>
                <div itemprop="description">
                    {{description}}
                </div>
				<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					<span itemprop="price">{{additionOfNumber price commission}}</span>
					<span itemprop="priceCurrency">RUB</span>
				</div>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions>
            <a href="/game/view/{{_id}}">
                <span>Обсудить</span>
            </a>
            <button click="">
                <span translate>Пожаловаться</span>
            </button>
        </md-card-actions>
    </div>
{{/each}}
</div>
