<p>
    Введите данные для регистрации
</p>
<md-content>

    <form name="userForm">

        <md-input-container>
            <label>Имя</label>
            <input autocomplete="off" required id="user-name" name="name">
        </md-input-container>

        <md-input-container>
            <label>Фамилия</label>
            <input autocomplete="off" required id="user-surname" name="surname">
        </md-input-container>

        <md-input-container>
            <label>email (будет использоваться как логин при входе)</label>
            <input autocomplete="off" required name="username">
        </md-input-container>

        <md-input-container>
            <label>пароль</label>
            <input autocomplete="off" required name="password" type="password">
        </md-input-container>

        <section>
            <span>
                При регистрации я согласен с правилами пользования сайтом
            </span>
            <button href="/rules" target="_blank">
                Прочитать правила
            </button>
        </section>

        <button type="submit">Регистрация</button>

    </form>

</md-content>

<md-content>
    <div id="social-auth">
        <p>
            <span>Или авторизуйтесь через соцсеть</span>
        </p>
        <md-content>
            <button aria-label="Google">
                Google
            </button>
            <button aria-label="VK">
                VK
            </button>
            <button aria-label="Facebook">
                Facebook
            </button>
        </md-content>
    </div>
</md-content>