<nav id="contents">
    <button>
        Общие правила
    </button>
    <button>
        Правила продажи и покупки
    </button>
    <button>
        Правила модерации аккаунта
    </button>
    <button>
        Правила возврата аккаунта
    </button>
    <button>
        Правила вывода средств
    </button>
</nav>
<div>
    <section id="common" itemscope itemtype="http://schema.org/Article">
        <p itemprop="headline name">Общие правила</p>
        <ol itemprop="articleBody">
            <li>
                <p>Общие условия</p>
                <p>Настоящие "Правила пользования" регулируют пользование веб-сайтом интернет-маркета "SaleGame" ("SaleGame.Net"). Условия пользования программами для ЭВМ определены в соответствующих пользовательских лицензионных соглашениях, предоставляемых правообладателями. Передача неисключительных прав на программы для ЭВМ определяется условиями сублицензионных договоров.</p>
                <p>Веб-сайт принадлежит и администрируется "SaleGame". Доступ к Веб-сайту и пользование его ресурсами предоставляется "SaleGame" пользователю при условии принятия настоящих Правил. Если пользователь по какой-либо причине не согласен принять Правила, он должен незамедлительно прекратить пользоваться Веб-сайтом.</p>
                <p>Администрация "SaleGame" вправе пересматривать и вносить изменения в настоящие Правила в любое время. Пользователь должен периодически проверять настоящие Правила. Если после публикации изменений пользователь продолжит пользоваться Веб-сайтом, это будет означать принятие им всех изменений.</p>
            </li>
            <li>
                <p>Регистрационные данные и безопасность учетной записи</p>
                <p>    Пользователь соглашается: предоставлять точную, полную и действительную информацию о себе по запросу регистрационных форм Веб-сайта; поддерживать состояние и своевременно обновлять Регистрационные данные и любую другую информацию, вносимую пользователем, поддерживать ее точность, полноту и действительность; обеспечивать безопасность хранения логина и пароля к своей учетной записи, незамедлительно информировать Администрацию "SaleGame" о несанкционированном использовании своей учетной записи и прочих случаях нарушения безопасности; нести полную ответственность за все без исключения действия со своей учетной записью; принимать на себя все риски, связанные с несанкционированным доступом к Регистрационным данным и любой другой информации, которую пользователь предоставляет "SaleGame".</p>
            </li>
            <li>
                <p>Возраст и ответственность</p>
                <p>    Пользователь заявляет и гарантирует, что достиг достаточного возраста для пользования Веб-сайтом и исполнения обязательств по устранению задолженности, которая может возникнуть в результате пользования Веб-сайтом. Пользователь несет ответственность за свое пользование Веб-сайтом, а также использование своего логина и пароля другими лицами.</p>
            </li>
            <li>
                <p>Контент</p>
                <p>Вся информация, которая размещена на Веб-сайте, является собственностью "SaleGame" и других правообладателей и может быть защищена законами об интеллектуальной собственности, включая законодательные акты, относящиеся к исключительным правам, товарным знакам, торговым маркам, доменным именам и прочим подобным правам.</p>
                <p>За исключением присоединившихся к "Партнерской программе", любое использование пользователями Контента в коммерческих целях без письменного разрешения со стороны "SaleGame" категорически запрещается.</p>
                <p>Контент может использоваться и копироваться исключительно в некоммерческих, личных или образовательных целях при условии, что в Контент не будут внесены изменения и из него не будут удалены упоминания об исключительных или авторских правах. Пользователь не вправе создавать производные работы или любым другим образом использовать Контент.</p>
            </li>
            <li>
                <p>Заказ, оплата, доставка и возврат покупок</p>
                <p>Пользователь оплачивает, получает и может вернуть свои покупки в соответствии с опубликованными на Веб-сайте "Правилами продажи", "Правилами доставки" и "Правилами возврата".</p>
            </li>
            <li>
                <p>Правила поведения</p>
                <p>Пользователь обязуется не использовать Веб-сайт незаконным или не разрешенным настоящими Правилами образом, в т.ч. во время общения в группах или приватных чатах, и не делать ничего из нижеследующего:</p>
                <ul>
                    <li>позорить, оскорблять, раздражать, преследовать, угрожать или каким либо другим образом нарушать права (например, право на конфиденциальность) других пользователей</li>
                    <li>публиковать, размещать, распространять любые клеветнические, нарушающие права, непристойные, порнографические, сексуального характера, вульгарные или запрещенные законами материалы или информацию</li>
                    <li>загружать или передавать другим способом файлы, которые содержат программное обеспечение или другие материалы, защищенные законами об интеллектуальной собственности (или правами о конфиденциальности), за исключением случаев, когда пользователь владеет соответствующими правами на них, или получил все необходимые разрешения</li>
                    <li>загружать или передавать другим способом файлы, содержащие вирусы, поврежденные файлы или любое другое подобное программное обеспечение, которое может повредить или мешать работе другого компьютера</li>
                    <li>фальсифицировать оригинальный источник программного обеспечения или другого материала, содержащегося в загружаемом файле,<br>рекламировать или продавать любые товары или услуги; проводить или пересылать опросы, конкурсы или "письма счастья"</li>
                    <li>скачивать любые файлы, размещенные другим пользователем, которые не могут правомерно распространяться подобным образом,<br>использовать любое общение, Контент или другую информацию, полученную на Веб-сайте, для того, чтобы конкурировать с "Каталогом Программ"</li>
                </ul>
                <p>Пользователь признает, что группы по интересам являются публичными, а не приватными каналами общения. Никакое общение с третьими лицами не является рекомендуемым, проверенным, просмотренным или одобренным "SaleGame".</p>
                <p>"SaleGame" оставляет за собой право удалять по любой причине, без оповещения любую переписку или другие размещенные пользователями материалы.</p>
                <p>Пользователь не должен использовать Веб-сайт таким образом, чтобы это могло повредить, вывести из строя, перегрузить, ухудшить Веб-сайт или препятствовать использованию Веб-сайта другими пользователями. Пользователь соглашается не пытаться получить несанкционированный доступ к учетным записям других пользователей Веб-сайта, компьютерным системам или компьютерным сетям, связанным с Веб-сайтом.</p>
            </li>
            <li>
                <p>Конфиденциальность</p>
                <p>"SaleGame" заявляет о соблюдении конфиденциальности персональных данных всех лиц, с которыми мы взаимодействуем. Мы разработали "Политику конфиденциальности" для описания наших правил в отношении конфиденциальности, в каких случаях мы собираем, используем и можем раскрыть персональные данные посетителей Веб-сайта.</p>
            </li>
            <li>
                <p>Ссылки на другие сайты</p>
                <p>Веб-сайт содержит ссылки на сайты третьих лиц. Размещение этих ссылок не означает, что "SaleGame" рекомендует другие сайты или следит за их состоянием. "SaleGame" не несет ответственность перед пользователем за такие ссылки, сайты или убытки, связанные с доступом на них, или их использованием, или доверием к любой информации, материалам, товарам или услугам, представленным на сайтах третьих лиц и связанных с ними ресурсах.</p>
            </li>
        </ol>
    </section>

    <section id="salePurchase" itemscope itemtype="http://schema.org/Article">
        <p itemprop="headline name">Правила продажи и покупки</p>
        <ol itemprop="articleBody">
            <li>
                <p>Под покупателем понимается гражданин, имеющий намерение заказать или приобрести либо заказывающий, приобретающий или использующий товары исключительно для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности.</p>
                <p>Под продавцом понимается организация независимо от организационно-правовой формы, а также индивидуальный предприниматель, осуществляющие продажу товаров по договору розничной купли-продажи (далее именуется - договор).</p>
            </li>
            <li>
                <p>Режим работы SaleGame - организации иной организационно-правовой формы устанавливается ими самостоятельно.</p>
                <p>В случае временного приостановления своей деятельности (для проведения плановых, ремонта и в других случаях) SaleGame обязан своевременно предоставить покупателю информацию о дате и сроках приостановления деятельности.</p>
            </li>
            <li>
                Ассортимент предлагаемых к продаже товаров, перечень оказываемых услуг, а также формы обслуживания определяются продавцом самостоятельно в соответствии с профилем и специализацией своей деятельности.
            </li>
            <li>
                Продавец при осуществлении своей деятельности обязан соблюдать обязательные требования к SaleGame и осуществлению торговой деятельности, установленные нормативными правовыми актами Российской Федерации.
            </li>
            <li>
                Продавец обязан иметь и содержать в исправном состоянии игровой аккаунт до момента продажи или же возврата.
            </li>
            <li>
                Продавец имеет личную стену сообщений, на которой изображен его рейтинг и отзывы других участников.
            </li>
            <li>
                Настоящие Правила в наглядной и доступной форме доводятся продавцом до сведения покупателей.
            </li>
            <li>
                Продавец обязан довести до сведения покупателя наименование игровой области продаж, краткую характеристику аккаунта и несколько доказательств владения им.
            </li>
            <li>
                <p>SaleGame - является посредником между покупателем и продавцом, обеспечивает между ними связь и продажи. SaleGame несет ответственность только за проверенные ими аккаунты и за сбережения всех участников</p>
                <p>Указанная информация размещается в удобных для ознакомления покупателя местах. Аналогичная информация также должна быть доведена до сведения покупателей при осуществлении торговли. </p>
            </li>
            <li>
                <p>Продавец обязан своевременно в наглядной и доступной форме довести до сведения покупателя необходимую и достоверную информацию о товарах и их изготовителях, обеспечивающую возможность правильного выбора товаров.</p>
                <p>Информация в обязательном порядке должна содержать:</p>
                <ul>
                    <li>наименование товара</li>
                    <li>игровая площадка</li>
                    <li>цену в рублях</li>
                    <li>краткое описание</li>
                </ul>
                <p>Если приобретаемый покупателем товар был в употреблении или в нем устранялся недостаток (недостатки), покупателю должна быть предоставлена информация об этом.
                    Об имеющихся в товаре недостатках продавец должен предупредить покупателя в письменной форме</p>
            </li>
            <li>
                <p>Информация о товаре и продавце должна доводиться до сведения покупателя способами, установленными SaleGame, а именно объявление, а также личный рейтинг продавца.</p>
                <p>Информация о продавце, товарах и их изготовителях доводится до сведения покупателей на русском языке.</p>
            </li>
            <li>
                Потребителю также должна быть предоставлена наглядная и достоверная информация об оказываемых услугах, ценах на них и условиях оказания услуг, а также о применяемых формах обслуживания при продаже товаров.
            </li>
            <li>
                <p>При продаже товаров покупателю предоставляется возможность самостоятельно ознакомиться с необходимыми товарами.</p>
                <p>Покупатель вправе осмотреть игровой аккаунт, сразу после приобретения, если возникнут неполадки или же другие замечания, ему необходимо обратиться в тех.поддержку, для выяснения ситуации. Покупателю дается 2 часа на рассмотрение товара, если же потребуется больше времени он обязан сообщить об этом в тех поддержку. Продавец получивший деньги, не может ими распоряжаться до конца проведения сделки.</p>
            </li>
            <li>
                Цены товаров определяются исходя из соображения продавца. Каждый продавец вправе сам оценить свой аккаунт в ту или иную сумму.
            </li>
            <li>
                Сделка является завершенной, только в том случае, если между покупателем и продавцом не было разногласий.
            </li>
        </ol>
    </section>

    <section id="moderation" itemscope itemtype="http://schema.org/Article">
        <p itemprop="headline name">Правила модерации аккаунта</p>
        <ol itemprop="articleBody">
            <li>
                Выставляя аккаунт на продажу вы автоматически соглашаетесь со всеми правилами. Правила могут быть измены в любой момент администрацией SaleGame без предупреждения пользователей. Поэтому рекомендуем следить за обновлениями политики правил.
            </li>
            <li>
                Продавец оставляя заявку на продажу аккаунта, обязуется убрать все привязки, с игрового аккаунта и почтового адреса.
            </li>
            <li>
                При создании заявки продавец сам оформляет заявку и описывает игровой аккаунт, добавляя картинки или же видео аккаунта.
            </li>
            <li>
                Модераторы SaleGame по мере продвижения очереди обрабатывают заявку, изменяя пароли на аккаунте и почтовом адресе, чтобы избежать изменений аккаунта.
            </li>
            <li>
                SaleGame является в первую очередь гарантом сделок, а поэтому обязуется проводить их безопасно.
            </li>
            <li>
                После модерации аккаунт появляется в списке аккаунтов, и доступен для покупки.
            </li>
            <li>
                Продавец вправе вернуть свой аккаунт в любое время (см. Правила возврата)
            </li>
            <li>
                Напомним что сайт взимает комиссию в размере 10% от суммы сделки, поэтому продавец обязан указать кто платит комиссию.
            </li>
            <li>
                После успешной продажи продавец получает денежные средства, после чего может их вывести на любую платежную систему, доступную на сайте.
            </li>
            <li>
                Во время модерации клиент видит статус заявки.
            </li>
            <li>
                Аккаунт может не пройти модерацию и тогда вам сообщит модератор о проблемах которые вы должны будете решить и отправить аккаунт заново на модерацию.
            </li>
        </ol>
    </section>

    <section id="return" itemscope itemtype="http://schema.org/Article">
        <p itemprop="headline name">Правила возврата аккаунта</p>
        <ol itemprop="articleBody">
            <li>
                Продавец, аккаунт которого прошел модерацию и находится в списке объявлений, может в любой момент подать просьбу на возврат аккаунта. Данная услуга бесплатна.
            </li>
            <li>
                Продавец становится в списках на возврат аккаунта, и по мере продвижения списка, он получает свой аккаунт с новыми паролями.
            </li>
            <li>
                Модератор в свою очередь обязан в кротчайшие сроки выполнить запрос клиента.
            </li>
            <li>
                SaleGame вправе изменить политику этих правил без предупреждения, поэтому убедительно просим вас следить за правилами, чтобы не возникало вопросов.
            </li>
        </ol>
    </section>

    <section id="moneyOut" itemscope itemtype="http://schema.org/Article">
        <p itemprop="headline name">Правила вывода средств</p>
        <ol itemprop="articleBody">
            <li>
                Пользователь сайта вправе вывести средства с сайта, в любое время, на любую платежную систему, доступную на сайте.
            </li>
            <li>
                После создания заявки на вывод, пользователь видит свою очередь и примерное время ожидания.
            </li>
            <li>
                Комиссия за перевод средств взимается с клиента. В среднем составляет от 0.2% до 1%.
            </li>
            <li>
                Также пользователь вправе отменить вывод в любой момент.
            </li>
            <li>
                Максимальное количество выводов в день 1
            </li>
            <li>
                Максимальная сумма вывода составляет 50 000р за 1 заявку.
            </li>
        </ol>
    </section>
</div>

<button id="scrollTop" aria-label="Go-to-head"></button>