header div {
    display: inline-block;
}

body > section > div, menu {
    display: inline-block;
    vertical-align: top;
}

menu {
    width: 10%;
}

.img-card {
    max-height: 100px;
    width: auto;
}