<h3>Наша команда</h3>
<div>
    <md-card itemscope itemtype="http://schema.org/Person">
        <md-card-title>
            <md-card-title-text>
                <div itemprop="name">
                    Никита Овчинников
                </div>
                <span itemprop="jobTitle">
                    Технический директор
                </span>
                <span itemprop="address">
                    волгоград
                </span>
            </md-card-title-text>
            <md-card-title-media>
                <img class="img-card" src="/images/L_6WkaPTwhA.jpg" itemprop="image">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions>
            <like></like>
        </md-card-actions>
    </md-card>
    <md-card itemscope itemtype="http://schema.org/Person">
        <md-card-title>
            <md-card-title-text>
                <div itemprop="name">
                    Сергей Митюгов
                </div>
                <span itemprop="jobTitle">
                    Веб-разработчик
                </span>
                <span itemprop="address">
                    Санкт-Петербург
                </span>
            </md-card-title-text>
            <md-card-title-media>
                <img class="img-card" src="/images/OYw7CT54nMw.jpg" itemprop="image">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions>
            <like></like>
        </md-card-actions>
    </md-card>
    <md-card itemscope itemtype="http://schema.org/Person">
        <md-card-title>
            <md-card-title-text>
                <div itemprop="name">
                    Александр Георгадзе
                </div>
                <span itemprop="jobTitle">
                    Веб-разработчик
                </span>
                <span itemprop="address">
                    Москва
                </span>
            </md-card-title-text>
            <md-card-title-media>
                <img class="img-card" src="/images/160667-Crazy-Kitten.jpg" itemprop="image">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions>
            <like></like>
        </md-card-actions>
    </md-card>
    <md-card itemscope itemtype="http://schema.org/Person">
        <md-card-title>
            <md-card-title-text>
                <div itemprop="name">
                    Анзор Дауров
                </div>
                <span itemprop="jobTitle">
                    Веб-разработчик
                </span>
                <span itemprop="address">
                    Москва
                </span>
            </md-card-title-text>
            <md-card-title-media>
                <img class="img-card" src="/images/Tc_Aqedwo1M.jpg" itemprop="image">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions>
            <like></like>
        </md-card-actions>
    </md-card>
	<md-card itemscope itemtype="http://schema.org/Person">
		<md-card-title>
			<md-card-title-text>
				<div itemprop="name">
					Юлия Красавина
				</div>
                <span itemprop="jobTitle">
                    SEO-специалист
                </span>
                <span itemprop="address">
                    Москва
                </span>
			</md-card-title-text>
			<md-card-title-media>
				<img class="img-card" src="/images/cyrRYNIGW3E.jpg" itemprop="image">
			</md-card-title-media>
		</md-card-title>
		<md-card-actions>
			<like></like>
		</md-card-actions>
	</md-card>
	<md-card itemscope itemtype="http://schema.org/Person">
		<md-card-title>
			<md-card-title-text>
				<div itemprop="name">
					Мурад Гаджиисаев
				</div>
                <span itemprop="jobTitle">
                    SEO-специалист
                </span>
                <span itemprop="address">
                    Москва
                </span>
			</md-card-title-text>
			<md-card-title-media>
				<img class="img-card" src="/images/cyrRYNIGW3E.jpg" itemprop="image">
			</md-card-title-media>
		</md-card-title>
		<md-card-actions>
			<like></like>
		</md-card-actions>
	</md-card>
	<md-card itemscope itemtype="http://schema.org/Person">
		<md-card-title>
			<md-card-title-text>
				<div itemprop="name">
					Артем Макаров
				</div>
                <span itemprop="jobTitle">
					Аналитик проекта
                </span>
                <span itemprop="address">
					Волгоград
                </span>
			</md-card-title-text>
			<md-card-title-media>
				<img class="img-card" src="/images/cyrRYNIGW3E.jpg" itemprop="image">
			</md-card-title-media>
		</md-card-title>
		<md-card-actions>
			<like></like>
		</md-card-actions>
	</md-card>
</div>