<empty-page ng-if="!vm.notEmptySection(vm.games)"></empty-page>
<div ng-if="vm.notEmptySection(vm.games)">
    <md-content layout-xs="row" layout-gt-xs="row" layout-wrap scrolling>
        <md-card ng-repeat="gameAccount in vm.games"
                 flex-xs="100" flex-sm="45" flex-md="45" flex-lg="30" flex-gt-lg="20">
            <md-card-header>
				<md-card-avatar>
					<img class="md-user-avatar" src="{{gameAccount.category.image | displayImage}}" alt="game-category">
				</md-card-avatar>
				<md-card-header-text>
				<span class="md-title">
					{{gameAccount.category.name}}
				</span>
				</md-card-header-text>
            </md-card-header>
            <a ng-href="/game/view/{{gameAccount._id}}">
                <md-tooltip>
                    <span translate>Просмотр</span>
                </md-tooltip>
                <img ng-src="{{gameAccount.images | displayMainImage}}" class="md-card-image" alt="main image">
            </a>
            <md-card-title>
                <md-card-title-text>
                <span class="md-headline">
                    {{gameAccount.price + gameAccount.commission}} <span class="fa fa-rub"></span>
                </span>
                    <span class="md-headline">{{gameAccount.name}}</span>
                <span class="md-subhead">
                    {{gameAccount.description | cutWithEllipsis: 40}}
                </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions ng-if="vm.visibilityActionButton(gameAccount)" layout="row" layout-align="start center">
                <md-button ng-href="/game/view/{{gameAccount._id}}?scrollTo=chat-form">
                    <md-tooltip>
                        <span translate>Обсудить</span>
                    </md-tooltip>
                    <md-icon aria-label="admin-deals" md-svg-icon="communication:ic_comment_24px"></md-icon>
                </md-button>
                <md-button ng-click="vm.complaint(gameAccount._id, vm.complaintType)">
                    <md-tooltip>
                        <span translate>Пожаловаться</span>
                    </md-tooltip>
                    <md-icon aria-label="admin-deals" md-svg-icon="alert:ic_warning_24px"></md-icon>
                </md-button>
            </md-card-actions>
            <md-card-content></md-card-content>
        </md-card>
    </md-content>
</div>
