<empty-page ng-if="!vm.notEmptySection(vm.things)"></empty-page>
<md-content ng-if="vm.notEmptySection(vm.things)" layout="row" ng-cloak layout-wrap>
    <md-card ng-repeat="thing in vm.things" id="thing-view"
             flex-xs="100" flex-sm="45" flex-md="45" flex-lg="30" flex-gt-lg="20">
        <md-card-header>
            <md-card-avatar>
                <get-category-logo-by-id src-base-64="vm.getCategoryLogo(thing.category)"></get-category-logo-by-id>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title" get-category-name-by-id category="thing.category"></span>
            </md-card-header-text>
        </md-card-header>
        <a href="/thing/view/{{thing._id}}">
            <md-tooltip>
                <span translate>Просмотр</span>
            </md-tooltip>
            <img ng-src="{{vm.getMainImage(thing.images)}}" class="md-card-image" alt="main image">
        </a>
        <md-card-title>
            <md-card-title-text layout="column">
                <span class="md-headline">
                    {{thing.price}} <span class="fa fa-rub"></span>
                </span>
                <span class="md-headline">
                    {{thing.name}}
                </span>
                <span class="md-subhead">
                    {{thing.description}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions ng-if="vm.visibilityActionButton(thing)" layout="row" layout-align="start center">
            <md-button ng-href="/thing/view/{{thing._id}}?scrollTo=chat-form">
                <md-tooltip>
                    <span translate>Обсудить</span>
                </md-tooltip>
                <md-icon aria-label="admin-deals" md-svg-icon="communication:ic_comment_24px"></md-icon>
            </md-button>
            <md-button ng-click="vm.complaint(thing._id, vm.complaintType)">
                <md-tooltip>
                    <span translate>Пожаловаться</span>
                </md-tooltip>
                <md-icon aria-label="admin-deals" md-svg-icon="alert:ic_warning_24px"></md-icon>
            </md-button>
        </md-card-actions>
        <md-card-content></md-card-content>
    </md-card>
</md-content>