<md-toast class="md-toolbar-indent">
    <span class="md-toast-text" flex>
        <span translate>
			Балланс пополнен успешно!
		</span>
    </span>
	<md-button ng-click="closeToast()">
		<span translate>Закрыть</span>
	</md-button>
</md-toast>