<h2 class="md-title" translate>
	Изменить аккаунт
</h2>
<md-content layout="column" flex-xs="100" flex-sm="80" flex-md="80" flex-lg="70" flex-gt-lg="60">

	<form name="editGameAccountForm" ng-submit="vm.saveAccount()" class="md-padding" layout="column">

		<fieldset id="common-data" class="standard" layout="column">
			<legend translate>Общие сведения</legend>

			<md-input-container>
				<label translate>Название аккаунта</label>
				<input autocomplete="off" required id="name" name="name"
					   ng-disabled="vm.queryProcess"
					   ng-maxlength="{{vm.validateData.nameMax}}"
					   ng-model="vm.gameAccount.name">

				<div ng-messages="editGameAccountForm.name.$error">
					<div ng-message="required" translate>Обязательное поле!</div>
					<div ng-message="maxlength" translate>Не больше {{vm.validateData.nameMax}} символов</div>
				</div>
			</md-input-container>

			<md-input-container>
				<label translate>Описание аккаунта</label>
                <textarea required id="description" name="description"
						  ng-disabled="vm.queryProcess"
						  ng-maxlength="{{vm.validateData.descriptionMax}}"
						  ng-model="vm.gameAccount.description"></textarea>

				<div ng-messages="editGameAccountForm.description.$error">
					<div ng-message="required" translate>Обязательное поле!</div>
					<div ng-message="maxlength" translate>Не больше {{vm.validateData.descriptionMax}} символов!</div>
				</div>
			</md-input-container>

			<md-input-container>
				<label translate>Выберите категорию</label>
				<md-select required id="category" name="category" ng-model="vm.gameAccount.category._id">
					<md-option ng-repeat="item in vm.gameCategory" ng-value="item._id">
						<div layout="row" layout-align="start center">
							<img ng-src="{{item.image | displayImage}}" style="height: 25px; margin-right: 5px">
							<span>{{item.name}}</span>
						</div>
					</md-option>
				</md-select>
				<div ng-messages="editGameAccountForm.category.$error">
					<div ng-message="required" translate>Обязательное поле!</div>
				</div>
			</md-input-container>

			<md-autocomplete flex required
							 md-input-name="type"
							 md-selected-item="vm.selectedGameAccountType"
							 md-selected-item-change="vm.newTypeSelected(item)"
							 md-search-text="vm.searchGameAccountType"
							 md-items="item in vm.gameAccountType"
							 md-item-text="item.name"
							 md-min-lengths="0"
							 md-floating-label="{{vm.autocomplitePlaceholder}}">
				<md-item-template>
					<span layout="row">
						<img ng-src="{{item.image | displayImage}}" class="autocomlete-image">
						<span>{{item.name}}</span>
					</span>
				</md-item-template>
			</md-autocomplete>

			<md-input-container>
				<label translate>Изменить цену</label>
				<input autocomplete="off" id="price" name="price" type="number"
					   min="0"
					   max="{{vm.validateData.priceMax}}"
					   ng-disabled="vm.queryProcess"
					   ng-model="vm.gameAccount.price">
				<div ng-messages="editGameAccountForm.price.$error">
					<div ng-message="number" translate>Обязательное поле!</div>
					<div ng-message="min" translate>
						Неверная цена!
					</div>
					<div ng-message="max" translate>
						Не больше {{vm.validateData.priceMax}} <span class="fa fa-rub"></span>
					</div>
				</div>
			</md-input-container>
			<div class="md-caption" translate>
				С учетом комисси {{vm.commission}}%, но не менее {{vm.minCommission}} <span class="fa fa-rub"></span>
				цена {{vm.calcCommission(vm.gameAccount.price)}}
				<span class="fa fa-rub"></span>
			</div>
		</fieldset>

		<fieldset class="standard" id="image-data" ng-if="!vm.queryProcess">
			<legend translate>Фотогаллерея аккаунта</legend>

			<image-upload-and-crop ng-if="!imageAdd" is-array="true" img-obj="vm.gameAccount"></image-upload-and-crop>

			<div ng-if="vm.images.length > 0" layout="column" class="images-container-title">
				<div translate class="md-body-1">
					Нажмите на изображение, чтобы удалить. Первое изображение в списке будет отображаться как главное
				</div>
				<div layout="row" layout-wrap>
					<div class="image-preview">
						<img draggable="false" ng-repeat="image in vm.images track by $index"
							 ng-src="{{ image.url }}"
							 ng-click="vm.removeImage(image.originalId)">
					</div>
				</div>
			</div>

			<input required name="images" class="input-image-file" ng-model="vm.gameAccount.images[0]">

			<div class="validation-messages" ng-messages="editGameAccountForm.images.$error">
				<div ng-message="required" translate>Обязательное действие! Добавите минимум одно изображение!</div>
			</div>
		</fieldset>

		<fieldset ng-if="vm.gameAccount.sellingMode" class="standard" id="dependent-account-data" layout="row">
			<legend translate>Учетная запись игрового аккаунта</legend>

			<md-input-container>
				<label translate>Логин</label>
				<input ng-required="vm.gameAccount.sellingMode" autocomplete="off" id="gameAccount.login" name="gameAccount.login"
					   ng-disabled="vm.queryProcess"
					   minlength="{{vm.validateData.gameAccount.loginMin}}"
					   maxlength="{{vm.validateData.gameAccount.loginMax}}"
					   ng-model="vm.gameAccount.gameAccount.login">

				<div ng-messages='editGameAccountForm["gameAccount.login"].$error'>
					<div ng-message="required" translate>Обязательное поле!</div>
					<div ng-message="minlength" translate>Не меньше {{vm.validateData.gameAccount.loginMin}} символов</div>
					<div ng-message="maxlength" translate>Не больше {{vm.validateData.gameAccount.loginMax}} символов</div>
				</div>
			</md-input-container>

			<md-input-container>
				<label translate>Пароль</label>
				<input ng-required="vm.gameAccount.sellingMode" autocomplete="off" id="gameAccount.pass" name="gameAccount.pass"
					   ng-disabled="vm.queryProcess"
					   minlength="{{vm.validateData.gameAccount.passMin}}"
					   maxlength="{{vm.validateData.gameAccount.passMax}}"
					   ng-model="vm.gameAccount.gameAccount.pass">

				<div ng-messages='editGameAccountForm["gameAccount.pass"].$error'>
					<div ng-message="required" translate>Обязательное поле!</div>
					<div ng-message="minlength" translate>Не меньше {{vm.validateData.gameAccount.passMin}} символов</div>
					<div ng-message="maxlength" translate>Не больше {{vm.validateData.gameAccount.passMax}} символов</div>
				</div>
			</md-input-container>
		</fieldset>

		<fieldset ng-if="vm.gameAccount.sellingMode" class="standard" id="dependent-account-data" layout="row">
			<legend translate>Связанный аккаунт</legend>

			<md-input-container>
				<label translate>Логин</label>
				<input ng-required="vm.gameAccount.sellingMode" type="email" autocomplete="off" id="dependentAccount.login" name="dependentAccount.login"
					   ng-disabled="vm.queryProcess"
					   ng-model="vm.gameAccount.dependentAccount.login">

				<div ng-messages='editGameAccountForm["dependentAccount.login"].$error'>
					<div ng-message="required" translate>Обязательное поле!</div>
					<div ng-message="email" translate>Неправильный адрес электронной почты!</div>
				</div>
			</md-input-container>

			<md-input-container>
				<label translate>Пароль</label>
				<input ng-required="vm.gameAccount.sellingMode" autocomplete="off" id="dependentAccount.pass" name="dependentAccount.pass"
					   ng-disabled="vm.queryProcess"
					   minlength="{{vm.validateData.dependentsAccount.passMin}}"
					   maxlength="{{vm.validateData.dependentsAccount.passMax}}"
					   ng-model="vm.gameAccount.dependentAccount.pass">

				<div ng-messages='editGameAccountForm["dependentAccount.pass"].$error'>
					<div ng-message="required" translate>Обязательное поле!</div>
					<div ng-message="minlength" translate>Не меньше {{vm.validateData.dependentsAccount.passMin}} символов</div>
					<div ng-message="maxlength" translate>Не больше {{vm.validateData.dependentsAccount.passMax}} символов</div>
				</div>
			</md-input-container>
		</fieldset>

		<md-button type="submit" ng-disabled="vm.queryProcess" class="md-raised md-primary" translate>
			Изменить аккаунт
		</md-button>

	</form>

</md-content>