<md-card id="game-view" class="md-padding">
	<md-card-title-media layout="row" layout-align="start start" layout-margin>
		<ng-gallery ng-if="vm.images" images="vm.images"></ng-gallery>
	</md-card-title-media>
	<md-card-title>
		<md-card-avatar>
			<img class="md-user-avatar" src="{{vm.gameAccount.category.image | displayImage}}" alt="game-category">
		</md-card-avatar>
		<md-card-title-text layout="column">
            <span class="md-title">
				{{vm.gameAccount.category.name}}
			</span>
            <span class="md-headline">
                {{vm.gameAccount.price + vm.gameAccount.commission}} <span class="fa fa-rub"></span>
				<md-button class="md-grid-item-content md-raised md-primary" ng-click="vm.createDeal()">
					<span class="md-grid-text" translate>
						Купить
					</span>
				</md-button>
            </span>
            <span class="md-subhead">
				{{vm.gameAccount.name}}
			</span>
            <span class="md-subhead">
				{{vm.gameAccount.description}}
			</span>
		</md-card-title-text>
		<div ng-if="vm.gameAccount.sellingMode">
			<md-tooltip>
                <span translate>
                    Мгновенная покупка - проверенный аккаунт
                </span>
			</md-tooltip>
			<span class="fa fa-checkbox-marked-outline" style="font-size: 50px;"></span>
		</div>
	</md-card-title>
	<md-card-actions ng-if="vm.visibilityActionButton(vm.gameAccount)" layout="row" layout-align="end center" layout-wrap>
		<social-share socialshare-text="vm.gameAccount.description"
					  socialshare-url="game/view/{{vm.gameAccount._id}}"></social-share>
		<like object-type="vm.like.objectType"
			  object-id="vm.gameAccount._id">
		</like>
	</md-card-actions>
	<md-card-actions ng-if="vm.isCreator(vm.gameAccount)" layout="column" layout-align="center center">
		<md-button ng-if="!vm.allowDeleteAccount(vm.gameAccount)" ng-disabled="vm.timeWaitOnReturn" class="md-grid-item-content md-raised" ng-click="vm.returnAccount()">
            <span class="md-grid-text" translate>
                Вернуть <span ng-if="vm.timeWaitOnReturn" translate> через {{vm.timeWaitOnReturn | limitTo:10}}</span>
            </span>
		</md-button>
		<md-button ng-if="vm.allowDeleteAccount(vm.gameAccount)" class="md-raised md-primary" ng-click="vm.deleteAccount()">
			<span class="md-grid-text" translate>
				Удалить аккаунт
			</span>
		</md-button>
		<form name="changePriceForGameAccountForm" ng-submit="vm.changePrice()" class="md-padding" layout="column">
			<fieldset id="change-price" class="standard" layout="column">
				<legend translate>Редактировать цену</legend>
				<md-input-container>
					<label translate>Изменить</label>
					<input autocomplete="off" id="price" name="price" type="number"
						   max="{{vm.gameAccount.priceMax}}"
						   ng-disabled="vm.queryProcess"
						   ng-model="vm.gameAccount.price">
					<div ng-messages="changePriceForGameAccountForm.price.$error">
						<div ng-message="number" translate>Обязательное поле!</div>
						<div ng-message="max" translate>
							Не больше {{vm.validateData.priceMax}} <span class="fa fa-rub"></span>
						</div>
					</div>
				</md-input-container>
				<div class="md-caption" translate>
					С учетом комисси {{vm.commission}}%, но не менее {{vm.minCommission}} <span class="fa fa-rub"></span>
					цена {{vm.calcCommission(vm.gameAccount.price)}}
					<span class="fa fa-rub"></span>
				</div>
				<br>
				<md-button type="submit" ng-disabled="newGame.queryProcess" class="md-raised md-primary" translate>
					Изменить цену
				</md-button>
			</fieldset>
		</form>
	</md-card-actions>
</md-card>

<chat create-method="vm.chat.createCommentMethodName"
	  create-param="vm.chat.createCommentParam"
	  comments-subscribe="vm.chat.commentsSubscribe"
	  subscribe-method="vm.chat.subscribeMethod"
	  comment-key="vm.chat.commentKey"
	  object-id="vm.gameAccount._id"
	  comment-type="vm.chat.commentType"
></chat>