<empty-page ng-if="!vm.notEmptySection(vm.userSold)"></empty-page>
<md-content ng-if="vm.notEmptySection(vm.userSold)"
			class="md-padding" layout-xs="row" layout-gt-xs="row" layout-wrap>
	<md-card ng-repeat="gameAccount in vm.userSold"
			 flex-xs="100" flex-sm="45" flex-md="45" flex-lg="30" flex-gt-lg="20">
		<md-card-header>
			<md-card-avatar>
				<img class="md-user-avatar" src="{{gameAccount.category.image | displayImage}}" alt="game-category">
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">
					{{gameAccount.category.name}}
				</span>
			</md-card-header-text>
			<div ng-if="vm.sellingGameStatus(gameAccount)">
				<md-tooltip>
                    <span translate>
                        Сделка в процессе
                    </span>
				</md-tooltip>
				<span class="fa fa-clock" style="font-size: 50px;"></span>
			</div>
			<div ng-if="!vm.sellingGameStatus(gameAccount)">
				<md-tooltip>
                    <span translate>
                        Сделка завершена
                    </span>
				</md-tooltip>
				<span class="fa fa-alarm-check" style="font-size: 50px;"></span>
			</div>
		</md-card-header>
		<img ng-src="{{gameAccount.images | displayMainImage}}" class="md-card-image" alt="main image">
		<md-card-title>
			<md-card-title-text>
                <span class="md-headline">
                    {{gameAccount.price + gameAccount.commission}} <span class="fa fa-rub"></span>
                </span>
				<span class="md-headline">{{gameAccount.name}}</span>
                <span class="md-subhead">
                    {{gameAccount.description | limitTo: 40}}
					{{gameAccount.description.length > 40 ? '...' : ''}}
                </span>
			</md-card-title-text>
		</md-card-title>
	</md-card>
</md-content>