<h2 class="md-title" translate>
    Добавьте аккаунт, который хотите продать
</h2>
<md-content layout="column" flex-xs="100" flex-sm="80" flex-md="80" flex-lg="70" flex-gt-lg="60">

    <form name="addGameAccountForm" ng-submit="newGame.saveAccount()" class="md-padding" layout="column">

        <fieldset id="common-data" class="standard" layout="column">
            <legend translate>Общие сведения</legend>

            <md-input-container>
                <label translate>Название аккаунта</label>
                <input autocomplete="off" required id="name" name="name"
                       ng-disabled="newGame.queryProcess"
                       ng-maxlength="{{newGame.validateData.nameMax}}"
                       ng-model="newGame.newAccount.name">

                <div ng-messages="addGameAccountForm.name.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="maxlength" translate>Не больше {{newGame.validateData.nameMax}} символов</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label translate>Описание аккаунта</label>
                <textarea required id="description" name="description"
                       ng-disabled="newGame.queryProcess"
                       ng-maxlength="{{newGame.validateData.descriptionMax}}"
                       ng-model="newGame.newAccount.description"></textarea>

                <div ng-messages="addGameAccountForm.description.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="maxlength" translate>Не больше {{newGame.validateData.descriptionMax}} символов!</div>
                </div>
            </md-input-container>

			<md-button class="md-primary" ng-href="/faq?scrollTo=adsType" target="_blank" translate>нужна помощь с выбором типа?</md-button>

			<md-input-container>
				<label translate>
					Тип объявления
				</label>
                <md-select required id="adsType" name="adsType" ng-model="newGame.newAccount.adsType">
                    <md-option ng-repeat="adsType in newGame.adsTypes" ng-value="adsType"
                               get-ads-type-name-by-conts ads-type="adsType">
                    </md-option>
                </md-select>
                <div ng-messages="addGameAccountForm.adsType.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                </div>
            </md-input-container>

            <br>

			<md-button class="md-primary" ng-href="/faq?scrollTo=startSale" target="_blank" translate>нужна помощь с выбором режима продажи?</md-button>

			<md-input-container>
                <label translate>Режим продажи</label>
                <md-select id="sellingMode" name="sellingMode" ng-model="newGame.newAccount.sellingMode">
                    <md-option ng-value="0" translate>
                        С посредником
                    </md-option>
                    <md-option ng-value="1" translate>
                        Предварительная модерация
                    </md-option>
                </md-select>
                <div ng-messages="addGameAccountForm.sellingMode.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                </div>
            </md-input-container>

            <br>

            <md-input-container>
                <label translate>Выберите категорию</label>
                <md-select required id="category" name="category" ng-model="newGame.newAccount.category">
                    <md-option ng-repeat="item in newGame.gameCategory" ng-value="item">
						<div layout="row" layout-align="start center">
							<img ng-src="{{item.image | displayImage}}" style="height: 25px; margin-right: 5px">
							<span>{{item.name}}</span>
						</div>
                    </md-option>
                </md-select>
                <div ng-messages="addGameAccountForm.category.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                </div>
            </md-input-container>

			<md-autocomplete flex required
					md-input-name="type"
				 	md-selected-item-change="newGame.newTypeSelected(item)"
					md-search-text="newGame.searchGameAccountType"
					md-items="item in newGame.gameAccountType"
					md-item-text="item.name"
					md-min-lengths="0"
					md-floating-label="{{newGame.autocomplitePlaceholder}}">
				<md-item-template>
					<span layout="row">
						<img ng-src="{{item.image | displayImage}}" class="autocomlete-image">
						<span>{{item.name}}</span>
					</span>
				</md-item-template>
			</md-autocomplete>

            <md-input-container>
                <label translate>Цена</label>
                <input autocomplete="off" id="price" name="price" type="number"
					   min="0"
                       max="{{newGame.validateData.priceMax}}"
                       ng-disabled="newGame.queryProcess"
                       ng-model="newGame.newAccount.price">
                <div ng-messages="addGameAccountForm.price.$error">
                    <div ng-message="number" translate>Обязательное поле!</div>
                    <div ng-message="min" translate>
                        Неверная цена!
                    </div>
                    <div ng-message="max" translate>
                        Не больше {{newGame.validateData.priceMax}} <span class="fa fa-rub"></span>
                    </div>
                </div>
            </md-input-container>
            <div ng-if="newGame.newAccount.price" class="md-caption" translate>
				Цена аккаунта {{newGame.calcCommission(newGame.newAccount.price)}} <span class="fa fa-rub"></span>
                Коммиссия {{newGame.commission}}%, но не менее {{newGame.minCommission}} <span class="fa fa-rub"></span>
            </div>
        </fieldset>

        <fieldset class="standard" id="image-data" ng-if="!newGame.queryProcess">
            <legend translate>Фотогаллерея аккаунта</legend>

            <image-upload-and-crop ng-if="!imageAdd" is-array="true" img-obj="newGame.newAccount"></image-upload-and-crop>

            <div ng-if="newGame.images.length > 0" layout="column" class="images-container-title">
                <div translate class="md-body-1">
                    Нажмите на изображение, чтобы удалить. Первое изображение в списке будет отображаться как главное
                </div>
                <div layout="row" layout-wrap>
                    <div class="image-preview">
                        <img draggable="false" ng-repeat="image in newGame.images track by $index"
                             ng-src="{{ image.url }}"
                             ng-click="newGame.removeImage(image.originalId)">
                    </div>
                </div>
            </div>

            <input required name="images" class="input-image-file" ng-model="newGame.newAccount.images[0]">

            <div class="validation-messages" ng-messages="addGameAccountForm.images.$error">
                <div ng-message="required" translate>Обязательное действие! Добавите минимум одно изображение!</div>
            </div>
        </fieldset>

        <fieldset ng-if="newGame.newAccount.sellingMode" class="standard" id="dependent-account-data" layout="row">
            <legend translate>Учетная запись игрового аккаунта</legend>

            <md-input-container>
                <label translate>Логин</label>
                <input ng-required="newGame.newAccount.sellingMode" autocomplete="off" id="gameAccount.login" name="gameAccount.login"
                       ng-disabled="newGame.queryProcess"
                       minlength="{{newGame.validateData.gameAccount.loginMin}}"
                       maxlength="{{newGame.validateData.gameAccount.loginMax}}"
                       ng-model="newGame.newAccount.gameAccount.login">

                <div ng-messages='addGameAccountForm["gameAccount.login"].$error'>
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="minlength" translate>Не меньше {{newGame.validateData.gameAccount.loginMin}} символов</div>
                    <div ng-message="maxlength" translate>Не больше {{newGame.validateData.gameAccount.loginMax}} символов</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label translate>Пароль</label>
                <input ng-required="newGame.newAccount.sellingMode" autocomplete="off" id="gameAccount.pass" name="gameAccount.pass"
                       ng-disabled="newGame.queryProcess"
                       minlength="{{newGame.validateData.gameAccount.passMin}}"
                       maxlength="{{newGame.validateData.gameAccount.passMax}}"
                       ng-model="newGame.newAccount.gameAccount.pass">

                <div ng-messages='addGameAccountForm["gameAccount.pass"].$error'>
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="minlength" translate>Не меньше {{newGame.validateData.gameAccount.passMin}} символов</div>
                    <div ng-message="maxlength" translate>Не больше {{newGame.validateData.gameAccount.passMax}} символов</div>
                </div>
            </md-input-container>
        </fieldset>

        <fieldset ng-if="newGame.newAccount.sellingMode" class="standard" id="dependent-account-data" layout="row">
            <legend translate>Связанный аккаунт</legend>

            <md-input-container>
                <label translate>Логин</label>
                <input ng-required="newGame.newAccount.sellingMode" type="email" autocomplete="off" id="dependentAccount.login" name="dependentAccount.login"
                       ng-disabled="newGame.queryProcess"
                       ng-model="newGame.newAccount.dependentAccount.login">

                <div ng-messages='addGameAccountForm["dependentAccount.login"].$error'>
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="email" translate>Неправильный адрес электронной почты!</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label translate>Пароль</label>
                <input ng-required="newGame.newAccount.sellingMode" autocomplete="off" id="dependentAccount.pass" name="dependentAccount.pass"
                       ng-disabled="newGame.queryProcess"
                       minlength="{{newGame.validateData.dependentsAccount.passMin}}"
                       maxlength="{{newGame.validateData.dependentsAccount.passMax}}"
                       ng-model="newGame.newAccount.dependentAccount.pass">

                <div ng-messages='addGameAccountForm["dependentAccount.pass"].$error'>
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="minlength" translate>Не меньше {{newGame.validateData.dependentsAccount.passMin}} символов</div>
                    <div ng-message="maxlength" translate>Не больше {{newGame.validateData.dependentsAccount.passMax}} символов</div>
                </div>
            </md-input-container>
        </fieldset>

        <md-button type="submit" ng-disabled="newGame.queryProcess" class="md-raised md-primary" translate>
            Добавить аккаунт
        </md-button>

    </form>

</md-content>