<div scrolling>
    <section class="md-margin" layout="row" layout-align="start center" layout-wrap style="margin-bottom: -50px">
        <md-select ng-model="vm.filter.category" aria-label="category filter" style="height: 50px; margin: 12px 0 80px;">
            <md-option ng-selected="vm.filter.category ? false : true" ng-value="">
                <span translate>Все категории</span>
            </md-option>
            <md-option ng-value="category._id" ng-repeat="category in vm.gameCategories">
				<img ng-src="{{::category.image | displayImage}}" style="height: 40px; margin-right: 5px">
                <span>{{::category.name}}</span>
            </md-option>
        </md-select>
		<md-select ng-model="vm.filter.typeId" aria-label="category filter" style="height: 50px; margin: 12px 0 80px;">
			<md-option ng-selected="vm.filter.typeId ? false : true" ng-value="">
				<span translate>Все игры</span>
			</md-option>
			<md-option ng-value="type._id" ng-repeat="type in vm.gameAccountType">
				<img ng-src="{{::type.image | displayImage}}" style="height: 40px; margin-right: 5px">
				<span>{{::type.name}}</span>
			</md-option>
		</md-select>
		<div hide-xs hide-sm layout="row" layout-align="end center" style="width: 60%;">
			<md-button class="md-raised md-primary" ng-href="/game/new" style="margin-bottom: 60px;">
				<md-icon aria-label="game-new" md-svg-icon="content:ic_add_24px"></md-icon>
				<span class="md-grid-text">Добавить</span>
			</md-button>
		</div>
    </section>
    <md-content layout-xs="row" layout-gt-xs="row" layout-wrap>
        <md-card ng-repeat="gameAccount in vm.gameAccounts"
                 flex-xs="100" flex-sm="45" flex-md="45" flex-lg="30" flex-gt-lg="20"
                 class="{{::gameAccount.adsType | adsType}}">
            <md-card-header>
                <md-card-avatar>
					<img class="md-user-avatar" src="{{::gameAccount.category.image | displayImage}}" alt="game-category">
				</md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">
						{{::gameAccount.category.name}}
					</span>
                </md-card-header-text>
                <div ng-if="gameAccount.sellingMode">
                    <md-tooltip>
                        <span translate>
                            Мгновенная покупка - проверенный аккаунт
                        </span>
                    </md-tooltip>
                    <span class="fa fa-check-square-o" style="font-size: 50px;"></span>
                </div>
            </md-card-header>
            <a ng-href="/game/view/{{::gameAccount._id}}">
                <md-tooltip>
                    <span translate>Просмотр</span>
                </md-tooltip>
                <img ng-src="{{::gameAccount.images | displayMainImage}}" class="md-card-image" alt="main image">
            </a>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
                        {{::gameAccount.price + gameAccount.commission}} <span class="fa fa-rub"></span>
                    </span>
					<a ng-href="/game/view/{{::gameAccount._id}}">
						<span class="md-headline">{{::gameAccount.name}}</span>
					</a>
					<a ng-href="/game/view/{{::gameAccount._id}}">
						<span class="md-subhead">
							{{::gameAccount.description | cutWithEllipsis: 40}}
						</span>
					</a>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions ng-if="vm.visibilityActionButton(gameAccount)" layout="row" layout-align="start center">
				<social-share socialshare-text="gameAccount.description"
							  socialshare-url="game/view/{{::gameAccount._id}}"></social-share>
				<md-button ng-href="/game/view/{{::gameAccount._id}}?scrollTo=chat-form">
                    <md-tooltip>
                        <span translate>Обсудить</span>
                    </md-tooltip>
                    <md-icon aria-label="admin-deals" md-svg-icon="communication:ic_comment_24px"></md-icon>
                </md-button>
                <md-button ng-click="vm.complaint(gameAccount._id, vm.complaintType)">
                    <md-tooltip>
                        <span translate>Пожаловаться</span>
                    </md-tooltip>
                    <md-icon aria-label="admin-deals" md-svg-icon="alert:ic_warning_24px"></md-icon>
                </md-button>
            </md-card-actions>
            <md-card-content></md-card-content>
        </md-card>
    </md-content>
</div>

<empty-page ng-if="!vm.notEmptySection(vm.gameAccounts)"></empty-page>
