<empty-page ng-if="!vm.notEmptySection(vm.gameAccounts)"></empty-page>
<md-content layout-xs="row" layout-gt-xs="row" layout-wrap>
    <md-card ng-repeat="gameAccount in vm.gameAccounts"
             flex-xs="100" flex-sm="45" flex-md="45" flex-lg="30" flex-gt-lg="20">
        <md-card-header>
			<md-card-avatar>
				<img class="md-user-avatar" src="{{gameAccount.category.image | displayImage}}" alt="game-category">
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">
					{{gameAccount.category.name}}
				</span>
			</md-card-header-text>
        </md-card-header>
        <a ng-href="/game/returned/view/{{gameAccount._id}}">
            <md-tooltip>
                <span translate>Просмотр</span>
            </md-tooltip>
            <img ng-src="{{gameAccount.images | displayMainImage}}" class="md-card-image" alt="main image">
        </a>
        <md-card-title>
            <md-card-title-text>
            <span class="md-headline">
                {{gameAccount.price + gameAccount.commission}} <span class="fa fa-rub"></span>
            </span>
                <span class="md-headline">{{gameAccount.name}}</span>
            <span class="md-subhead">
                {{gameAccount.description | cutWithEllipsis: 40}}
            </span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</md-content>
