<md-card id="game-view" class="md-padding">
    <md-card-title>
		<md-card-avatar>
			<img class="md-user-avatar" src="{{vm.gameAccount.category.image | displayImage}}" alt="game-category">
		</md-card-avatar>
        <md-card-title-text layout="column">
			<span class="md-title">
				{{vm.gameAccount.category.name}}
			</span>
            <span class="md-subhead">
                {{vm.gameAccount.name}}
            </span>
            <span class="md-subhead">
                {{vm.gameAccount.description}}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-title-media layout="row" layout-align="start start" layout-margin>
        <div ng-repeat="image in vm.gameAccount.images">
            <img ng-if="$index==0" ng-src="{{image | displayImage}}" class="md-card-image main-image">
            <div ng-if="$index!=0" id="gallery-container" layout="row" layout-align="start start" layout-margin layout-wrap>
                <img ng-src="{{image | displayImage}}" class="md-card-image">
            </div>
        </div>
    </md-card-title-media>
    <md-card-actions layout="row" layout-align="space-between center">
        <div class="md-subhead">
            <h4 translate>Связанный аккаунт</h4>
            <div translate>Логин: {{vm.gameAccount.dependentAccount.login}}</div>
            <div translate>Пароль: {{vm.gameAccount.dependentAccount.pass}}</div>
        </div>
        <div class="md-subhead">
            <h4 translate>Игровой аккаунт</h4>
            <div translate>Логин: {{vm.gameAccount.gameAccount.login}}</div>
            <div translate>Пароль: {{vm.gameAccount.gameAccount.pass}}</div>
        </div>
    </md-card-actions>
</md-card>