<empty-page ng-if="!vm.notEmptySection(vm.userSales)"></empty-page>
<md-content ng-if="vm.notEmptySection(vm.userSales)" class="md-padding" layout="row" ng-cloak layout-wrap scrolling>
    <md-card ng-repeat="userSale in vm.userSales"
             flex-xs="100" flex-sm="45" flex-md="45" flex-lg="30" flex-gt-lg="20">
        <md-card-header>
			<md-card-avatar>
				<img class="md-user-avatar" src="{{::userSale.category.image | displayImage}}" alt="game-category">
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">
					{{::userSale.category.name}}
				</span>
			</md-card-header-text>
            <div ng-if="vm.sellingGameStatus(userSale)">
                <md-tooltip>
                    <span translate>
                        Сделка в процессе
                    </span>
                </md-tooltip>
                <span class="fa fa-clock" style="font-size: 50px;"></span>
            </div>
        </md-card-header>
        <a href="/game/user-sales/view/{{::userSale._id}}">
            <md-tooltip>
                <span translate>Просмотр</span>
            </md-tooltip>
            <img ng-src="{{::userSale.images | displayMainImage}}" class="md-card-image" alt="main image">
        </a>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    {{::userSale.price}} <span class="fa fa-rub"></span>
                </span>
                <span class="md-headline">{{::userSale.name}}</span>
                <span class="md-subhead">
                    {{::userSale.description | limitTo: 40}}
                    {{::userSale.description.length > 40 ? '...' : ''}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start-center">
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-tooltip>
                    <span translate>Поделиться</span>
                </md-tooltip>
                <md-icon md-svg-icon="social:ic_share_24px"></md-icon>
            </md-button>
            <span class="md-subhead">{{::userSale.createdAt|date:"dd MMMM yyyy"}}</span>
        </md-card-actions>
    </md-card>
</md-content>