<md-card id="game-view" class="md-padding">
    <md-card-title>
		<md-card-avatar>
			<img class="md-user-avatar" src="{{vm.gameAccount.category.image | displayImage}}" alt="game-category">
		</md-card-avatar>
        <md-card-title-text layout="column">
            <span class="md-title">
				{{vm.gameAccount.category.name}}
			</span>
            <span class="md-headline">
                {{vm.gameAccount.price + vm.gameAccount.commission}} <span class="fa fa-rub"></span>
            </span>
            <span class="md-subhead">
                {{vm.gameAccount.name}}
            </span>
            <span class="md-subhead">
                {{vm.gameAccount.description}}
            </span>
        </md-card-title-text>
        <div ng-if="vm.gameAccount.sellingMode">
            <md-tooltip>
                <span translate>
                    Мгновенная покупка - проверенный аккаунт
                </span>
            </md-tooltip>
            <span class="fa fa-checkbox-marked-outline" style="font-size: 50px;"></span>
        </div>
    </md-card-title>
    <md-card-title-media layout="row" layout-align="start start" layout-margin>
		<ng-gallery ng-if="vm.images" images="vm.images"></ng-gallery>
    </md-card-title-media>
</md-card>
<md-toolbar>
	<h2 class="md-toolbar-tools">
		<span translate>Комментарии</span>
	</h2>
</md-toolbar>
<md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="{{vm.chatType.common}}">
		<md-content class="md-padding">
			<chat create-method="vm.chat.createCommentMethodName"
				  create-param="vm.chat.createCommentParam"
				  comments-subscribe="vm.chat.commentsSubscribe"
				  subscribe-method="vm.chat.subscribeMethod"
				  comment-key="vm.chat.commentKey"
				  object-id="vm.gameAccount._id"
				  comment-type="vm.chat.commentType">
			</chat>
		</md-content>
	</md-tab>
	<md-tab label="{{vm.chatType.withManager}}">
		<md-content class="md-padding">
			<chat create-method="vm.chatWithManager.createCommentMethodName"
				  create-param="vm.chatWithManager.createCommentParam"
				  comments-subscribe="vm.chatWithManager.commentsSubscribe"
				  subscribe-method="vm.chatWithManager.subscribeMethod"
				  comment-key="vm.chatWithManager.commentKey"
				  object-id="vm.gameAccount._id"
				  comment-type="vm.chatWithManager.commentType">
			</chat>
		</md-content>
	</md-tab>
</md-tabs>