<md-card id="game-view" class="md-padding">
    <md-card-title>
		<md-card-avatar>
			<img class="md-user-avatar" src="{{vm.userPurchase.category.image | displayImage}}" alt="game-category">
		</md-card-avatar>
        <md-card-title-text layout="column">
            <span class="md-title">
				{{vm.userPurchase.category.name}}
			</span>
            <span class="md-subhead">
                {{vm.userPurchase.name}}
            </span>
            <span class="md-subhead">
                {{vm.userPurchase.description}}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-title-media layout="row" layout-align="start start" layout-margin>
		<ng-gallery ng-if="vm.images" images="vm.images"></ng-gallery>
    </md-card-title-media>
    <md-card-content>
        <div ng-if="vm.userPurchase.sellingMode">
            <h3 translate>Связанная учетная запись</h3>
            <div class="md-body-1">
                <span translate>Логин: </span>
                {{vm.userPurchase.dependentAccount.login}}
            </div>
            <div class="md-body-1">
                <span translate>Пароль: </span>
                {{vm.userPurchase.dependentAccount.pass}}
            </div>
            <h3 translate>Игровая учетная запись</h3>
            <div class="md-body-1">
                <span translate>Логин: </span>
                {{vm.userPurchase.gameAccount.login}}
            </div>
            <div class="md-body-1">
                <span translate>Пароль: </span>
                {{vm.userPurchase.gameAccount.pass}}
            </div>
        </div>
    </md-card-content>
    <md-card-actions ng-if="!vm.userPurchase.sellingMode && vm.isModerator()" layout="row" layout-align="end center">
        <div>
            Процесс покупки в чате сделки
        </div>
    </md-card-actions>
</md-card>
<div ng-if="vm.chatType">
	<md-toolbar>
		<h2 class="md-toolbar-tools">
			<span translate>Комментарии</span>
		</h2>
	</md-toolbar>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="{{vm.chatType.common}}">
			<md-content class="md-padding">
				<chat create-method="vm.chat.createCommentMethodName"
					  create-param="vm.chat.createCommentParam"
					  comments-subscribe="vm.chat.commentsSubscribe"
					  subscribe-method="vm.chat.subscribeMethod"
					  comment-key="vm.chat.commentKey"
					  object-id="vm.gameAccount._id"
					  comment-type="vm.chat.commentType">
				</chat>
			</md-content>
		</md-tab>
		<md-tab label="{{vm.chatType.withManager}}">
			<md-content class="md-padding">
				<chat create-method="vm.chatWithManager.createCommentMethodName"
					  create-param="vm.chatWithManager.createCommentParam"
					  comments-subscribe="vm.chatWithManager.commentsSubscribe"
					  subscribe-method="vm.chatWithManager.subscribeMethod"
					  comment-key="vm.chatWithManager.commentKey"
					  object-id="vm.gameAccount._id"
					  comment-type="vm.chatWithManager.commentType">
				</chat>
			</md-content>
		</md-tab>
	</md-tabs>
</div>
