<md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools" translate>
        Создайте заявку на вывод денежных средств
    </h2>
</md-toolbar>
<md-content layout="column">

    <form name="payOutBidForm" validator ng-submit="vm.createOutMoneyBid()" class="md-padding" layout="column">

        <fieldset id="common-money-out-bid-data" class="standard" layout="column">
            <legend translate>Реквизиты</legend>

            <md-input-container>
                <label translate>Сумма</label>
                <input autocomplete="off" required id="money-out-sum" name="outMoneySum" type="number"
                       ng-disabled="vm.queryProcess"
                       min="{{vm.validateData.minSum}}"
                       max="{{vm.moneyAccount.sum}}"
                       ng-model="vm.newBid.sum">

                <div ng-messages="payOutBidForm.outMoneySum.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="min" translate="">Сумма не может быть менее {{vm.validateData.minSum}}
                        <span class="fa fa-rub"></span>
                    </div>
                    <div ng-message="max" translate="">Сумма не может быть более {{vm.moneyAccount.sum}}
                        <span class="fa fa-rub"></span>
                    </div>
                </div>
            </md-input-container>

            <span ng-if="vm.checkWallets()" class="md-body-2" translate>
                Выберите готовый
            </span>

            <md-input-container ng-if="vm.checkWallets()">
                <label translate>
                    Кошельки
                </label>
                <md-select
                        autocomplete="off"
                        id="existing-wallets"
                        name="existingWallets"
                        ng-disabled="vm.queryProcess"
                        ng-change="vm.bindValueOnBid()"
                        ng-model="vm.selectedWallet">
                    <md-optgroup ng-if="vm.notEmptySection(vm.yandexCollection)" label="Yandex">
                        <md-option ng-value="item"
                                   ng-repeat="item in vm.yandexCollection">
                            {{ item.accountNumber }}
                        </md-option>
                    </md-optgroup>
                    <md-optgroup ng-if="vm.notEmptySection(vm.cardCollection)" label="Card">
                        <md-option ng-value="item"
                                   ng-repeat="item in vm.cardCollection">
                            {{ item.accountNumber }}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <md-button ng-if="vm.selectedWallet" class="md-raised" ng-click="vm.deleteSelectedWallet()">
                Удалить выбранный кошелек
            </md-button>

            <span ng-if="vm.checkWallets()" class="md-body-2" translate>
                или введите новый счет
            </span>

            <md-input-container>
                <label translate>
                    Тип кошелька
                </label>
                <md-select
                        autocomplete="off"
                        id="out-money-account-type"
                        name="outMoneyAccountType"
                        ng-disabled="vm.queryProcess"
                        ng-change="vm.clearSelect()"
                        ng-model="vm.newBid.accountType"
                        aria-label="wallet-type">
                    <md-option ng-value="1">
                        YandexMoney
                    </md-option>
                    <md-option ng-value="3">
                        Visa, Mastercard
                    </md-option>
                </md-select>

                <div ng-messages="payOutBidForm.outMoneyAccountType.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label translate>Номер счета</label>
                <input ng-required
                       id="out-money-account-number"
                       name="outMoneyAccountNumber"
                       ng-disabled="vm.queryProcess"
                       ng-change="vm.clearSelect()"
                       ng-model="vm.newBid.accountNumber"
                       maxlength="{{vm.validateData.walletNumber.maxLength}}">

                <div ng-messages="payOutBidForm.outMoneyAccountNumber.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="maxlength" translate>Не больше {{vm.validateData.walletNumber.maxLength}} символов</div>
                </div>
            </md-input-container>
        </fieldset>

        <md-button type="submit" ng-disabled="vm.queryProcess" class="md-raised md-primary" translate>
            Отправить заявку на вывод денежных средств
        </md-button>

    </form>

</md-content>