<md-dialog aria-label="Confirm purchases">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 translate>
					У вас недостаточно средств на счету!
				</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="max-width:800px;max-height:810px;">
			<div class="md-dialog-content" translate layout-padding layout-margin>
				Нужно пополнить балланс, прежде чем осуществлять покупки!
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button class="md-raised" ng-click="cancel()">
				<span translate>Отмена</span>
			</md-button>
			<md-button class="md-raised md-primary" ng-click="cancel()" ng-href="/money/account/put-money">
				<span translate>Пополнить балланс</span>
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>