<md-toast class="md-toolbar-indent">
    <span ng-if="error" class="md-toast-text" flex>
        <span translate>Произошла ошибка!</span>
    </span>
    <span ng-if="imageIsTooSmall" class="md-toast-text" flex>
        <span translate>Загруженное изображение слишком маленькое!</span>
    </span>
    <md-button ng-click="closeToast()">
        <span translate>Закрыть</span>
    </md-button>
</md-toast>