<md-dialog aria-label="Error" translate>
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2>
                <p translate>
                    Произошла ошибка! Вы можете помочь, описав действия, которые совершили
                </p>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-svg-src="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="errorForm" layout="column" validator ng-submit="sendError()">
                <md-input-container>
                    <label translate>Опишите ваши действия</label>
                    <textarea name="msg" ng-model="msg" ng-maxlength="64000"></textarea>

                    <div ng-messages="errorForm.msg.$error">
                        <div ng-message="maxlength" translate>Не должно привышать 64000 символов!</div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary" type="submit" translate>Отправить</md-button>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>