<md-subheader ng-if="!chat.commentsCollection[chat.commentKey]" class="md-primary">
    <span translate>
        Пока нет комментариев...
    </span>
</md-subheader>
<md-content>
    <form id="chat-form" name="createCommentForm" ng-submit="chat.createComment()" class="md-padding" layout="column">
        <md-input-container class="md-icon-float md-block">
            <label translate>Сообщение</label>
            <md-icon md-svg-src="communication:ic_comment_24px"></md-icon>
            <textarea required
                      name="msg"
                      ng-model="chat.comment"
                      ng-maxlength="{{chat.validateData.msgMaxLength}}"
                      ng-blur="chat.clearFormValidity()"></textarea>
            <div ng-messages="createCommentForm.msg.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="maxlength" translate>Не больше {{chat.validateData.msgMaxLength}} символов!</div>
            </div>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary" ng-keyup="$event.keyCode == 13 ? chat.createComment() : null" >
            <span translate>Написать комментарий</span>
        </md-button>
    </form>
</md-content>
<md-content id="chat">
    <md-list ng-if="chat.commentsCollection[chat.commentKey]" class="md-dense">
        <section ng-attr-id="{{'comment-' + comment._id}}"
                    ng-repeat="comment in chat.commentsCollection[chat.commentKey] | orderBy:'-createdAt'"
                    ng-if="!comment.block"
                    ng-init="chat.addUser(comment.author)">
            <md-list-item class="md-2-line">
                <avatar image-class="md-avatar" user-id="chat.getUserById(comment.author)._id" image-id="chat.getUserById(comment.author).profile.avatar"></avatar>
                <div class="md-list-item-text">
                    <h3>{{chat.getUserById(comment.author).profile.name + ' ' + chat.getUserById(comment.author).profile.surname}}</h3>
                    <p>{{comment.msg}}</p>
                </div>
                <md-button class="md-grid-item-content"
                           ng-if="chat.showReply(comment.author)"
                           ng-click="chat.showSubcommentForm(comment, chat.getUserById(comment.author))">
                    <md-tooltip>
                        <span translate>Ответить</span>
                    </md-tooltip>
                    <md-icon aria-label="reply" md-svg-icon="content:ic_reply_24px"></md-icon>
                </md-button>
                <md-button ng-if="chat.commentType && chat.showReply(comment.author)" ng-click="chat.complaint(comment._id)">
                    <md-tooltip>
                        <span translate>Пожаловаться</span>
                    </md-tooltip>
                    <md-icon aria-label="admin-deals" md-svg-icon="alert:ic_warning_24px"></md-icon>
                </md-button>
            </md-list-item>
            <form name="createSubcommentForm"
                  ng-if="comment._id == chat.subcommentId"
                  ng-submit="chat.createSubComment()" class="md-padding" layout="column">
                <md-input-container class="md-icon-float md-block">
                    <label translate>Сообщение</label>
                    <md-icon md-svg-src="communication:ic_comment_24px"></md-icon>
                    <textarea required
                                name="msg"
                                ng-model="chat.subcomment"
                                ng-maxlength="{{chat.validateData.msgMaxLength}}"
                                ng-blur="chat.clearFormValidity()"></textarea>
                    <div ng-messages="createSubcommentForm.msg.$error">
                        <div ng-message="required" translate>Обязательное поле!</div>
                        <div ng-message="maxlength" translate>Не больше {{chat.validateData.msgMaxLength}} символов!</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-button type="submit" class="md-raised md-primary" ng-keyup="$event.keyCode == 13 ? chat.createComment() : null" >
                        <span translate>Ответить</span>
                    </md-button>
                    <md-button type="submit" class="md-raised md-warn" ng-click="chat.closeSubcommentForm()" >
                        <span translate>Закрыть</span>
                    </md-button>
                </div>
            </form>
        </section>
    </md-list>
</md-content>