<div ng-if="imagesIsSave" layout="column" layout-align="center center" style="width: 100%; height: 80%;">
	<md-progress-circular md-mode="indeterminate" md-diameter="128"></md-progress-circular>
</div>
<div ng-if="!imagesIsSave" layout="column">
	<div ng-if="!originalImage"
		 layout-padding
		 class="drop-box"
		 ngf-drop ngf-select
		 ngf-change="imageUploadAndCrop.addImage($files)"
		 ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
		 ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
		 ngf-drop-available="true">
		<span translate>Нажмите, чтобы добавить изображение</span>
		<div translate>
			или
		</div>
		<span translate>
			можете перетащить изображение сюда
		</span>
		<div translate>
			Размеры изображения от 300*300 до 4096 * 3112
		</div>
	</div>
	<div ng-if="originalImage" class="ng-crop-container">
		<h3 translate>Хорошо! Теперь обрежьте ваше изображение</h3>
		<div id="canvas-parent">
			<canvas width="{{canvasWidth}}" height="{{canvasHeight}}" id="canvas"
				image-cropper
				image="originalImage"
				min-width="imageUploadAndCrop.cropWidthHeight"
				min-height="imageUploadAndCrop.cropWidthHeight"
				crop-width="imageUploadAndCrop.cropWidthHeight"
				crop-height="imageUploadAndCrop.cropWidthHeight"
				keep-aspect="true"
				touch-radius="30"
				crop-area-bounds="imageUploadAndCrop.cropImgSrcBounds"></canvas>
		</div>
		<md-button ng-click="imageUploadAndCrop.saveCroppedImage($event)"
				   ng-disabled="!originalImage"
				   class="md-raised md-warn"
				   style="z-index: 1"
				   translate>
			Сохранить изображние
		</md-button>
	</div>
</div>