<md-button ng-click="vm.likeToggle()">
    <md-tooltip ng-if="vm.isFavorites">
        <span translate>Добавить в избранное</span>
    </md-tooltip>
    <md-icon aria-label="admin-deals" md-svg-icon="action:ic_favorite_24px"></md-icon>
    {{vm.countLike}}
</md-button>