<section class="md-actions" layout="row" layout-align="start center" layout-wrap>
    <h3 translate>Поделиться </h3>
    <md-button aria-label="Google"
               socialshare
               socialshare-provider="google+"
               socialshare-trigger="click"
               socialshare-text="{{promiseWorkData.description}}"
               socialshare-url="{{hostUrl}}/promise-work/{{promiseWorkData.id}}">
        <span class="fa fa-google-plus social-icon-font-size"></span>
    </md-button>
    <md-button aria-label="VK"
               socialshare
               socialshare-provider="vk"
               socialshare-trigger="click"
               socialshare-text="{{promiseWorkData.description}}"
               socialshare-url="{{hostUrl}}/promise-work/{{promiseWorkData.id}}">
        <span class="fa fa-vk social-icon-font-size"></span>
    </md-button>
    <md-button aria-label="facebook"
               socialshare
               socialshare-provider="facebook"
               socialshare-trigger="click"
               socialshare-text="{{promiseWorkData.description}}"
               socialshare-url="{{hostUrl}}/promise-work/{{promiseWorkData.id}}">
        <span class="fa fa-facebook social-icon-font-size"></span>
    </md-button>
</section>