<md-button ng-click="vm.showShareDialog()">
	<md-tooltip>
		<span translate>Поделиться</span>
	</md-tooltip>
	<md-icon aria-label="social-share" md-svg-icon="social:ic_share_24px"></md-icon>
</md-button>