/*------------------------------------------------------------------
[Stylesheet]
Color Palette - Indigo
-------------------------------------------------------------------*/

.btn,
.btn-large {
	background-color: #e53935 !important;
}

.btn:hover,
.btn-large:hover {
	background-color: #f44336 !important;
}

.hero_fullscreen.background_solid,
.color_bg {
	background-color: #3f51b5 !important;
}

a {
	color:#f44336
}
