<md-card id="game-view" class="md-padding">
    <md-card-title>
		<md-card-avatar>
			<img class="md-user-avatar" src="{{mgav.gameAccount.category.image | displayImage}}" alt="game-category">
		</md-card-avatar>
        <md-card-title-text layout="column">
            <span class="md-headline">
				{{mgav.gameAccount.category.name}}
            </span>
            <span class="md-subhead">
                {{mgav.gameAccount.description}}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-title-media layout="row" layout-align="start start" layout-margin>
		<ng-gallery ng-if="mgav.images" images="mgav.images"></ng-gallery>
    </md-card-title-media>
    <md-card-content>
        <form name="changeGameAccountForm" ng-submit="mgav.changeAccount()" class="md-padding" layout="column">
            <fieldset class="standard" id="dependent-account-data" layout="row">
                <legend translate>Измените учетную запись игрового аккаунта</legend>
                <md-input-container>
                    <label translate>Логин</label>
                    <input required autocomplete="off" id="gameAccount.login" name="gameAccount.login"
                           ng-disabled="mgav.queryProcess"
                           minlength="{{mgav.validateData.gameAccount.loginMin}}"
                           maxlength="{{mgav.validateData.gameAccount.loginMax}}"
                           ng-model="mgav.gameAccount.gameAccount.login">
                    <div ng-messages='changeGameAccountForm["gameAccount.login"].$error'>
                        <div ng-message="required" translate>Обязательное поле!</div>
                        <div ng-message="minlength" translate>Не меньше {{mgav.validateData.gameAccount.loginMin}} символов</div>
                        <div ng-message="maxlength" translate>Не больше {{mgav.validateData.gameAccount.loginMax}} символов</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label translate>Пароль</label>
                    <input required autocomplete="off" id="gameAccount.pass" name="gameAccount.pass"
                           ng-disabled="mgav.queryProcess"
                           minlength="{{mgav.validateData.gameAccount.passMin}}"
                           maxlength="{{mgav.validateData.gameAccount.passMax}}"
                           ng-model="mgav.gameAccount.gameAccount.pass">
                    <div ng-messages='changeGameAccountForm["gameAccount.pass"].$error'>
                        <div ng-message="required" translate>Обязательное поле!</div>
                        <div ng-message="minlength" translate>Не меньше {{mgav.validateData.gameAccount.passMin}} символов</div>
                        <div ng-message="maxlength" translate>Не больше {{mgav.validateData.gameAccount.passMax}} символов</div>
                    </div>
                </md-input-container>
            </fieldset>
            <fieldset class="standard" id="dependent-account-data" layout="row">
                <legend translate>Измените связанный аккаунт</legend>
                <md-input-container>
                    <label translate>Логин</label>
                    <input required type="email" autocomplete="off" id="dependentAccount.login" name="dependentAccount.login"
                           ng-disabled="mgav.queryProcess"
                           ng-model="mgav.gameAccount.dependentAccount.login">
                    <div ng-messages='changeGameAccountForm["dependentAccount.login"].$error'>
                        <div ng-message="required" translate>Обязательное поле!</div>
                        <div ng-message="email" translate>Неправильный адрес электронной почты!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label translate>Пароль</label>
                    <input required autocomplete="off" id="dependentAccount.pass" name="dependentAccount.pass"
                           ng-disabled="mgav.queryProcess"
                           minlength="{{mgav.validateData.dependentsAccount.passMin}}"
                           maxlength="{{mgav.validateData.dependentsAccount.passMax}}"
                           ng-model="mgav.gameAccount.dependentAccount.pass">
                    <div ng-messages='changeGameAccountForm["dependentAccount.pass"].$error'>
                        <div ng-message="required" translate>Обязательное поле!</div>
                        <div ng-message="minlength" translate>Не меньше {{mgav.validateData.dependentsAccount.passMin}} символов</div>
                        <div ng-message="maxlength" translate>Не больше {{mgav.validateData.dependentsAccount.passMax}} символов</div>
                    </div>
                </md-input-container>
            </fieldset>
            <md-button type="submit" ng-disabled="mgav.queryProcess" class="md-raised md-primary" translate>
                Изменить данные
            </md-button>
        </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="space-between center">
        <md-button class="md-raised" ng-click="mgav.moderationSuccess()">
            <span translate>
                Пропустить
            </span>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="mgav.returnAccount()">
            <span translate>
                Вернуть
            </span>
        </md-button>
        <md-button class="md-raised md-warn" ng-click="mgav.blockAccount()">
            <span translate>
                Заблокировать
            </span>
        </md-button>
    </md-card-actions>
</md-card>

<chat create-method="mgav.chat.createCommentMethodName"
      create-param="mgav.chat.createCommentParam"
      comments-subscribe="mgav.chat.commentsSubscribe"
      subscribe-method="mgav.chat.subscribeMethod"
      comment-key="mgav.chat.commentKey"
></chat>
