<md-list ng-cloak>
    <md-subheader class="md-no-sticky">
        <span translate>
            Игровые аккаунты на проверке
        </span>
    </md-subheader>
    <md-list-item ng-repeat="gameAccount in mga.gameAccounts"
                  ng-href="/admin/moderation-game-account/view/{{gameAccount._id}}" class="noright">
        <avatar image-class="md-avatar" user-id="gameAccount.creator" image-id="gameAccount.images[0]"></avatar>
        <p>
            {{gameAccount.description}}
        </p>
    </md-list-item>
</md-list>