@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,400italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic);

$fieldSetColor: #3F51B5;

*, md-toolbar, md-button, md-sidenav,
md-subheader, md-list, md-list-item, md-content,
md-input-container, md-chips, input {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

html {
  overflow: hidden;
}

.fa {
  color: rgba(0,0,0,0.54);
  font-size: 26px !important;
}

md-toolbar, ng-gallery {
  .fa {
    color: rgba(255,255,255,0.87);
  }
}

ng-gallery {
  .fa {
    font-size: 40px !important;
  }
  div {
    display: inline-block;
  }
}
.ng-gallery-content > img {
  width: auto;
  height: auto;
  max-height: calc(100% - 150px);
  max-width: calc(100% - 100px);
}

body main {
  height: 100%;
  #main-app-value {
    min-height: 80%;
    height: auto;
    md-sidenav div a {
      display: block;
      width: 90%;
      text-align: left;
    }
  }
}

md-sidenav .md-grid-item-content .fa {
  width: 40px;
}

#social-auth {
  .fa {
    font-size: 3em;
  }
}

.social-icon-font-size {
  font-size: 40px !important;
}

.ng-crop-container {
  height: 400px;
}

.validation-messages {
  font-size: 12px;
  color: rgb(221, 44, 0);
}

.input-image-file {
  display: none;
}

fieldset.standard, hr {
  border-style: solid;
  border-width: 1px;
}

legend {
  color: $fieldSetColor;
}

legend code {
  color: $fieldSetColor;
  font-weight: normal;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  text-align: center;
}

.drop-box:hover {
  cursor: pointer;
}

.drop-box.dragover {
  border: 5px dashed blue;
}

.drop-box.dragover-err {
  border: 5px dashed red;
}

.md-autocomplete-suggestions {
  li {
    margin-bottom: 3px;
  }
}

.autocomlete-image {
  height: 48px;
  margin-right: 10px;
}

md-card-avatar {
  margin-right: 10px;
}

.md-select-value img {
  display: none;
}

.uploaded-image {
  max-height: 100px;
  max-width: 200px;
}

.ng-crop-container {
  height: 400px;
}

.image-preview {
  display: inline-block;
  margin: 5px;
  img {
    margin: 5px;
    max-width: 20%;
  }
}

img-crop {
  bottom: 17%;
}

.party-image-container {
  position: relative;
  margin-right: 10px;
  max-height: 200px;
  max-width: 200px;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.main-image {
  max-width: 200px;
}

.image-collection {
  max-width: 30px;
  margin: 1px;
}

.gallery-container {
  overflow: hidden;
  max-height: 190px;
}

#game-view {
  margin: 0 0 5px 0;
}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
}

md-sidenav {
  max-width: 250px;
}

empty-page {
  width: 100%;
  height: 100%;
}

#empty-page {
  width: 100%;
  height: 100%;
  text-align: center;
  .fa {
    font-size: 200px !important;
  }
  .fa.fa-meh-o {
    font-size: 200px !important;
  }
}

.logo-padding {
  padding: 16px 16px 16px 0;
}

.md-avatar-team {
  max-height: 100px;
  width: auto;
  margin-left: 5px;
}

#scrollTop {
  position: fixed;
  bottom: 65px;
  right: 20px;
  z-index: 100000;
  cursor: pointer;
  opacity: .7;
}

#scrollTop:hover {
  opacity: .9;
}

.ads-color {
  background-color: rgba(63, 81, 181, 0.7);
  color: #fff;
  .fa, md-icon {
    color: #fff !important;
  }
}

.ads-top {
  background-color: rgba(229, 57, 53, 0.8);
  color: #fff;
  .fa, md-icon {
    color: #fff !important;
  }
}

#footer {
  .fa {
    font-size: 2em;
  }
}

img.ng-thumb {
  width: auto;
  height: 100px !important;
}

md-toolbar.breadcrumb-panel {
  height: 30px !important;
  max-height: 30px !important;
  min-height: 30px !important;
}

ol.breadcrumb {
  font-size: 20px;
  margin: 0;
  padding: 0;
  li {
    float: left;
    list-style-type: none;
    a {
      color: #fff;
    }
  }
  li:before {
    content: "/";
  }
}

