<h2 class="md-title" translate>
    Введите данные для регистрации
</h2>
<md-content layout="column">

    <form name="userForm" ng-submit="registration.registration()" layout="column">

        <md-input-container>
            <label translate>имя</label>
            <input autocomplete="off" required id="user-name" name="name" ng-model="registration.credentials.profile.name">

            <div ng-messages="userForm.name.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label translate>фамилия</label>
            <input autocomplete="off" required id="user-surname" name="surname" ng-model="registration.credentials.profile.surname">

            <div ng-messages="userForm.username.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label translate>email (будет использоваться как логин при входе)</label>
            <input autocomplete="off" required name="username" ng-model="registration.credentials.username"
                   ng-pattern="emailPattern">

            <div ng-messages="userForm.username.$error">
                <div ng-message="exist" translate>Пользователь с этим email уже существует!</div>
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="pattern" translate>Не меньше 6 символов</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label translate>пароль</label>
            <input autocomplete="off" required name="password" type="password" ng-minlength="6" ng-model="registration.credentials.password">

            <div ng-messages="userForm.password.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="minlength" translate>Не меньше 6 символов</div>
            </div>
        </md-input-container>

        <section class="md-body-1" layout="row" layout-align="center center">
            <span translate>
                При регистрации я согласен с правилами пользования сайтом
            </span>
            <md-button class="md-primary" ng-href="/rules" target="_blank" md-autofocus>
                <span translate>Прочитать правила</span>
            </md-button>
        </section>

        <md-button type="submit" ng-disabled="queryProcess" class="md-raised md-primary" translate>Регистрация</md-button>

    </form>

</md-content>

<social-auth></social-auth>