<h2 class="md-title" translate>
    Введите данные для добавления пользователя
</h2>
<md-content layout-padding layout="column">

    <form name="userForm" ng-submit="vm.create()" layout="column">

        <md-input-container>
            <label translate>Имя</label>
            <input autocomplete="off" required id="user-name" name="name" ng-model="vm.credentials.profile.name">

            <div ng-messages="userForm.name.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label translate>Фамилия</label>
            <input autocomplete="off" required id="user-surname" name="surname" ng-model="vm.credentials.profile.surname">

            <div ng-messages="userForm.surname.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label translate>email (будет использоваться как логин при входе)</label>
            <input autocomplete="off" required name="username" ng-model="vm.credentials.username"
                   ng-pattern="emailPattern">

            <div ng-messages="userForm.username.$error">
                <div ng-message="userExist" translate>Пользователь с этим login уже существует!</div>
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="pattern" translate>Не меньше 6 символов</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label translate>пароль</label>
            <input autocomplete="off" required name="password" type="password" ng-minlength="6" ng-model="vm.credentials.password">

            <div ng-messages="userForm.password.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="minlength" translate>Не меньше 6 символов</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label translate>роль</label>
            <md-select ng-model="vm.credentials.role">
                <md-option ng-repeat="role in vm.roleTypes" value="{{role}}">
                    {{role}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-button type="submit" class="md-raised md-primary" translate>Добавить</md-button>

    </form>

</md-content>