<md-list ng-cloak>
    <md-subheader class="md-no-sticky">
        <h2>
           <span translate>
                Сделки:
           </span>
        </h2>
    </md-subheader>
    <section class="md-margin" layout="column" layout-align="center start" layout-wrap>
        <md-autocomplete flex
                         md-input-name="seller"
                         md-search-text="vm.userLoginSeller"
                         md-selected-item-change="vm.selectedSellerChange(user)"
                         md-items="user in vm.users"
                         md-item-text="user.username + ' ' + user.profile.name + ' ' + user.profile.surname"
                         md-min-length="0"
                         md-floating-label="Продавец">
            <md-item-template>
                <span md-highlight-text="vm.userLogin" md-highlight-flags="^i">
                    {{user.username + " " + user.profile.name + " " + user.profile.surname}}
                </span>
            </md-item-template>
            <md-not-found translate>
                Пользователь "{{vm.userLoginSeller}}" не найден
            </md-not-found>
        </md-autocomplete>
        <md-autocomplete flex
                         md-input-name="buyer"
                         md-search-text="vm.userLoginBuyer"
                         md-selected-item-change="vm.selectedBuyerChange(user)"
                         md-items="user in vm.users"
                         md-item-text="user.username + ' ' + user.profile.name + ' ' + user.profile.surname"
                         md-min-length="0"
                         md-floating-label="Покупатель">
            <md-item-template>
                <span md-highlight-text="vm.userLogin" md-highlight-flags="^i">
                    {{user.username + " " + user.profile.name + " " + user.profile.surname}}
                </span>
            </md-item-template>
            <md-not-found translate>
                Пользователь "{{vm.userLoginBuyer}}" не найден
            </md-not-found>
        </md-autocomplete>
        <md-input-container>
            <label translate>
                Статус
            </label>
            <md-select ng-model="vm.search.status">
                <md-option value="" get-deal-status></md-option>
                <md-option value="0" get-deal-status></md-option>
                <md-option value="1" get-deal-status></md-option>
                <md-option value="2" get-deal-status></md-option>
                <md-option value="3" get-deal-status></md-option>
            </md-select>
        </md-input-container>
    </section>
    <md-list-item ng-repeat="deal in vm.deals" ng-href="/admin/deals/view/{{deal._id}}" class="noright" scrolling>
        <div class="md-list-item-text">
            <p>
                <span translate>
                    Продавец:
                </span>
                {{vm.getUserById(deal.seller, vm.users).profile.name + ' '
                    + vm.getUserById(deal.seller, vm.users).profile.surname }}
            </p>
            <p>
                <span translate>
                    Покупатель:
                </span>
                {{vm.getUserById(deal.buyer, vm.users).profile.name + ' '
                    + vm.getUserById(deal.buyer, vm.users).profile.surname }}
            </p>
            <p>
                <span value="deal.status" get-deal-status></span>
            </p>
            <p>
                <span translate>
                    Сумма: {{deal.price}}
                </span>
                <span class="fa fa-rub"></span>
            </p>
        </div>
    </md-list-item>
</md-list>
