<md-card id="deal-view" class="md-padding">
    <md-card-title>
        <md-card-title-text layout="column">
            <span class="md-headline" translate>
                Цена:
                {{ vm.deal.price }}
            </span>
            <span class="md-subhead" deal-type value="vm.deal.type"></span>
            <span class="md-subhead" translate>
                Продавец:
                {{ vm.getUserById(vm.deal.seller, vm.users).profile.name }}
                {{ vm.getUserById(vm.deal.seller, vm.users).profile.surname }}
                |
                {{ vm.getUserById(vm.deal.seller, vm.users).username }}
            </span>
            <span class="md-subhead" translate>
                Покупатель:
                {{ vm.getUserById(vm.deal.buyer, vm.users).profile.name }}
                {{ vm.getUserById(vm.deal.buyer, vm.users).profile.surname }}
                |
                {{ vm.getUserById(vm.deal.buyer, vm.users).username }}
            </span>
            <span class="md-subhead" deal-status value="vm.deal.status"></span>
            <span class="md-subhead" translate>
                Дата создания: {{ vm.deal.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}
            </span>
            <md-button class="md-primary"
                       ng-repeat="moneyTransactionId in vm.deal.moneyTransactionsId"
                       ng-href="/admin/transaction/view/{{moneyTransactionId}}">
                Транзакция <span ng-if="vm.deal.moneyTransactionsId.length > 1">{{$index+1}}</span>
            </md-button>
            <md-button ng-if="vm.deal.type == vm.dealsType.game || vm.deal.type == vm.dealsType.gameWithMediator"
                       class="md-primary"
                       ng-href="/admin/game/view/{{vm.deal.targetForSale}}">
                Объект сделки
            </md-button>
            <md-button ng-if="vm.deal.type == vm.dealsType.thing"
                       class="md-primary"
                       ng-href="/admin/thing/view/{{vm.deal.targetForSale}}">
                Объект сделки
            </md-button>
        </md-card-title-text>
    </md-card-title>
</md-card>
