<md-list ng-cloak>
	<md-subheader class="md-no-sticky">
		<h2>
           <span translate>
                Свободные деньги:
           </span>
		</h2>
	</md-subheader>
	<section class="md-margin" layout="column" layout-align="center start" layout-wrap>
		<md-input-container>
			<label>Id транзакции</label>
			<input ng-model="vm.search.transactionId" type="text">
		</md-input-container>
		<md-input-container>
			<label translate>
				Статус
			</label>
			<md-select ng-model="vm.search.status">
				<md-option ng-value="">Любой</md-option>
				<md-option ng-value="0">Выведены</md-option>
				<md-option ng-value="1">Активные</md-option>
			</md-select>
		</md-input-container>
		<md-checkbox ng-model="vm.selectAllFlag" ng-click="vm.selectAll()">
			<span translate>Выделить все</span>
		</md-checkbox>
		<div ng-if="vm.outSum">
			<md-button ng-click="vm.payout()" class="md-primary md-raised">
				<span translate>Вывести средства</span>
			</md-button>
			{{vm.outSum}}
		</div>
	</section>
	<md-list-item ng-repeat="commission in vm.freeMoney" class="noright" scrolling>
		<div class="md-list-item-text">
			<p>
                <span translate>
                    Id транзакции:
                </span>
				{{commission.transactionId}}
			</p>
			<p>
				<md-checkbox ng-if="commission.status" ng-model="commission.status"
							 ng-click="vm.changeActivity(commission)"
							 aria-label="ActiveMoney">
					<span translate>Вывести средства</span>
				</md-checkbox>
			</p>
			<p>
                <span translate>
                    Сумма: {{commission.sum}}
                </span>
				<span class="fa fa-rub"></span>
			</p>
			<hr>
		</div>
	</md-list-item>
</md-list>
