<md-card id="game-view" class="md-padding">
    <md-card-title>
		<md-card-avatar>
			<img class="md-user-avatar" src="{{vm.gameAccount.category.image | displayImage}}" alt="game-category">
		</md-card-avatar>
        <md-card-title-text layout="column">
			<span class="md-title">
				{{vm.gameAccount.category.name}}
			</span>
            <span class="md-subhead">
                {{vm.gameAccount.name}}
            </span>
            <span class="md-subhead">
                {{vm.gameAccount.description}}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-title-media layout="row" layout-align="start start" layout-margin>
        <div ng-repeat="image in vm.gameAccount.images">
            <img ng-if="$index==0" ng-src="{{image | displayImage}}" class="md-card-image main-image">
            <div ng-if="$index!=0" id="gallery-container" layout="row" layout-align="start start" layout-margin layout-wrap>
                <img ng-src="{{image | displayImage}}" class="md-card-image">
            </div>
        </div>
    </md-card-title-media>
    <md-card-content layout="column" layout-align="space-between start">
        <div class="md-subhead" translate>
            Цена: {{vm.gameAccount.price}} <span class="fa fa-rub"></span>
        </div>
        <div class="md-subhead" translate>
            Комиссия: {{vm.gameAccount.commission}} <span class="fa fa-rub"></span>
        </div>
        <div class="md-subhead" game-status value="vm.gameAccount.status"></div>
        <div ng-if="vm.gameAccount.creator" class="md-subhead" translate>
            <md-button ng-href="/user/profile?id={{vm.gameAccount.creator}}">Продавец</md-button>
        </div>
        <div ng-if="vm.gameAccount.buyer" class="md-subhead" translate>
            <md-button ng-href="/user/profile?id={{vm.gameAccount.buyer}}">Покупатель</md-button>
        </div>
    </md-card-content>
</md-card>