<md-list ng-cloak>
	<md-subheader class="md-no-sticky">
		<h2>
           <span translate>
                Управление играми
           </span>
		</h2>
	</md-subheader>
	<section class="md-margin" layout="column" layout-align="center start" layout-wrap>
		<md-input-container>
			<label>Id игры</label>
			<input ng-model="vm.search.gameId" type="text">
		</md-input-container>
	</section>
	<md-list-item ng-repeat="game in vm.gameAccount" class="noright" scrolling>
		<div class="md-list-item-text">
			<p>
                <span translate>
                    Id игры:
                </span>
				{{game._id}}
			</p>
			<p>
				<md-button ng-if="game.status != vm.gameStatus.isBlocked" ng-click="vm.blockGame(game)"
							 aria-label="BlockGame">
					<span translate>Заблокировать</span>
				</md-button>
				<md-button ng-if="game.status == vm.gameStatus.isBlocked" ng-click="vm.publishGame(game)"
							 aria-label="BlockGame">
					<span translate>На паблик</span>
				</md-button>
			</p>
			<p>
                <span translate>
                    Название: {{game.name}}
                </span>
			</p>
			<p>
                <span translate>
                    Описание: {{game.description}}
                </span>
			</p>
			<hr>
		</div>
	</md-list-item>
</md-list>
