<md-card id="game-view" class="md-padding">
    <md-card-title>
		<md-card-avatar>
			<img class="md-user-avatar" src="{{vm.gameAccount.category.image | displayImage}}" alt="game-category">
		</md-card-avatar>
        <md-card-title-text layout="column">
			<span class="md-title">
				{{vm.gameAccount.category.name}}
			</span>
            <span class="md-headline">
                {{vm.gameAccount.price + vm.gameAccount.commission}} <span class="fa fa-rub"></span>
            </span>
            <span class="md-subhead">
                {{vm.gameAccount.name}}
            </span>
            <span class="md-subhead">
                {{vm.gameAccount.description}}
            </span>
        </md-card-title-text>
        <div ng-if="vm.gameAccount.sellingMode">
            <md-tooltip>
                <span translate>
                    Мгновенная покупка - проверенный аккаунт
                </span>
            </md-tooltip>
            <span class="fa fa-checkbox-marked-outline" style="font-size: 50px;"></span>
        </div>
    </md-card-title>
    <md-card-title-media layout="row" layout-align="start start" layout-margin>
        <div ng-repeat="image in vm.gameAccount.images">
            <img ng-if="$index==0" ng-src="{{image | displayImage}}" class="md-card-image main-image">
            <div ng-if="$index!=0" id="gallery-container" layout="row" layout-align="start start" layout-margin layout-wrap>
                <img ng-src="{{image | displayImage}}" class="md-card-image">
            </div>
        </div>
    </md-card-title-media>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="vm.successDeal($event)">
            <span translate>
                Проведена успешно
            </span>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="vm.failDeal($event)">
            <span translate>
                Проведена с ошибкой
            </span>
        </md-button>
    </md-card-actions>
</md-card>
<md-toolbar>
	<h2 class="md-toolbar-tools">
		<span translate>Комментарии</span>
	</h2>
</md-toolbar>
<md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="{{vm.chatType.common}}">
		<md-content class="md-padding">
			<chat create-method="vm.chat.createCommentMethodName"
				  create-param="vm.chat.createCommentParam"
				  comments-subscribe="vm.chat.commentsSubscribe"
				  subscribe-method="vm.chat.subscribeMethod"
				  comment-key="vm.chat.commentKey"
				  object-id="vm.gameAccount._id"
				  comment-type="vm.chat.commentType">
			</chat>
		</md-content>
	</md-tab>
	<md-tab label="{{vm.chatType.chatWithBuyer}}">
		<md-content class="md-padding">
			<chat create-method="vm.chatWithBuyer.createCommentMethodName"
				  create-param="vm.chatWithBuyer.createCommentParam"
				  comments-subscribe="vm.chatWithBuyer.commentsSubscribe"
				  subscribe-method="vm.chatWithBuyer.subscribeMethod"
				  comment-key="vm.chatWithBuyer.commentKey"
				  object-id="vm.gameAccount._id"
				  comment-type="vm.chatWithBuyer.commentType">
			</chat>
		</md-content>
	</md-tab>
	<md-tab label="{{vm.chatType.chatWithSeller}}">
		<md-content class="md-padding">
			<chat create-method="vm.chatWithSeller.createCommentMethodName"
				  create-param="vm.chatWithSeller.createCommentParam"
				  comments-subscribe="vm.chatWithSeller.commentsSubscribe"
				  subscribe-method="vm.chatWithSeller.subscribeMethod"
				  comment-key="vm.chatWithSeller.commentKey"
				  object-id="vm.gameAccount._id"
				  comment-type="vm.chatWithSeller.commentType">
			</chat>
		</md-content>
	</md-tab>
</md-tabs>