<md-checkbox ng-if="!vm.onlyFree" ng-model="vm.onlyMy" aria-label="Only my">
    Только мои
</md-checkbox>
<md-checkbox ng-if="!vm.onlyMy" ng-model="vm.onlyFree" aria-label="Only free">
    Только свободные
</md-checkbox>
<empty-page ng-if="!vm.notEmptySection(vm.gameAccounts)"></empty-page>
<md-content ng-if="vm.notEmptySection(vm.gameAccounts)"
            class="md-padding" layout-xs="row" layout-gt-xs="row" layout-wrap>
    <md-card ng-repeat="gameAccount in vm.gameAccounts"
             flex-xs="100" flex-sm="45" flex-md="45" flex-lg="30" flex-gt-lg="20">
        <md-card-header>
			<md-card-avatar>
				<img class="md-user-avatar" src="{{gameAccount.category.image | displayImage}}" alt="game-category">
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">
					{{gameAccount.category.name}}
				</span>
			</md-card-header-text>
            <div>
                <md-tooltip>
                    <span translate>
                        Сделка в процессе
                    </span>
                </md-tooltip>
                <span class="fa fa-clock" style="font-size: 50px;"></span>
            </div>
        </md-card-header>
        <a ng-href="/admin/game-deal/view/{{gameAccount._id}}">
            <md-tooltip>
                <span translate>Просмотр</span>
            </md-tooltip>
            <img ng-src="{{gameAccount.images | displayMainImage}}" class="md-card-image" alt="main image">
        </a>
        <md-card-title>
            <md-card-title-text>
                <span ng-if="gameAccount.moderator" class="md-headline" translate>
                    Модератор работает
                </span>
                <span class="md-headline">
                    {{gameAccount.price + gameAccount.commission}} <span class="fa fa-rub"></span>
                </span>
                <span class="md-headline">{{gameAccount.name}}</span>
                <span class="md-subhead">
                    {{gameAccount.description | limitTo: 40}}
                    {{gameAccount.description.length > 40 ? '...' : ''}}
                </span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</md-content>