<md-card id="game-view" class="md-padding">
    <md-card-title>
        <md-card-title-text layout="column">
            <span class="md-headline" translate>
                Сумма заявки: {{vm.userPayOutBid.sum}}
            </span>
            <span class="md-subhead" translate>
                Тип аккаунта: <span get-wallet-type-by-id account-type="vm.userPayOutBid.accountType"></span>
            </span>
            <span class="md-subhead" translate>
                Номер счета: {{vm.userPayOutBid.accountNumber}}
            </span>
            <span class="md-subhead" translate>
                Дата создания: {{vm.userPayOutBid.createdAt | date}}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions ng-if="vm.notFinalStatus()" layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="vm.success()">
            <span translate>
                Обработана
            </span>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="vm.error()">
            <span translate>
                Ошибка
            </span>
        </md-button>
    </md-card-actions>
</md-card>
