<md-list ng-cloak>
    <md-subheader class="md-no-sticky">
        <span translate>
            Отправленные заявки:
        </span>
    </md-subheader>
    <section class="md-margin" layout="column" layout-align="center start" layout-wrap>
        <md-input-container>
            <label translate>id</label>
            <input autocomplete="off" ng-model="vm.search._id">
        </md-input-container>
        <md-autocomplete
                md-search-text="vm.userLogin"
                md-selected-item-change="vm.selectedItemChange(user)"
                md-items="user in vm.users"
                md-item-text="user.username + ' ' + user.profile.name + ' ' + user.profile.surname"
                md-min-length="0"
                placeholder="Создатель">
            <md-item-template>
                <span md-highlight-text="vm.userLogin" md-highlight-flags="^i">
                    {{user.username + " " + user.profile.name + " " + user.profile.surname}}
                </span>
            </md-item-template>
            <md-not-found>
                Пользователь "{{vm.userLogin}}" не найден
            </md-not-found>
        </md-autocomplete>
        <md-input-container>
            <label translate>Статус</label>
            <md-select ng-model="vm.search.status">
                <md-option value=""></md-option>
                <md-option value="0" get-money-out-status></md-option>
                <md-option value="1" get-money-out-status></md-option>
                <md-option value="2" get-money-out-status></md-option>
                <md-option value="3" get-money-out-status></md-option>
            </md-select>
        </md-input-container>
    </section>
    <md-list-item ng-repeat="bid in vm.userPayOutBids"
                  ng-href="/admin/money-out/view/{{bid._id}}" class="noright" scrolling>
        <div class="md-list-item-text">
            <h3 translate>
                Сумма заявки: {{bid.sum}}
                <span class="fa fa-rub"></span>
            </h3>
            <h4 translate get-money-out-status value="bid.status"></h4>

            <p>{{bid.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </div>
    </md-list-item>
</md-list>
