<empty-page ng-if="!vm.notEmptySection(vm.tickets)"></empty-page>
<div scrolling>
    <section class="md-margin" layout="column" layout-align="center start" layout-wrap>
        <md-autocomplete flex
                         md-input-name="creator"
                         md-search-text="vm.userLoginCreator"
                         md-selected-item-change="vm.selectedOwnerChange(user)"
                         md-items="user in vm.users"
                         md-item-text="user.username + ' ' + user.profile.name + ' ' + user.profile.surname"
                         md-min-length="0"
                         md-floating-label="Создатель">
            <md-item-template>
                <span md-highlight-text="vm.userLogin" md-highlight-flags="^i">
                    {{user.username + " " + user.profile.name + " " + user.profile.surname}}
                </span>
            </md-item-template>
            <md-not-found translate>
                Пользователь "{{vm.userLoginCreator}}" не найден
            </md-not-found>
        </md-autocomplete>
       <md-input-container>
            <label translate>
                Категория
            </label>
            <md-select ng-model="vm.search.category">
                <md-option value="" get-ticket-category-name-by-id></md-option>
                <md-option value="10" get-ticket-category-name-by-id></md-option>
                <md-option value="20" get-ticket-category-name-by-id></md-option>
                <md-option value="30" get-ticket-category-name-by-id></md-option>
                <md-option value="40" get-ticket-category-name-by-id></md-option>
                <md-option value="50" get-ticket-category-name-by-id></md-option>
            </md-select>
        </md-input-container>
       <md-input-container>
            <label translate>
                Статус
            </label>
            <md-select ng-model="vm.search.status">
                <md-option value="" get-ticket-status-name-by-id></md-option>
                <md-option value="0" get-ticket-status-name-by-id></md-option>
                <md-option value="1" get-ticket-status-name-by-id></md-option>
                <md-option value="2" get-ticket-status-name-by-id></md-option>
                <md-option value="3" get-ticket-status-name-by-id></md-option>
            </md-select>
        </md-input-container>
    </section>
    <md-content layout-xs="row" layout-gt-xs="row" layout-wrap>
        <md-card ng-repeat="ticket in vm.tickets"
                 flex-xs="100" flex-sm="45" flex-md="45" flex-lg="30" flex-gt-lg="20">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title" get-ticket-category-name-by-id category="ticket.category"></span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" get-ticket-status-name-by-id status="ticket.status"></span>
                    <span class="md-headline">
                        <span translate>Тема: </span>
                        {{ticket.subject}}
                    </span>
                    <span class="md-subhead">
                        <span translate>Описание: </span>
                        {{ticket.description | cutWithEllipsis: 40}}
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
                <md-button ng-href="/admin/ticket/view/{{ticket._id}}?scrollTo=chat-form">
                    <md-tooltip>
                        <span translate>Перейти к тикету</span>
                    </md-tooltip>
                    <md-icon aria-label="admin-deals" md-svg-icon="communication:ic_comment_24px"></md-icon>
                </md-button>
            </md-card-actions>
            <md-card-content></md-card-content>
        </md-card>
    </md-content>
</div>
