<md-card id="ticket-view" class="md-padding">
    <md-card-title>
        <md-card-title-text layout="column">
            <span class="md-headline"
                  get-ticket-category-name-by-id
                  category="vm.ticket.category">
            </span>
            <span class="md-headline" get-ticket-status-name-by-id status="vm.ticket.status"></span>
            <span class="md-subhead">
                <span translate>Тема: </span>
                {{vm.ticket.subject}}
            </span>
            <span class="md-subhead">
                <span translate>Описание: </span>
                {{vm.ticket.description}}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-title-media layout="row" layout-align="start start" layout-margin>
		<ng-gallery ng-if="vm.images" images="vm.images"></ng-gallery>
    </md-card-title-media>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-grid-item-content md-raised" ng-href="/ticket/edit/{{vm.ticket._id}}">
            <span class="md-grid-text" translate>
                Редактировать
            </span>
        </md-button>
        <md-button class="md-grid-item-content md-raised md-primary" ng-click="vm.close()">
            <span class="md-grid-text" translate>
                Закрыть
            </span>
        </md-button>
    </md-card-actions>
</md-card>

<chat create-method="vm.chat.createCommentMethodName"
      create-param="vm.chat.createCommentParam"
      comments-subscribe="vm.chat.commentsSubscribe"
      subscribe-method="vm.chat.subscribeMethod"
      comment-key="vm.chat.commentKey"
      object-id="vm.ticket._id"
      comment-type="vm.chat.commentType"
></chat>