<md-list ng-cloak>
    <md-subheader class="md-no-sticky">
        <h2>
           <span translate>
                Транзакции:
            </span>
        </h2>
    </md-subheader>
    <section class="md-margin" layout="column" layout-align="center start" layout-wrap>
        <md-input-container>
            <label translate>
                ID
            </label>
            <input ng-model="vm.search._id">
        </md-input-container>
        <md-autocomplete flex
                         md-input-name="owner"
                         md-search-text="vm.userLoginOwner"
                         md-selected-item-change="vm.selectedOwnerChange(user)"
                         md-items="user in vm.users"
                         md-item-text="user.username + ' ' + user.profile.name + ' ' + user.profile.surname"
                         md-min-length="0"
                         md-floating-label="Владелец">
            <md-item-template>
                <span md-highlight-text="vm.userLogin" md-highlight-flags="^i">
                    {{user.username + " " + user.profile.name + " " + user.profile.surname}}
                </span>
            </md-item-template>
            <md-not-found translate>
                Пользователь "{{vm.userLoginOwner}}" не найден
            </md-not-found>
        </md-autocomplete>
        <md-input-container>
            <label translate>
                Статус
            </label>
            <md-select ng-model="vm.search.status">
                <md-option value="" get-transaction-status></md-option>
                <md-option value="0" get-transaction-status></md-option>
                <md-option value="1" get-transaction-status></md-option>
                <md-option value="2" get-transaction-status></md-option>
                <md-option value="3" get-transaction-status></md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label translate>
                Тип
            </label>
            <md-select ng-model="vm.search.type">
                <md-option value="" get-transaction-type></md-option>
                <md-option value="1" get-transaction-type></md-option>
                <md-option value="2" get-transaction-type></md-option>
            </md-select>
        </md-input-container>
    </section>
    <md-list-item ng-repeat="transaction in vm.moneyTransactions" ng-href="/admin/transaction/view/{{transaction._id}}" class="noright" scrolling>
        <div class="md-list-item-text">
            <p>
                <span translate>
                    Создатель:
                </span>
                {{vm.getUserById(transaction.owner, vm.users).profile.name + ' ' + vm.getUserById(transaction.owner, vm.users).profile.surname }}
            </p>
            <p>
                <span value="transaction.status" get-transaction-status></span>
            </p>
            <p>
                <span value="transaction.type" get-transaction-type></span>
            </p>
            <p>
                <span translate>
                    Сумма: {{transaction.sum}}
                </span>
                <span class="fa fa-rub"></span>
            </p>
        </div>
    </md-list-item>
</md-list>
