<md-card id="transactions-view" class="md-padding">
    <md-card-title>
        <md-card-title-text layout="column">
            <span class="md-headline" translate>
                Сумма:
                {{ vm.transaction.sum }}
            </span>
            <span class="md-subhead" get-transaction-type value="vm.transaction.type"></span>
            <span class="md-subhead" translate>
                Создатель:
                {{ vm.getUserById(vm.transaction.owner, vm.users).profile.name }}
                {{ vm.getUserById(vm.transaction.owner, vm.users).profile.surname }}
                |
                {{ vm.getUserById(vm.transaction.owner, vm.users).username }}
            </span>
            <span class="md-subhead" get-transaction-status value="vm.transaction.status"></span>
            <span class="md-subhead" translate>
                Дата создания: {{ vm.transaction.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}
            </span>
            <md-button class="md-primary" ng-href="/admin/deals/view/{{vm.transaction.data._id}}">
                Сделка
            </md-button>
        </md-card-title-text>
    </md-card-title>
</md-card>
