<md-button ng-if="!vm.userIsBlock()" class="md-raised md-warn" ng-click="vm.blockToggle()" translate>
    Блокировать пользователя
</md-button>
<md-button ng-if="vm.userIsBlock()" class="md-raised md-primary" ng-click="vm.blockToggle()" translate>
    Разблокировать пользователя
</md-button>

<h2 class="md-title" translate>
    Изменить пользователя
</h2>
<md-content layout-padding layout="column">

    <form name="userForm" ng-submit="vm.change()" layout="column">

        <md-input-container>
            <label translate>Имя</label>
            <input autocomplete="off" required name="name" ng-model="vm.user.profile.name">

            <div ng-messages="userForm.name.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label translate>Фамилия</label>
            <input autocomplete="off" required name="surname" ng-model="vm.user.profile.surname">

            <div ng-messages="userForm.surname.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label translate>email (будет использоваться как логин при входе)</label>
            <input autocomplete="off" required name="username" ng-model="vm.user.username"
                   ng-pattern="emailPattern">

            <div ng-messages="userForm.username.$error">
                <div ng-message="userExist" translate>Пользователь с этим login уже существует!</div>
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="pattern" translate>Не меньше 6 символов</div>
            </div>
        </md-input-container>

        <h3 translate>
            Установите новый пароль, если хотите его изменить
        </h3>
        <md-input-container>
            <label translate>пароль</label>
            <input autocomplete="off" name="password" type="password" ng-minlength="6" ng-model="vm.user.password">

            <div ng-messages="userForm.password.$error">
                <div ng-message="minlength" translate>Не меньше 6 символов</div>
            </div>
        </md-input-container>

        <div layout="row">
            <md-input-container>
                <label translate>Roles</label>
                <md-select ng-model="vm.user.roles['__global_roles__']" multiple>
                    <md-optgroup label="Roles">
                        <md-option ng-value="role" ng-repeat="role in vm.roleTypes">
                            {{role}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>

        <md-button type="submit" class="md-raised md-primary" translate>Изменить</md-button>

    </form>

</md-content>