<md-list ng-cloak>
    <md-subheader class="md-no-sticky">
        <span translate>
            Управление пользователями
        </span>
    </md-subheader>
    <section class="md-margin" layout="column" layout-align="center start" layout-wrap>
        <md-button class="md-raised" ng-href="/admin/create-user">
            <span translate>
                Добавить пользователя
            </span>
        </md-button>
        <md-input-container>
            <label translate>id</label>
            <input autocomplete="off" ng-model="vm.search._id">
        </md-input-container>
        <md-input-container>
            <label translate>email</label>
            <input autocomplete="off" ng-model="vm.search.username">
        </md-input-container>
    </section>
    <md-list-item ng-repeat="user in vm.users"
                  ng-href="/admin/user-management/edit/{{user._id}}" class="noright" scrolling>
        <avatar image-class="md-avatar" user-id="user._id" image-id="user.profile.avatar"></avatar>
        <p>
            {{user.profile.name + " " + user.profile.surname}}
        </p>
    </md-list-item>
</md-list>