<md-content ng-if="vm.moneyAccount.sum" layout="column" layout-align="start start" class="md-padding" layout-wrap>
    <div class="md-body-1" translate>У вас на счету: <br>
        <span class="md-headline">
            {{vm.moneyAccount.sum}}<span class="fa fa-rub"></span>
        </span>
    </div>
    <div layout="row" layout-align="start center">
        <md-button ng-href="/money/account/put-money">
            <md-tooltip>
                <span translate>Пополнить счёт несколькими способами</span>
            </md-tooltip>
            <md-icon aria-label="money-account-put-money" md-svg-icon="editor:ic_attach_money_24px"></md-icon>
            <span translate>Пополнить</span>
        </md-button>
        <md-button ng-href="/money/pay-out-bid">
            <md-tooltip>
                <span translate>Вывести деньги из системы несколькими способами</span>
            </md-tooltip>
            <md-icon aria-label="money-account-put-money" md-svg-icon="editor:ic_monetization_on_24px"></md-icon>
            <span translate>Вывести</span>
        </md-button>
    </div>
</md-content>
<md-content ng-if="!vm.moneyAccount.sum" layout-align="center center" class="md-padding" layout="column" layout-wrap>
    <span class="md-body-1" translate>
        У вас нет средств на счету! Если вы хотите совершать покупки, вам необходимо пополнить счет
    </span>
    <md-card-actions layout="column" layout-align="start center">
        <md-button ng-href="/money/account/put-money">
            <md-tooltip>
                <span translate>Пополнить счёт несколькими способами</span>
            </md-tooltip>
            <md-icon aria-label="money-account-put-money" md-svg-icon="editor:ic_attach_money_24px"></md-icon>
            <span translate>Пополнить</span>
        </md-button>
    </md-card-actions>
</md-content>

<md-toolbar ng-if="vm.notEmptySection(vm.userPayOutBids)" class="md-theme-light">
    <h2 class="md-toolbar-tools">
        <span translate>Отправленные заявки:</span>
    </h2>
</md-toolbar>
<md-content scrolling>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="bid in vm.userPayOutBids">
            <div class="md-list-item-text">
                <h3 translate>
                    Сумма заявки: {{bid.sum}}
                    <span class="fa fa-rub"></span>
                </h3>
                <h4 translate get-money-out-status value="bid.status"></h4>
                <p>{{bid.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            </div>
            <md-divider md-inset ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-content>
