<form name="createPayment" validator ng-submit="paymentRequest.startPay()" class="md-padding" layout="column">
    <md-input-container>
        <label translate>Введите сумму</label>
        <input autocomplete="off" required id="amount_due" type="number" min="10"
               name="sum" ng-disabled="paymentRequest.queryProcess" ng-maxlength="50"
               ng-model="paymentRequest.sum">

        <div ng-messages="createPayment.sum.$error">
            <div ng-message="required" translate>Обязательное поле!</div>
			<div ng-message="min" translate>
				Неверная сумма!
			</div>
        </div>
    </md-input-container>
    <md-button type="submit">Пополнить</md-button>
</form>
<md-toolbar ng-show="paymentRequest.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
    <p class="md-body-1">{{ paymentRequest.error }}</p>
</md-toolbar>