<form name="createPayment" validator ng-submit="putRobokassa.startPay()" class="md-padding" layout="column">
    <md-input-container>
        <label translate>Введите сумму</label>
        <input autocomplete="off" required id="amount_due"
               name="sum" ng-disabled="putRobokassa.queryProcess" ng-maxlength="50"
               ng-model="putRobokassa.sum">

        <div ng-messages="createPayment.sum.$error">
            <div ng-message="required" translate>Обязательное поле!</div>
        </div>
    </md-input-container>
    <md-button type="submit">Пополнить</md-button>
</form>
<md-toolbar ng-show="putRobokassa.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
    <p class="md-body-1">{{ putRobokassa.error }}</p>
</md-toolbar>