<form name="createPayment" validator ng-submit="putYandexMoney.startPay()" class="md-padding" layout="column">
    <md-input-container>
        <label translate>Введите сумму</label>
        <input autocomplete="off" required id="amount_due" type="number" min="10"
               name="amount_due" ng-disabled="putYandexMoney.queryProcess" ng-maxlength="50"
               ng-model="putYandexMoney.options.amount_due">

        <div ng-messages="createPayment.amount_due.$error">
            <div ng-message="required" translate>Обязательное поле!</div>
			<div ng-message="min" translate>
				Неверная сумма!
			</div>
        </div>
    </md-input-container>
    <md-button type="submit">Пополнить</md-button>
</form>
<md-toolbar ng-show="putYandexMoney.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
    <p class="md-body-1">{{ putYandexMoney.error }}</p>
</md-toolbar>