<md-dialog aria-label="Confirm action">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>
                    Поддтвердите действие
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;">
            <div class="md-dialog-content" translate layout-padding layout-margin>
                Модератор, пропуская игровой аккаунт, вы берете на себя ответственность за предоставленную пользователем информацию
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-href="/rules?scrollTo=moderation" target="_blank" md-autofocus>
                <span translate>Прочитать правила модерирования</span>
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()">
                <span translate>Отмена</span>
            </md-button>
            <md-button ng-click="success()">
                <span translate>Согласен</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>