<h2 class="md-title" translate>
    Изменить свои учетные данные. После нужно будет заново авторизоваться.
</h2>
<md-content layout-padding layout="column">
    <md-card-avatar ng-if="vm.userData.profile.avatar">
        <avatar image-class="face" user-id="vm.userData._id" image-id="vm.userData.profile.avatar"></avatar>
    </md-card-avatar>

    <image-upload-and-crop is-array="false" img-obj="vm.changeAvatar"></image-upload-and-crop>

    <form name="userForm" ng-submit="vm.saveProfile()" layout="column">

        <md-input-container>
            <label translate>Имя</label>
            <input autocomplete="off" required id="user-name" name="name" ng-model="vm.userData.profile.name">

            <div ng-messages="userForm.name.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label translate>Фамилия</label>
            <input autocomplete="off" required id="user-surname" name="surname" ng-model="vm.userData.profile.surname">

            <div ng-messages="userForm.username.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label translate>email (будет использоваться как логин при входе)</label>
            <input autocomplete="off" required name="username" ng-model="vm.userData.username"
                   ng-pattern="emailPattern">

            <div ng-messages="userForm.username.$error">
                <div ng-message="exist" translate>Пользователь с этим email уже существует!</div>
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="pattern" translate>Не меньше 6 символов</div>
            </div>
        </md-input-container>

        <div ng-if="!vm.checkUserEmail()">
            <h4 translate>
                Если хотите принимать уведомления на email подтвердите свой адрес электронной почты
            </h4>
            <md-button ng-click="vm.sendEmailVerifyActions()" class="md-raised">
                <span translate>
                    Выслать подтверждение
                </span>
            </md-button>
        </div>

        <div ng-if="vm.checkUserEmail()">
            <md-checkbox ng-model="vm.userData.profile.sendEmailNotification" aria-label="sendEmailNotification">
                <span translate>Присылать уведомления на email</span>
            </md-checkbox>
        </div>

        <h4 translate>
            Установите новый пароль, если хотите его изменить
        </h4>
        <md-input-container>
            <label translate>пароль</label>
            <input autocomplete="off" name="password" type="password" ng-minlength="6" ng-model="vm.userData.password">

            <div ng-messages="userForm.password.$error">
                <div ng-message="minlength" translate>Не меньше 6 символов</div>
            </div>
        </md-input-container>

        <md-button type="submit" ng-disabled="queryProcess" class="md-raised md-primary" translate>Изменить</md-button>

    </form>

</md-content>