<h2 class="md-title" translate>
	Восстановление пароля
</h2>
<form ng-if="vm.tokenExist" name="setNewPass" validator ng-submit="vm.changePassword()" layout="column">

	<md-input-container>
		<label translate>Пароль</label>
		<input autocomplete="off" required name="password" type="password" ng-minlength="6" ng-model="vm.newPass">

		<div ng-messages="setNewPass.password.$error">
			<div ng-message="required" translate>Обязательное поле!</div>
			<div ng-message="minlength" translate>Не меньше 6 символов</div>
		</div>
	</md-input-container>

	<md-button type="submit" ng-disabled="queryProcess" class="md-raised md-primary" translate>
		Установить пароль
	</md-button>

</form>
<form ng-if="!vm.tokenExist" name="createRestorePassQuery" validator ng-submit="vm.sendEmail()" layout="column">

	<md-input-container>
		<label translate>Email указанный при регистрации</label>
		<input autocomplete="off" required name="username" ng-model="vm.username"
			   ng-pattern="emailPattern">

		<div ng-messages="createRestorePassQuery.username.$error">
			<div ng-message="exist" translate>Пользователь с этим email уже существует!</div>
			<div ng-message="required" translate>Обязательное поле!</div>
			<div ng-message="pattern" translate>Не меньше 6 символов</div>
		</div>
	</md-input-container>

	<md-button type="submit" ng-disabled="vm.queryProcess" class="md-raised md-primary" translate>
		Восстановить пароль
	</md-button>

</form>