<md-button class="md-raised" ng-href="/admin/category/upsert">
	<span translate>
		Добавить категорию
	</span>
</md-button>

<md-content layout-xs="row" layout-gt-xs="row" layout-wrap>
	<md-card ng-repeat="item in vm.categoryKeywords"
			 flex-xs="100" flex-sm="45" flex-md="45" flex-lg="30" flex-gt-lg="20">
		<md-card-header>
			<md-card-header-text>
				<img src="{{item.image | displayImage}}" style="width: 64px;">
				{{item.name}}
			</md-card-header-text>
		</md-card-header>
		<md-card-actions layout="row" layout-align="start center">
			<md-button ng-href="/admin/category/upsert?id={{item._id}}">
				<md-tooltip>
					<span translate>Редактировать</span>
				</md-tooltip>
				<md-icon aria-label="edit-keytags" md-svg-icon="image:ic_edit_24px"></md-icon>
			</md-button>
		</md-card-actions>
	</md-card>
</md-content>