<h2 class="md-title" translate>
	Создать новый поисковый тег
</h2>
<md-content layout-padding layout="column">

	<form name="createCategoryKeywordsForm" ng-submit="vm.create()" layout="column">

		<fieldset class="standard" id="image-data">
			<legend translate>Иконка категории</legend>

			<image-upload-and-crop ng-if="!imageAdd"
								   is-array="false"
								   is-icon="true"
								   img-obj="vm.gameAccountType"
								   obj-key="image"></image-upload-and-crop>

			<div ng-if="vm.gameAccountType.image" layout="column" class="images-container-title">
				<div layout="row" layout-wrap>
					<img ng-if="vm.icon" draggable="false" ng-src="{{ vm.icon.url }}">
					<img ng-if="vm.gameAccountType.image._id"
						 draggable="false" ng-src="{{ vm.gameAccountType.image | displayImage }}">
				</div>
			</div>

			<input required name="image" class="input-image-file" ng-model="vm.gameAccountType.image">

			<div class="validation-messages" ng-messages="createCategoryKeywordsForm.image.$error">
				<div ng-message="required" translate>Обязательное действие! Добавите минимум одно изображение!</div>
			</div>
		</fieldset>

		<md-input-container>
			<label translate>Введите название игры</label>
			<input autocomplete="off" required id="name" name="name"
					  ng-model="vm.gameAccountType.name">
			<div ng-messages="createCategoryKeywordsForm.name.$error">
				<div ng-message="required" translate>Обязательное поле!</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label translate>Введите ключевые теги</label>
			<textarea autocomplete="off" id="keywords" name="keywords"
					  ng-model="vm.gameAccountType.keywords"></textarea>
			<div ng-messages="createCategoryKeywordsForm.keywords.$error">
				<div ng-message="required" translate>Обязательное поле!</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label translate>Введите мета теги</label>
			<textarea autocomplete="off" id="metaTags" name="metaTags"
					  ng-model="vm.gameAccountType.metaTags"></textarea>
			<div ng-messages="createCategoryKeywordsForm.metaTags.$error">
				<div ng-message="required" translate>Обязательное поле!</div>
			</div>
		</md-input-container>

		<md-checkbox ng-model="vm.gameAccountType.isActive" aria-label="isActive">
			<span translate>Активный тип</span>
		</md-checkbox>

		<md-button type="submit" class="md-raised md-primary" translate>Добавить</md-button>

	</form>

</md-content>